
// .overlay{
//     z-index: 10000;
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background: #282c3f;
//     opacity: .7;
//     overflow: hidden;

//     .fetch-address{
//         position: fixed;
//         top: 0;
//         height: 100%;
//         max-height: 100vh;
//         overflow-y: scroll;
//         background: #fff;
//         transition: transform .3s ease-out;
//         z-index: 10001;
//         transform: translateZ(0);
//         left: 0px;
//         right: auto;
//         transform: translate(0%, 0px);
//         padding-left: 120px;
//         padding-right: 40px;
//         width: 522px;
//         .cross {
//             a{
//                 color: #3d4152;
//                 cursor: pointer;
//                 font-size: 30px;
//             }
//         }
//     }
// }