
:host{
  --scrollToTop_right:20px;
  --scrollToTop_bottom:20px;
  // --scrollToTop_bg_color:white;
  --scrollToTop_bg_color:rgba(0, 0, 0, 0.6);
}
//scss variables
$scrollToTop-right: var(--scrollToTop_right);
$scrollToTop-bottom: var(--scrollToTop_bottom);
$scrollToTop-bg_color: var(--scrollToTop_bg_color);
.floating-btn{
  position: fixed;
  right: $scrollToTop-right;
  bottom: $scrollToTop-bottom;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $scrollToTop-bg_color;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  svg{
    transform: rotate(180deg);
  }
  &:hover{
    box-shadow: 0 0 8px rgba(0,0,0,.14), 0 8px 16px rgba(0,0,0,.28);
  }
}
