@import '~assets/css/switch';
@import '~assets/css/variables';

// .app-header {
//   height: 70px;
//   max-height: 70px;
//   width: 20%;
//   padding-left: 3%;
//   display: flex;
//   display: -webkit-flex;
//   -webkit-flex-direction: row;
//   flex-direction: row;
//   -webkit-justify-content: flex-start;
//   justify-content: flex-start;
//   -webkit-align-items: flex-start;
//   align-items: flex-start;
// }

// .navbar-default {
//   border: none;
// }

// .header {
//   display: flex;
//   display: -webkit-flex;
//   -webkit-flex-direction: row;
//   flex-direction: row;
//   align-items: center;
//   -webkit-align-items: center;
// }

// /deep/ .pac-container {
//   z-index: 99999 !important;
// }

// .profile_menu {
//   width: 77%;
//   display: flex;
//   display: -webkit-flex;
//   -webkit-flex-direction: row;
//   flex-direction: row;
//   -webkit-justify-content: flex-end;
//   justify-content: flex-end;
//   -webkit-align-items: center;
//   align-items: center;

//   .btn {
//     color: white;
//   }
// }

// .profileMobile {
//   margin: 18px 10px;
// }

// .searchDeskTop {
//   margin: 18px 20px 10px 10px !important;
// }

// .open>.dropdown-menu {
//   -webkit-transform: scale(1, 1);
//   transform: scale(1, 1);

// }

// .dropdown-menu {
//   padding: 0px;
//   // left: -70px;
//   right: 0px;
//   -webkit-transform-origin: top;
//   transform-origin: top;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-transform: scale(1, 0);
//   display: block;
//   transition: all 0.2s ease-out;
//   -webkit-transition: all 0.2s ease-out;

//   li {
//     cursor: pointer;
//     border-bottom: 1px solid #dedede;

//     a {
//       padding: 10px 20px;
//       white-space: normal !important;
//     }
//   }

// }

// .dropdown-menu.profileButtonDrop {
//   padding: 0px;
//   left: -70px;
//   -webkit-transform-origin: top;
//   transform-origin: top;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-transform: scale(1, 0);
//   display: block;
//   transition: all 0.2s ease-out;
//   -webkit-transition: all 0.2s ease-out;

//   li {
//     cursor: pointer;
//     border-bottom: 1px solid #dedede;

//     a {
//       padding: 10px 20px;
//       white-space: normal !important;
//     }
//   }

// }

// .dropdown-menu.langBtn {
//   padding: 0px;
//   left: -90px;
//   -webkit-transform-origin: top;
//   transform-origin: top;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-transform: scale(1, 0);
//   display: block;
//   transition: all 0.2s ease-out;
//   -webkit-transition: all 0.2s ease-out;

//   li {
//     cursor: pointer;
//     border-bottom: 1px solid #dedede;

//     a {
//       padding: 10px 20px;
//       white-space: normal !important;
//     }
//   }
// }

// .navbar-default .navbar-toggle .icon-bar {
//   background-color: #fff;
// }

// .navbar-default .navbar-toggle:hover,
// .navbar-default .navbar-toggle:focus {
//   border-color: #888 !important;
// }

// .navbar-default .navbar-toggle:focus,
// .navbar-default .navbar-toggle:hover {
//   .icon-bar {
//     background-color: #888 !important;
//   }
// }

// @media only screen and (max-width:768px) {
//   .navbar-default .navbar-nav .open .dropdown-menu>li>a {
//     color: #fff;
//   }
// }

// .logoImage {
//   padding: 0px 0px !important;

//   //padding:10px 15px !important;
//   img {
//     width: auto;
//     height: auto;
//     max-width: 150px;
//     max-height: 50px;
//   }
// }

// @media only screen and (max-width: 768px) {

//   /* For mobile phones: */
//   .app-header {
//     width: 40% !important;
//   }

//   .profile_menu {
//     width: 60% !important;
//   }

//   .dropdown-menu {
//     left: -70px;
//   }

//   .dropdown-menu.profileButtonDrop {
//     left: -70px;
//   }

//   .dropdown-menu.langBtn {
//     left: -90px;
//   }
// }

// @media only screen and (max-width: 576px) {

//   /* For mobile phones: */
//   .app-header {
//     width: 40% !important;
//   }

//   .profile_menu {
//     width: 60% !important;
//   }
// }

// //@media only screen and (max-width: 650px) {
// //  .logoImage{
// //    padding:16px 15px !important;
// //    img{
// //      width: 100px;
// //      height: 40px;
// //    }
// //  }
// //}

// .displayBlock {
//   display: block;
// }

// .widthFull {
//   width: 100%;
// }

// .widthAuto {
//   width: auto;
// }

// .navHeight {
//   height: 7rem;

//   .btn {
//     color: white;
//   }
// }

// .headerHeight {
//   height: 70px;
// }

// .burgurButton {
//   margin: 15px !important;
// }

// .loggedInUi {
//   margin: 0px !important;
//   display: inline-flex;
// }

// .noti {
//   // margin: 15px 10px;
//   // padding: 10px 0px;
//   position: relative;
// }

// .profileDrop {
//   margin: 17px 0px;
// }

// .arrowPadding {
//   //padding-top:25px;
// }

// .imagePadding {
//   //padding-left:15%;
//   padding-left: 30px;
// }

// .navbar-brand {
//   height: auto !important;
// }

// .changeLanguage {
//   margin: 17px 10px;

//   button {
//     min-width: 40px;
//     //line-height: 30px;
//   }
// }


// .loginBtn {
//   font-family: ProximaNova-Regular;
//   font-size: 18px;
//   letter-spacing: 0.3px;
//   color: #ffffff;
//   background: transparent;
//   border: 2px solid transparent;
//   outline: none;
//   padding: 5px 10px;
//   margin: 16px 0px;
//   cursor: pointer;

//   // &:hover {
//   //   border: 2px solid #fff;
//   //   color: #fff;
//   //   //transition: .5s;
//   //   border-radius: 10px;
//   // }
// }

// .add-on-set {
//   padding: 17px;
//   color: #cccccc;
//   font-size: 20px;
//   background-color: #fff;
// }

// .input-style {
//   height: 60px;
//   color: #333333;
//   font-size: 20px;
// }

// .marginZero {
//   margin: 0px;
// }

// .navbar-nav .open.profileDrop .dropdown-menu {
//   position: absolute;
//   background-color: #fff;
// }

// @media only screen and (max-width: 768px) {
//   .noti {
//     margin: auto;
//     padding: 10px 0px;
//     position: relative;
//   }

//   .profileDrop {
//     margin: auto;
//   }
// }


// /* ========================================================================
//     Component: Notification Popup
//     ========================================================================== */
// #notification_li {
//   position: relative
// }

// .notificationContainer {
//   background-color: #fff;
//   border: 1px solid rgba(100, 100, 100, 0.4);
//   -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
//   //overflow: scroll;
//   position: absolute;
//   top: 45px;
//   width: 313px;
//   //max-height: 250px;
//   right: -11px;
//   display: none;
// }

// .notificationTitle {
//   /*font-weight: bold;*/
//   padding: 8px;
//   font-size: 13px;
//   background-color: #ffffff;
//   position: fixed;
//   z-index: 1000;
//   width: 309px;
//   border-bottom: 1px solid #dddddd;
//   line-height: 1;
//   color: #333333;
//   font-family: ProximaNova-Semibold;
// }

// //@media(max-width:340px) {
// //
// //  #notificationContainer {
// //    width: 284px;
// //  }
// //  #notificationTitle {
// //    width: 280px !important;
// //  }
// //}

// /*Popup Arrow*/
// .notificationContainer:before {
//   content: '';
//   display: block;
//   position: absolute;
//   width: 14px;
//   height: 14px;
//   color: black;
//   margin-top: -8px;
//   /* margin-left: 188px; */
//   right: 14px;
//   background: #fff;
//   z-index: 99999;
//   transform: rotate(45deg);
//   border-top: solid 1px rgba(100, 100, 100, .4);
//   border-left: solid 1px rgba(100, 100, 100, .4);
//   border-right: solid 0px transparent;
//   border-bottom: solid 0px transparent;
// }

// #notificationsBody {
//   margin: 30px 0px 5px 0px !important;
//   max-height: 300px;
//   overflow-y: scroll;
// }

// #notificationsBody::-webkit-scrollbar {
//   width: 5px;
// }

// #notificationsBody::-webkit-scrollbar-thumb {
//   border-radius: 1px;
//   background: #e9ebee;
//   cursor: pointer;
//   width: 5px;
// }


// #notificationFooter {
//   /*background-color: #e9eaed;*/
//   text-align: center;
//   font-weight: bold;
//   padding: 8px;
//   font-size: 12px;
//   border-top: 1px solid #dddddd;
//   color: #ff8300;
//   line-height: 1;
// }

// #notification_count {
//   padding: 2px 0;
//   background: #e13d36;
//   color: #ffffff;
//   font-weight: bold;
//   margin-left: 4px;
//   border-radius: 50% !important;
//   -moz-border-radius: 9px;
//   -webkit-border-radius: 9px;
//   position: absolute;
//   font-size: 9px;
//   padding: 4px;
//   top: 0px;
//   z-index: 1;
//   width: 20px;
//   height: 20px;
//   text-align: center;
// }

// .notification-bar {
//   border-top: 1px solid #ddd;
//   cursor: pointer;
//   height: auto;
//   padding: 10px 10px;
//   color: #333333;
//   text-align: left;
//   float: left;
//   width: 100%;
//   display: inline-block;
//   line-height: 1;
//   font-family: ProximaNova-Regular;
// }

// .notification-bar-cross {
//   cursor: pointer;
//   height: auto;
//   padding: 10px 5px;
//   /*color: #666666;*/
//   text-align: center;
//   float: left;
//   width: 20px;
//   display: inline-block;
//   line-height: 1;
// }

// .unread {
//   background-color: #efefef;
// }

// .notificationParent {
//   border-bottom: 1px solid rgba(102, 102, 102, 0.34);
//   text-align: left;
//   float: left;
//   display: inline-block;
//   color: #666666;
//   width: 100%;
// }

// .notificationParent:hover {
//   background-color: #f5f5f5;
//   color: #333333;

// }

// .notification-bar:hover {
//   color: #333333;
//   background-color: #f5f5f5;
// }

// .notification-bar-cross:hover {
//   color: #333333;
// }

// .payment-box {
//   border-radius: 4.1px;
//   border: solid 2px #e13d36;
//   line-height: 29px;
//   padding: 0px 20px;
//   float: left;
//   margin-right: 15px;
//   display: inline-block;
//   font-family: ProximaNova-Regular;
//   font-size: 14px;
//   font-weight: normal;
//   font-style: normal;
//   font-stretch: normal;
//   letter-spacing: normal;
//   text-align: center;
//   color: #e13d36;
//   margin-top: 10px;
// }

// .creditLimit {
//   margin-top: 10px;
//   border-radius: 4.1px;
//   border: solid 2px #ff8300;
//   background-color: #fe8200;
//   /*color:#fff;*/
//   line-height: 29px;
//   padding: 0px 20px;
//   float: left;
//   display: block;
//   font-family: ProximaNova-Regular;
//   font-size: 14px;
//   font-weight: normal;
//   font-style: normal;
//   font-stretch: normal;
//   letter-spacing: normal;
//   text-align: center;
//   color: #333333;
// }

// .redText {
//   background-color: red;
//   border: solid 2px red;
// }

// .driver-box {
//   padding: 20px;
//   margin-bottom: 10px;
// }

// .green-status-box {
//   background-color: #00A000;
// }

// .clear {
//   position: absolute;
//   top: 37px;
//   right: 6%;
// }

// .profileButton {
//   -webkit-transition: all 0.5s ease;
//   -moz-transition: all 0.5s ease;
//   -o-transition: all 0.5s ease;
//   transition: all 0.5s ease;
//   border: 2px solid transparent;

//   //&:before {
//   //  background-color: transparent;
//   //  border: 2px solid #fff;
//   //  content: "";
//   //  position: absolute;
//   //  width: 100%;
//   //  height: 100%;
//   //  z-index: -1;
//   //  left: 100%;
//   //  right: 0px;
//   //  top: 0px;
//   //  bottom: 0px;
//   //  transition: .5s;
//   //  overflow: hidden;
//   //  -webkit-backface-visibility: visible;
//   //  backface-visibility: visible;
//   //
//   //  opacity: 0;
//   //}
//   //&:hover:before {
//   //  background-color: transparent !important;
//   //  border: 2px solid #fff;
//   //}
//   //&:active:before {
//   //  background-color: transparent !important;
//   //  border: 2px solid #fff;
//   //}
//   //&:focus:before {
//   //  background-color: transparent !important;
//   //  border: 2px solid #fff;
//   //}
//   //&:after {
//   //  background-color: transparent;
//   //  content: "";
//   //  position: absolute;
//   //  width: 100%;
//   //  height: 100%;
//   //  z-index: -2;
//   //  left: 0px;
//   //  right: 0px;
//   //  top: 0px;
//   //  bottom: 0px;
//   //
//   //}
//   &:hover {
//     //-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
//     //box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
//     //background-color: transparent !important;
//     border: 2px solid transparent;
//   }
// }

// .notification-type {
//   float: left;
//   font-family: ProximaNova-Regular;
// }

// .notification-setting-leble {
//   font-size: 13px;
//   float: none;
//   padding-left: 10px;
//   font-family: ProximaNova-Semibold;
// }

// .notification-tgl {
//   float: right;
// }

// .tiToggle {
//   float: left;
// }

// .tiLable {
//   padding-left: 15px;
//   cursor: pointer;
// }

// .ynotification-link {
//   font-family: ProximaNova-Regular;
//   font-size: 14px;
//   text-decoration: none;
//   color: #ffffff;
// }

// .ynotification-link:hover,
// .ynotification-link:focus,
// .ynotification-link:active,
// .ynotification-link:visited {
//   text-decoration: none;
//   color: #ffffff;
// }

// .notification-bell {
//   height: 21px;
//   width: 22px;
// }

// #notificationLink {
//   cursor: pointer;
//   top: 10px;
//   padding-right: 0px;
//   padding-left: 25px;

//   &:hover {
//     text-decoration: none;
//   }
// }

// @media(max-width:768px) {
//   #notificationLink {
//     cursor: pointer;
//     top: 3px;
//   }

//   #notificationLink {
//     padding-left: 10px;
//   }
// }

// .clearAllLink {
//   float: right;
//   font-size: 12px;
//   color: #e13d36
// }

// .ydeleting {
//   opacity: 0.5;
// }

// .goBack {
//   cursor: pointer;
// }

// @media screen and (min-width: 300px) and (max-width:500px) {

//   .notificationContainer {
//     right: -78px;
//     top: 36px;
//   }

//   .notificationContainer:before {
//     right: 80px;
//   }

//   .imagePadding {
//     //padding-left:3%;
//     padding-left: 10px;
//   }

//   .logoImage {
//     padding: 0px 0px !important;

//     //padding: 10px 0px !important;
//     img {
//       max-width: 115px;
//       max-height: 50px;
//       width: auto;
//       height: auto;
//     }
//   }

//   .paddingMobile {
//     padding: 0px 5px !important;
//   }
// }

// @media screen and (min-width: 768px) {
//   .dropdown-menu.dual-user {
//     min-width: 250px;
//   }
// }

// // ************** new ***************
// li {
//   button {
//     background: none;
//     font-size: 1.5rem;
//     color: rgb(255, 255, 255);
//     border-color: transparent;
//     margin: non;
//     padding: 0;
//     margin-top: 17px !important;
//     height: 4rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

//   a {
//     font-size: 1.5rem;
//     color: rgb(255, 255, 255);
//     border-color: transparent;
//     margin: non;
//     padding: 0;
//     margin-top: 17px !important;
//     height: 4rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
// }


.navbar {
  background: $header-bg-color;
  height: 7rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 2px solid $color-theme;

  .navbar-brand {
    padding: 0;

    img {
      max-height: 100%;
	  max-width: 100%;
	  height: auto;
	  width: auto;
    }
  }


  div {
    display: flex;
    align-items: center;
  }

  button {
    background: transparent;
    color: $header-color;
  }

  i {
    color: $header-color;
    font-size: 2rem;
  }

  a,
  button,
  i {
    cursor: pointer;
  }


  .dropdown-menu {
    top: 50px;
    left: 9px;
    border-radius: 0;
    left: -4rem;
    background: $header-bg-color;

    li>a {
      color: $header-color;
    }
  }

  li>a:hover {
    background: #fff;
    color: $color-theme !important;
  }

  .change-url {
    margin-left: 1rem;
  }

}

.profileDrop {
  i {
    padding: 1rem;
    /* border: 1px solid red; */
    border-radius: 40px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
	background: $color-theme;
	color: $header-bg-color !important;

    margin-right: 0.5rem;
  }

  .dropdown-menu {
    top: 59px;
  }
}

.loginBtn {
  color: $header-color;
  border-color: $header-bg-color;
  height: 3rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-left: 1rem;

  &:hover {
    transition: 0.5s ease-in;
    border-bottom: 1px solid $color-theme;
  }
}

.forgotButton{
  color: $color-white;
  border-color: $color-theme;
  background-color: $color-theme;
}

.notification-bell {
  height: 2rem;
  width: 2rem;
}


.logo-info {
  .back-btn {
    margin-right: 2rem;
    color: $header-color;
    font-size: 2.5rem;
    padding: 5px;
    height: 50px;
    cursor: pointer;
  }

  width: 15rem;

  .merchant-logo {}
}

.app-info {
  min-width: 20rem;
  max-width: 50%;
  justify-content: flex-end;

  >div {
    min-width: 4.5rem;
    justify-content: center;
  }
}


@media only screen and (min-width:768px) {
  .container-fluid {
    padding-right: 80px;
    padding-left: 80px;
  }

  .navbar-collapse {
    max-height: 70px;
  }

  .profileDrop {
    button {
      background: none !important;
    }
  }

  .nav {
    >li {
      margin: 0 1rem;
    }

    a {
      cursor: pointer;
    }

    button {
      cursor: pointer;

      .caret {
        margin-left: 0.5rem;
      }
    }
  }

  ul.navbar-nav {
    min-width: 30rem;
  }

  .dropdown-menu {
    left: 1rem;
  }

  .appLoginBtn {
    border-radius: 28px;
    background: $color-theme;
    width: 80px;
    height: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 0 8rem;

    .dropdown-menu {
      left: 0;
    }
  }

  .loginBtn {
    width: 6rem;
    margin-left: 1rem;
  }

  .change-url {
    border: 0;
    width: 10rem;
  }

  .back-btn {
    font-size: 3rem;
  }

  .app-info {
    min-width: 20rem;
    max-width: 50%;
    justify-content: flex-end;

    >div {
      min-width: 5rem;
      justify-content: center;
    }
  }
}

.searchDeskTop.loginBtn{
  color: $header-color;
  border-color: $header-bg-color;
  height: 3rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-left: 1rem;

  &:hover {
    transition: 0.5s ease-in;
    border-bottom: 1px solid $color-theme;
  }
  span{
    padding-left: 10px;
  }
}

@media only screen and (max-width: 1200px) {
  .searchDeskTop.loginBtn{
    width: auto;
    span{
      display: none;
    }
  }
}
