@import '~assets/css/variables';

.main{
    position: relative;
    width: 100%;
    height: 100%;
}
.line{
    width:150px !important;
}
.main-section{
    width: 70%;
    margin: 0 auto;
}
.activate-plan{
    margin-bottom: 3rem;
}
.plan-heading{
    font-family: ProximaNova;
    font-size: 27px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.11px;
    color: #000000;
    padding: 1rem 0;
}
.plan-parent{
    width: 65%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.activate-plan-card,.available-card{
    display: flex;
    background: white;    
    padding: 2rem;
    border-radius: 2rem;
    .plan-image{
        flex: 1;
        img{
            width: 152px;
            height: 108px;
            object-fit: contain;
            border-radius: 15px;
        }
    }
    .plan-middle-content{
        flex: 3;
        display: flex;
        flex-direction: column;
        span{
            font-family: ProximaNova;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: 0.07px;
            line-height: normal;
            font-size: 16px;
            color:#696974;
            display: flex;
        }
        .name{
            font-family: ProximaNova;
            font-size: 18px;
            font-weight: bolder;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.07px;
            color: #282c3f;
        }
        .key{
            color:#353535;
            padding-left: 5px;
            font-weight: bolder;
        }

    }
    .plan-right-content{
        flex: 1;
        display: flex;
        flex-direction: column;
        .active-button{
            padding: 5px 3rem;
            border-radius: 7px;
            background-color: #51ae17;
            color: white;
            align-self: flex-end;
            font-family: ProximaNova;
            font-size: 17px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.6px;
            margin-bottom: 15px;
        }
        .amount{
            align-self: flex-end;
            font-family: ProximaNova;
            font-size: 16px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.07px;
            color: #282c3f;
            background: transparent;
            border: none;
        }
    }
}
.available-card{
    margin-bottom: 3rem;
    border-left: solid 5px transparent;
    transition: 0.6s;
    &:hover {
        border-left: solid 5px var(--theme);
    }
}
.skip-parent{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    background: black;
    opacity: 0.4;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.skip-now{
    padding: 1rem;
    display: flex;
    background: red;
    color: white;
    border-radius: 5px;
    align-items: center;
}
.skip-parent:hover{
    opacity: 1;
}

ul{
    padding: 0 0 0 2rem;
    width: 100%;
}
li{
    word-break: break-word;
    font-family: ProximaNova;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.11px;
}
.btn-parent{
    display: flex;
    justify-content: flex-end;
}
.choose-plan{
    background: var(--theme);
    color: white;
    display: flex;
    border-radius: 5px;
    border: solid 2px var(--theme);
    padding: 5px 1rem;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    align-self: center;
}
.choose-plan:hover{
    background: white;
    color: var(--theme);
}
@media only screen and (max-width: 1041px){
    .plan-parent{
        width: 80%;
    }
}
@media only screen and (max-width: 768px){
    .plan-parent{
        width: 96%;
    }
}
@media only screen and (max-width: 425px){
    .plan-cards{
        justify-content: center;
        width: 100%;
    }
    .plan-image img{
        width: 100% !important;
        height: 150px !important;
        object-fit: cover !important;
    }
    .activate-plan-card,.available-card{
        flex-direction: column;
    }
    .available-card{
        &:hover{
            border-left: solid 5px transparent !important;
        }
    }
    .btn-parent{
        justify-content: flex-end;
    }
}