@import '~assets/css/variables';
@import '~assets/css/block-shimmer';

.cart-ready{
  font-family: $proxima-reg;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  color: #616161;
  margin-bottom: 22px;
  margin-top: 13px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  .icon-shopping-cart{
    color: $color-theme;
    font-size: 24px;
  }
}

::-webkit-input-placeholder { /* Edge */
  color: black;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: black;
}

::placeholder {
  color: black;
}

.notes-icon{
  color: $color-theme;
  font-size: 30px;
  margin-right: 15px;
  margin-top: 5px;
}
.set-icon{
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  padding: 0 2px 1px 2px;
  cursor: pointer;
  margin-left: 2px;
}
.free{
  color: $color-theme;
}
.cart-details-container{
  border-radius: 5px;
  padding: 15px 0;
  background-color: white;
  .store-details-container{
    display: flex;
    padding-bottom: 20px;
    border-bottom: solid 1px #efefef;
    img{
      width: 90px;
      height: 90px;
      object-fit: contain;
      margin-right: 30px;
    }
    .store-name{
      font-family: $proxima-semi-bold;
      font-size: 22px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.1px;
      color: #464646;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .store-address{
      font-family: $proxima-reg;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.7px;
      color: #464646;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
.veg-img
{
  position: absolute!important;
  top: -5px;
}
.item{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding-bottom: 10px;
  padding-left: 0;
  .cc_name{
    font-family: $proxima-semi-bold;
    padding: 0;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #464646;
  }
  .cc_total{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 0;
    flex-direction: column-reverse;
    &.cc_service_total{
      justify-content: end;
      flex-direction: row-reverse;
    }
  }
}

.chk_subtl_div {
  background-color: #ebebeb;
  padding: 10px;;
  div {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
  .chk_subtl_txt{
    padding: 10px 0 0 0 ;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4c4c4c;
   }
   .chk_subtl_val{
     padding-top: 10px;
     font-size: 11px;
     color: #4c4c4c;
     text-align: end;
     padding-right: 0;
   }
  }
}
.amount{
  font-size: 12px;
  word-break: break-word;
}
.chk_total_div{
  padding-top: 20px;
  div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .chk_total_txt{
      font-size: 12px;
      padding: 0;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #4c4c4c;
    }
    .chk_total_val{
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #565656;
      text-align: end;
      padding-right: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .chk_total_val {
    padding-right:15px !important;
  }
  :host /deep/ .addon-container .modal-content{
    width: 315 !important;
  }
}
.chk_coupon{
  margin-top: 35px;
  position: relative;
  border: 1px dashed #ccc;
  img{
    position: absolute;
    top: -10px;
    left: 10px;
    width: 21px;
    height: 21px;
  }
  .chk_coupon_txt{
    border: none;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    font-size: 18px;
    color: #969696;
    padding: 20px 0 ;
    width: 75%;
    box-shadow: none;
    margin: auto;
    cursor: pointer;
  }
}
.input-coupon{
  display: flex;
}
.input-coupon:focus-within{
  .btn-apply{
  visibility: visible;
  }
}
.btn-apply{
    visibility: hidden;
    background-color: var(--blue);
    color: white;
    text-transform: uppercase;
    font-family: "ProximaNova-Semibold";
}
.suggestion{
  padding: 35px 20px;
  margin-top: 20px;
  border-radius: 5px;
  display: flex;
  background-color: #ebebeb;
  img{
    height: 30px;
    width: 30px;
    margin-right: 15px;
  }
}
.suggestion-text{
    opacity: 0.75;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    box-shadow: none;
    color: black;
}
input.form-control.suggestion-text{
  background-color: #ebebeb;
  font-size: 14px;
  border: none;
  color: black;
  &:focus{
    border: none;
  }
}
.image{
  padding: 0;
  padding-right: 5px;
  width: auto;
}
.checkout-items{
  padding-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width:768px){
  .chk_total_div{
    div{
      .chk_total_txt{
        font-size: 20px;
      }
      .chk_total_val{
        font-size: 20px;
      }
    }
  }
  .chk_subtl_div{
    div{
      .chk_subtl_txt {
        font-size: 14px;
      }
      .chk_subtl_val{
        font-size: 14px;
      }
    }
  }

  .cc_name p{
    font-size: 14px;
  }
  .item{
    .cc_total{
      flex-direction: row;
      span{
        font-size: 12px;
      }
    }
  }
  .amount{
    font-size: 14px;
    word-break: break-word;
  }
  .p-action-btn{
    zoom: 0.8;
  }
  .checkout-items{
    max-height: 200px;
    overflow: scroll;
  }
}
:host /deep/ p-table .ui-table .ui-table-tbody > tr > td{
  border: none;
}
.image{
  img{
    height: 7rem;
    width: 7rem;

  }
}
.tax-percantage{
  font-size: 14px;
  color: #848484;
}
.pl-15{
  padding-left:15px;
}
.pr-15{
  padding-right:15px;
}



$shimmer-left: 1.5rem;
$shimmer-height: 1.2rem;
// skeleton loader
.skeleton-loader:empty {
  min-height: 120px;
  margin: auto;
  width: 100%;
  height: 100%; /* change height to see repeat-y behavior */
  background-color:#ebebeb;
  background-image:
    linear-gradient( 100deg, rgba(235, 235, 235, 0), rgba(235, 235, 235, 0.5) 50%, rgba(235, 235, 235, 0) 80% ),
    linear-gradient( lightgray $shimmer-height, transparent 0 ),
    linear-gradient( lightgray $shimmer-height, transparent 0 ),
    linear-gradient( lightgray $shimmer-height, transparent 0 ),
    linear-gradient( lightgray $shimmer-height, transparent 0 );

  background-repeat: repeat-y;

  background-size:
    50px 200px, /* highlight */
    40% 200px,
    60% 200px,
    calc(100% - (#{$shimmer-left*2})) 200px,
    calc(100% - (#{$shimmer-left*2})) 200px;

  background-position:
    0 0, /* highlight */
    $shimmer-left 1.2rem,
    $shimmer-left 4.2rem,
    $shimmer-left  6.2rem,
    $shimmer-left  8.2rem;

  animation: shine 1s infinite;
}

@keyframes shine {
  to {
    background-position: 100% 0, /* move highlight to right */
    $shimmer-left 1.2rem,
    $shimmer-left 4.2rem,
    $shimmer-left  6.2rem,
    $shimmer-left  8.2rem;
  }
}

:host /deep/.ui-overlaypanel{
  z-index: 1;
  padding: 0px;
  padding-left: 10px;
  min-width: 220px;
  right: 0px;
}
.price-list{
  padding: 0;
  list-style-type: none;
  justify-content: flex-start !important;
}


.pirce-tip{
  .price-list{
    font-weight: normal;
    font-size: 14px;
  }
}

:host /deep/ .btn-cursor{
  cursor: pointer;
}

:host /deep/ .ui-overlaypanel{
  left: auto !important;
  top: auto !important;
  margin-bottom: 30px;
}


.auto_promo_div{
  max-width: 80%;
  .auto_promo{
      color: #82c548;
      font-size: 12px
  }
}

@media screen and (max-width:425px){
  .cart-ready{
    font-size: 13px;
  }
  .cart-details-container{
    word-break: break-word;

  }
  :host /deep/ .cartDetails{
    padding-left: 28px;
  }
}

@media screen and (max-width : 375px){
  .buttons-parent{
    display: flex;
    flex-direction: column;
    span:first-child{
      margin-bottom: 5px;
    }
    .fa-close{
      display: initial !important;
    }
  }
}
@media screen and (max-width : 1350px) and (min-width:992px){
  .buttons-parent{
    display: flex;
    flex-direction: column;
    span:first-child{
      margin-bottom: 5px;
    }
    .fa-close{
      display: initial !important;
    }
  }
}

@media screen and (max-width : 991px) and (min-width:768px){
  
  .chk_total_div div .chk_total_val{
    padding-right: 15px !important;
  }
}

@media screen and (max-width:768px){
  .cart-ready{
    font-size: 13px;
  }
  .cart-details-container{
    word-break: break-word;
    // min-width: 512px;
    max-width: 100%;

    .store-name{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .store-address{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

@media only screen and (max-width:780px){
  .cc_total{
    padding-left: 30px !important;
  }
}

.cc_name_para{
  overflow: hidden;
  margin:0;
}
.cc_total{
  padding-left: 0px;
}
.cartAndClear{
  display: flex;
  justify-content: space-between
}

.clearCart{
  color: var(--theme);
  cursor: pointer;
  margin-left: 5px;
  padding: 4px 9px;
  border-radius: 3px;
  // margin-bottom: 6px;
  display: inline-block;
  border: 1px solid;
}

.clearCart:hover{
  color: #333333;
  svg{
    path{
      fill: #333333;
    }
  }
}
.clearBtn{
  width: 100%;
  height: 35px;
  border-radius: 6px !important;
font-family: ProximaNova-Regular;
font-size: 16px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
  span {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.3px;
      text-align: left;
  }
  &:hover {
      transform: scale(1);
      color: #fff;
  }

}
.clearCartRow{
  padding: 15px;
}
.btnsDiv{
  padding: 0px;
}
.yesNoBtn{
  width: 65px !important;
}
:host /deep/ .modal-content{
  width: 327px!important;
  margin: 0 auto;
}
:host /deep/ .addon-container .modal-content{
  width: auto !important;
}
.veg-only
{

  width: 15px!important;
  height: 15px!important;
  object-fit: contain!important;
}
.addons-text
{
  font-family: ProximaNova-Regular;
  font-size: 12px!important;
}
.edit-customization{
  cursor: pointer;
}
