@import '~assets/css/variables';

.gift-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0px 20px;

  .gift {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e5e8;
    border-radius: 20px;
  }

  .btnG, .btnG.unSelected{
    padding: 10px 20px;
    text-align: center;
    color: black;
    font-family: $proxima-reg;
    font-size: 14px;
    cursor: pointer;
    min-width: 95px;
    cursor: pointer;
    &:hover{
      color: $color-theme;
    }
  }

  .btnG.selected{
    cursor: pointer;
    padding: 10px 20px;
    background-color: $color-theme;
    text-align: center;
    color: #fff;
    font-family: $proxima-reg;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    min-width: 95px;
  }
}
