@import '~assets/css/variables';

.buy{
  padding: 60px 8rem;
  .head{
    font-family: $proxima-reg;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    &::before{
      content: '';
      position: absolute;
      top: 0px;
      height: 4px;
      background-color: $color-theme;
      width: 150px;
    }
  }
  .head-without{
    font-family: $proxima-reg;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .enterAmount {
    .currency{
      color: $color-theme;
      font-size: 25px;
      font-family: $proxima-reg;
      position: absolute;
      left:15px;
    }
    input{
      border: 0px;
      background-color: transparent;
      border-bottom: 2px solid #d8d8d8;
      height: 40px;
      color: $color-theme;
      font-size: 25px;
      padding-left: 60px;
      font-family: $proxima-reg;
      &:focus{
        outline: -webkit-focus-ring-color auto 0px;
      }
    }
  }

  .textFor{
    margin-top: 10px;
    font-family: $proxima-reg;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #867d74;
    p{
      margin-bottom: 2px;
    }
  }

  .displayFlex{
    display: flex;
    justify-content: flex-end;
  }
  .img{
    position: relative;
    text-align: right;
    .card{
      max-width: 425px;
      max-height: 255px;
    }
    .logoImg{
      position: absolute;
      top:10px;
      right: 35px;
      img{
        max-height: 26px;
        max-width: 100px;
      }
    }

    .textGift{
      position: absolute;
      left: 35px;
      font-size: 26px;
      bottom: 40px;
      font-family: $proxima-semi-bold;
      color: $color-theme;
      white-space: nowrap;
      overflow: hidden;
      width: 130px;
      text-align: left;
      text-overflow: ellipsis;
    }

    .amountR{
      position: absolute;
      right: 35px;
      bottom: 40px;
      font-family: $proxima-semi-bold;
      color: #fff;
      white-space: nowrap;
      overflow: hidden;
      width: 120px;
      text-overflow: ellipsis;
      .amount{
        font-size: 20px;
      }
    }
  }

  .details.recipt{
    .input{
      width: 100%;
    }
    textarea.input{
      width: 100%;
    }
  }

  .details{
    margin-top: 10px;
    .input{
      border-radius: 4px;
      background-color: #ffffff;
      border: 1px solid #cac6c3;
      font-family: $proxima-reg;
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #867d74;
      height: 45px;
      width: 80%;
    }

    textarea.input {
      border-radius: 4px;
      background-color: #ffffff;
      border: 1px solid #cac6c3;
      font-family: $proxima-reg;
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #867d74;
      height: 200px;
      resize: none;
      width: 80%;
    }

    .submitBtn{
      font-family: $proxima-reg;
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      background-color: $color-theme;
      color: white;
      border: 1px solid $color-theme;
      min-width: 200px;
      &:hover{
        border: 1px solid $color-theme;
        background-color: white;
        color: $color-theme;
        transition: .5s;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .buy{
    padding: 25px 0rem;
    .img {
      text-align: center;
      margin-top: 20px;
      .card{
        width: 100%;
      }
      .textGift{
        position: absolute;
        left: 22px;
        font-size: 15px;
        bottom: 30px;
        font-family: $proxima-reg;
        color: $color-theme;
        white-space: nowrap;
        overflow: hidden;
        width: 130px;
        text-align: left;
        text-overflow: ellipsis;
      }
      .amountR{
        bottom: 30px;
      }
    }
    .displayFlex{
      display: flex;
      justify-content: center;
    }
    .details{
      margin-top: 10px;
      .input{
        width: 100%;
      }
      textarea.input{
        width: 100%;
      }
    }
  }
}


.modal-padding{
  padding: 15px;
  .fa{
    cursor: pointer;
  }
  .text{
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
    display: inline-block;
  }

  .addMoney{
    font-size: 16px;
    font-family: $proxima-reg;
    color: white;
    background-color: $color-theme;
    border: 1px solid $color-theme;
    &:hover{
      color: $color-theme;
      background-color: white;
      border: 1px solid $color-theme;
    }
  }
  .showProcess{
    padding: 20px;
    p{
      text-align: center;
      font-size: 15px;
      font-family: $proxima-reg;
      font-weight: bold;
    }
  }
}

.mt-10{
  margin-top: 10px;
}
