.termsCondition{
  //height: calc( 100vh - 70px );
  //overflow-y: scroll;
  //overflow-x: hidden;
  font-family: ProximaNova-Regular;
  padding-bottom: 20px;
  height: auto;
  min-height: calc(100vh - 180px);
  .heading {
    text-align: center;
    padding: 20px 0;
  }
  .title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: center;
    color: #858585;
    margin-bottom: 20px;
    display: inline-block;
  }
  .mt-20{
    margin-top: 20px;
  }

  .line {
    margin: 0 auto;
    width: 50px;
  }
  p{
    font-size: 15px;
    font-weight: normal;
  }
  .nothing{
    text-align: center;
  }
  .withText{
    text-align: justify;
  }
  .container{
    margin: 20px auto;
  }
}
