@import '~assets/css/variables';
.autoCompleteGoogleForm {
    >div {
        display: flex;
        cursor: pointer;
        align-items: center;
        position: relative;
        i {
            font-size: 2rem;
            position: absolute;
            left: 1rem;
            top: -0.2rem;
            z-index: 100;
            height: 100%;
            display: flex;
            align-items: center;
            color: var(--theme);
        }
        input {
            padding-left: 4rem;
        }
    }
}

:host /deep/ .modal-body {
    overflow: hidden !important;
}

agm-map {
    height: 500px;
}

#map {
    height: 500px;
}

:host /deep/ .marker-custom span {
    top: 0;
    background-image: url('https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png') !important;
    left: 0;
    will-change: transform;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 31px;
    color: #fff;
    cursor: pointer;
    transform-origin: 0 0;
}

 :host /deep/ .marker-custom {
    position: absolute !important;
}

.autoSearch {
    position: absolute;
    top: 0px;
    width: 100%;
    input {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        height: 45px;
    }
}

.buttonAccept {
    position: absolute;
    width: 100%;
    bottom: 0;
    .accept {
        height: 40px;
        font-size: 16px;
        font-family: ProximaNova-Regular;
        width: 100%;
        border-radius: 0px;
    }
}

:host /deep/ app-jw-google-autocomplete {
    input {
        border: 0;
    }
}

.accept {
    color: white;
    background-color: $color-blue;
}

#mapPopupAddress {
    height: 36px !important;
}