@import '~assets/css/variables';
*{
    outline: 0
}
    
.container-elem{
    height:100%;
}

.filter-header{
    padding-bottom: 26px;
    padding-top: 50px;
    font-size: 22px;
    color: #282c3f;
    img{
        margin-left: 10px;
        cursor: pointer;
    }
}

.filter-heading{
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
}
.filter-options-div{
    padding:20px
}
.filter-options{
    font-weight: 300;
    color: #282c3f;
    margin-left: 10px;
    &:hover{
        font-weight: 500;
    }
}

.clear-btn{
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: none;
    line-height: 50px;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    padding: 0 2rem;
    color: #535665;
    letter-spacing: 0;
    border: 1px solid #535665;
    border-radius: 0px;
}
.apply-btn{
    border: 1px solid $color-theme;
    -webkit-box-flex: 0;
    background: $color-theme;
    color: #ffffff;
    color: #ffffff;
    width: 100%;
    height: 50px;
    font-size: 15px;
    border-radius: 0px;
    &:hover{
        background:#ffffff;
        color: $color-theme;
    }
}

.filter-actions{
    position: absolute;
    bottom: 0;
    padding-right: 14%;
    padding-bottom: 23px;
    padding-top: 22px;
    box-shadow: 0 -2px 4px 0 #e9e9eb;
    width:100%;
    background: white;
}

.filter-header{
    padding-right: 14%;
    padding-bottom: 23px;
    padding-top: 22px;
}

.filter-body-area{
    height: calc(100vh - 150px);
    overflow: auto;
}

:host/deep/.ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active{
    background: $color-theme;
    border: 1px solid $color-theme;
}
:host/deep/.ui-chkbox-label{
    color: #282c3f;
    opacity: 0.7;
    cursor: pointer;
    padding-top: 5px;
    &:hover{
        opacity : 1;
        color: $color-theme
    }
}
:host/deep/.ui-radiobutton-label{
    color: #282c3f;
    opacity: 0.7;
    cursor: pointer;
    padding-top: 5px;
    &:hover{
        opacity : 1;
        color: $color-theme
    }
}

:host/deep/ .ui-radiobutton-box.ui-state-active{
    border: 1px solid $color-theme;
    background: $color-theme
}

.title-head{
    padding: 7px;
    position: absolute;
    top: 17px;
    left: 45px;
}
.clear-text{
    margin-top:-45px;
    float: right;
    color: $color-theme;
    cursor: pointer;
    &:hover{
        border-bottom: 1px solid $color-theme;
    }
}