<div>
    <div class="pmnt_inr_hdng ">
        <div class="col-xs-12 col-sm-12 p0">
            <img src="assets/img/coins.svg" width="20px" aria-hidden="true" alt="coins loyalty point"/>
            <p class="pmnt_inr_hdng_txt" [ngStyle]="{ 'direction' : direction }">
                <ng-container>{{terminology.LOYALTY_POINTS}}</ng-container>
            </p>
            <p class="promo_p" appTapEffect appColor onlyColor="true" [ngStyle]="{ 'direction' : direction }">
                {{terminology.LOYALTY_POINTS}} <ng-container>{{languageStrings.balance || 'Balance'}}</ng-container> : {{originalPoints || 0}}
            </p>
        </div>
    </div>
    <form role="form" autocomplete="off" [formGroup]="loyaltyForm" (ngSubmit)="submitLoyaltyPoints()">
        <div class="pmnt_cnt_div pmnt_tip row m0">
            <div class="col-lg-12 col-sm-12 col-xs-12 mt10">
                <div class="row">
                    <div class="col-lg-8 col-sm-8 col-xs-7 pd-rt0">
                        <input type="text" class="form-control tipInput" formControlName="loyalty_point"  placeholder="{{languageStrings.enter_points_to_redeem || 'Enter points to redeem'}}" aria-label="Enter points to redeem"/>
                        <app-control-messages [control]="loyaltyForm.controls['loyalty_point']"></app-control-messages>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-4 pd-lt8">
                        <button type="submit" class="btn loyaty_btn">
                            <ng-container>{{languageStrings.submit || 'Submit'}}</ng-container>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="pmnt_cnt_div pmnt_tip row m0" style="padding-top:0px" *ngIf="maxRedemptionPoints">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-8 col-sm-8 col-xs-7 pd-rt0">
                        <p class="pt_name"> <ng-container>{{languageStrings.maximum_loyality_you_can_apply || 'Maximum loyality point you can apply'}}</ng-container> : {{maxRedemptionPoints}}</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>