@import '~assets/css/variables';
@import '~assets/css/block-shimmer';

.complete-address {
  color: #afafaf;
  word-break: break-word;
}

.currentAddress {
  background: var(--address_bg_color, white);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #f7f7f7;
  min-height: 18rem;
  max-width: 30rem;
  display: flex;
  flex-direction: column;

}
.map-pin{
  font-size: 20px !important;
  top: -1px;
}

.change-address {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  min-width: 4rem;
  width: 15rem;
  width: auto!important;

  i {
    font-size: 2rem;
    margin-right: 1rem;
    color: $color-theme;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
}

.selected-address {
  padding: 20px 40px;
}

.loc-type-img {
  margin-right: 10px;
  height: 16px;
  width: 16px;
  margin-top: auto;
  margin-bottom: auto;
}

.chk_cnt_div.chk_form {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;

  fav-location-model {
    cursor: pointer;
  }
}

.add-new-address {
  cursor: pointer;
}

p.title {
  display: flex;
  font-size: 16px;
  font-weight: bold;
}

.address {
  padding: 10px 0px;
}

.addr-content {
  min-height: 220px;
  height: 100%;
  margin: auto;
}

.add-address {
  i {
    font-size: 2rem;
    margin-right: 1rem;
    color: $color-theme;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  min-width: 4rem;
  // width: 15rem;
  // width: 17rem;
  margin: 2rem 4rem;
}

.selected-address-inner {
  display: flex;
  flex-direction: row;

  img {
    height: 25px;
    width: 25px;
    margin-top: 2px;
  }

  .content {
    .title {
      font-size: 24px;
    }

    .address {
      div:first-child {
        font-size: 18px;
      }
    }

    .change-address {
      margin-left: 15px;
    }
  }
}



.chk_inr_hdng {
  display: flex;
  justify-content: space-between;

  .heading-btn {
    margin: auto 20px;
    justify-content: flex-end;

    button {
      color: $color-blue;
      font-family: $proxima-semi-bold;
      border: 2px solid $color-blue;
    }
  }
}

.img-checked {
  height: 18px;
  width: 18px;
}

@media only screen and (max-width:650px) {
  .heading-btn {
    margin: auto 10px !important;
  }
  .add-address{
    margin: 1rem !important;
  }
}
.pl-20{
  padding-left: 20px!important;
}
.mb-10{
  margin-bottom: 10px;
}

:host/deep/.ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active{
  background: $color-theme;
  border: 1px solid $color-theme;
}
:host/deep/.ui-chkbox-label{
  color: #282c3f;
  opacity: 0.7;
  cursor: pointer;
  padding-top: 5px;
  &:hover{
      opacity : 1;
      color: $color-theme
  }
}
.mt-5{
  margin-top: 5rem;
}

.Add_adress {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}