@import '~assets/css/variables';

.overlay-area {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
}

.holdAmount{
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  align-items: center;
  z-index: 1000;
  justify-content: center;
  .content{
    padding: 30px;
    background: rgba(0,0,0,.4);
    h3{
      font-family: $proxima-reg;
      color: $color-white;
      user-select: none;
      font-weight: normal;
    }
    .gotIt{
      width: 200px;
      margin-top: 15px;
      font-size: 15px;
      font-family: $proxima-reg;
      color: $color-white;
      background-color: $color-theme;
      border: 1px solid $color-theme;
      &:hover{
        color: $color-theme;
        border: 1px solid $color-theme;
        background-color: $color-white;
        transition: .5s;
      }
    }
  }
}
