@import '~assets/css/variables';

$banner_bg: #ececec;

.bannerComponent {
  background-color:  #ececec ;
  .carousel {
    perspective: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
  .carousel > * {
    flex: 0 0 auto;
 }
  .carousel figure {
    margin: 0;
    width: 40%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
 }
  .carousel figure img {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0px;
    min-height: 270px;
    max-height: 270px;
    background-position-x: 50%;
    background-size: cover;
 }
  .carousel figure img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
 }
 .switchButton{
   display:flex;
   font-size: 25px;
   z-index: 1002;
   width: 20%;
   justify-content: center;
   letter-spacing: 10px;
   a {
    text-decoration:none
   }
 }



  .bannerDiv {
    .bg-image {
      height: auto;
      position: relative;
      min-height: 270px;
      max-height: 270px;
      width: 100%;
      background-repeat: no-repeat;
      background-position-x: 50%;
      background-size: cover;

      /deep/.brand_text_div {
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        margin: auto;
        margin: auto 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // background: rgba(0, 0, 0, 0.4);
        height: 20rem;

        h1 {
          margin: 0px;
        }

        .delivery_mode_button {
          color: #fff !important;
        }

        .unselect {
          background: transparent !important;
        }

        .selected {
          color: #fff !important;

          i {
            color: #fff !important;
          }

          span {
            color: #fff !important;
          }
        }

        .brand_text {
          font-family: ProximaNova-Regular;
          font-size: 2rem;
          font-weight: 600;
          letter-spacing: 0.3px;
          text-align: center;
          color: #ffffff;
        }

        .search_input {
          max-width: 30rem;
          margin: 15px auto;
          width: 100%;
        }
      }
    }
  }

  .addressBar {
    padding: 5px 15px;
    background-color: $color-theme;

    .together {
      display: flex;

      .delivery {
        display: flex;
        justify-content: center;
      }

      .autoCompleteWidth {
        width: 44%;
        margin-left: 10px;
        margin-top: 0px;
      }
    }

    /deep/app-delivery-modes .deliveryModes {
      background-color: #fff;
      padding: 2px;

    }
  }

  .multiBanners {
    // padding: 15px 0px 0px;
    padding: 0px;
    margin-top: 0px;
    background-color:#1b1b1b;

    .carouselDiv {
      width: 100%;
      min-height:18.75vw;

      .carousel {
        min-height:18.75vw;

        .carousel-inner {
          min-height:18.75vw;

          .item {
            text-align: center;
            text-align: -webkit-center;
            text-align: -moz-center;

            img {
              height: 18.75vw;
              cursor: pointer;
            }
          }
        }
      }

      .carousel-indicators {
        bottom: 0px !important;
      }

      .carousel-indicators li {
        background-color: #d2d2d2 !important;
        border-color: #d2d2d2 !important;
        width: 8px !important;
        height: 8px !important;
        margin-left: 10px;
      }

      .carousel-indicators .active {
        background-color: #fff !important;
        border-color: #fff !important;
        width: 10px !important;
        height: 10px !important;
      }

      .carousel-control {
        //width: 30px !important;
        opacity: 1 !important;
      }

      .carousel-control.left {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), to(transparent)) !important;
      }

      .carousel-control.right {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), to(transparent)) !important;
      }
    }
  }
}

.marginAuto {
  margin: auto;
}

@media only screen and (max-width: 992px) {
  .addressBar {
    padding: 15px 15px !important;

    .together {
      display: block !important;

      .autoCompleteWidth {
        width: 100% !important;
        margin-left: 0px !important;
        margin-top: 10px !important;
      }
    }
  }


}

@media only screen and (max-width: 768px) {
  .brand_text {
    // font-size: 28px !important;
  }
  .carouselDiv {
    width: 100%;
    min-height: 25vw !important;
  .carousel {
    min-height: 25vw !important;
    .carousel-inner {
      min-height: 25vw !important;
      .item {
        text-align: center;
        text-align: -webkit-center;
        img {
          height: 25vw !important;
          cursor: pointer;
        }
      }
    }
  }
}
}


@media only screen and (min-width: 768px) {
  /deep/.addressBar {
    padding-left: 80px !important;
  }

  .bannerDiv {
    .brand_text_div {
      width: 60% !important;
      margin: auto !important;
    }

    .search_input {
      max-width: 70% !important;
    }

    .brand_text {
      font-size: 3.6rem;
    }

  }
}

.bannerAutoComplete {
  /deep/.autoCompleteGoogleForm {
    >div:not(.errorpop):not(.infopop) {
      display: flex;
      cursor: pointer;
      align-items: center;
      position: relative;


      i {
        font-size: 2rem;
        position: absolute;
        left: 1rem;
        top: -0.2rem;
        z-index: 100;
        height: 100%;
        display: flex;
        align-items: center;
        color: var(--theme);
      }

      span {
        border: 0;
      }

      input {
        direction: ltr;
        border: 0;
        /* color: var(--theme); */
        display: inline-block;
        cursor: pointer;
        background: #f7f7f7;
        height: 3.5rem !important;
        padding-left: 4rem;
        color: rgba(0, 0, 0, 0.6);
      }
    }

  }
}

@media only screen and (max-width: 576px) {
  .bannerComponent .bannerDiv .bg-image .brand_text_div .brand_text{
    font-size: 30px;
  }

  // .bannerComponent .multiBanners {
  //   padding: 70px 0px 0px;
  // }
}

@media only screen and (max-width: 1440px) and (min-width: 768px){
  .multiBanners {
    .carouselDiv {
      min-height: 18.75vw !important;
      .carousel {
        min-height: 18.75vw !important;
        height: 18.75vw !important;
        .carousel-inner {
          min-height: 18.75vw !important;
          height: 18.75vw !important;
          .item {
            img {
              min-height: 18.75vw !important;
              height: 18.75vw !important;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
