<!--  -->
<!-- The Modal -->
<div class="modal fade in" id="myModal" style="overflow:auto;display: block"  keyboard-event (esc)="onCloseClick($event)" [isEnabled]="'true'"> <!--[isEnabled]="true"-->
  <div class="modal-dialog" [ngClass]="modalType">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header" *ngIf="header">
        <h4 class="modal-title">{{header}}</h4>
        <button type="button" class="close" data-dismiss="modal" *ngIf="showCross" (click)="onCloseClick($event)">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <ng-content select="[body]"></ng-content>
      </div>

      <!-- Modal footer -->
      <!--<div class="modal-footer">-->
        <!--<ng-content select="[footer]"></ng-content>-->
      <!--</div>-->

    </div>
  </div>
</div>


<div class="modal-backdrop fade in"></div>
