@import '~assets/css/variables';

.subscription{
  .additionalInformation{
    background: #dddddd8a;
    .additionalText{
      padding: 13px;
      font-family: ProximaNova-Regular;
      font-size: 17px;
    }
  }

  .description{
    font-family: Proximanova-Regular;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: $color-theme;
  }
  .payStyle{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    div{
      min-height: 120px;
      min-width: 120px;
      border: 2px solid var(--theme);
      background-color: #fff;
      border-radius: 50%;
      text-align: center;
      display: flex;
      font-size: 24px;
      align-items: center;
      height: auto;
      justify-content: center;
      width: auto;
    }
  }
}
