.social-btn{
    .img{
      display: inline-block;
      // border-right: 1px solid #999999;
      padding-right: 10px;
      margin-right: 6px;
    }
    background: white;
    border: 1px solid #999999;
    color: #999999;
    width: 100%;
    margin-top:10px;
    font-size: 15px;
  }
