@import '~assets/css/variables.scss';

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    background-color: rgba(40,44,63,.4);
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 10001;
    .ask-popup{
        background-color: #fff;
        padding: 30px;
        box-shadow: 0 2px 20px 0 rgba(40,44,63,.5);
        max-width: 520px;
        min-width: 300px;
        margin-bottom: 40px;
        max-width: calc(100% - 30px);
        width: 520px;
        .ask-popup-text {
            padding-bottom: 25px;
            .heading{
                h1{
                    padding-bottom: 5px;
                    color: #282c3f;
                    font-size: 20px;
                    font-family: $proxima-semi-bold;
                    margin: 0;
                }
            }
            .sub-heading{
                h6{
                    margin: 0;
                    color: #535665;
                    line-height: 20px;
                    font-size: 14px;
                    font-family: $proxima-reg;
                }
            }
        }
        .ask-popup-buttons {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            flex-direction: row;
            button{
                -ms-flex-positive: 1;
                flex-grow: 1;
                -ms-flex-preferred-size: 0;
                flex-basis: 0;
                display: -ms-flexbox;
                display: flex;
                cursor: pointer;
                background-color: #fff;
                font-weight: 600;
                -ms-flex-pack: center;
                justify-content: center;
                -ms-flex-align: center;
                align-items: center;
                text-transform: uppercase;
                max-width: 220px;
                height: 50px;
            }
            .cancel-btn{
                color: $color-theme;
                border-color: $color-theme;
            }
            .success-btn{
                background-color: $color-theme;
                border-color: $color-theme;
                color: $color-white;
            }
        }
    }

}
