@import '~assets/css/variables';

.error
{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
}
@media only screen and (min-width: 1200px){
    .content{
     text-align: center;
     height: 100%;
     width: 100%
    }
   }
@media only screen  and (min-width: 320px) and (max-width:1200px) {
   .content{
    text-align: center!important;
   }
  }
  .page-not-found
{
    font-family: $proxima-semi-bold;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    line-height: normal;
    letter-spacing: normal;
    margin-top: 20px;
    color: #474747;
}
.page-you-request {
  font-family: $proxima-reg;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
  }
  .heading{
    font-size: 18px;
    cursor: pointer;
  }