@import '~assets/css/variables';

.reedem{
  padding: 60px 8rem;
  display: flex;
  justify-content: center;
  .head{
    font-family: $proxima-reg;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .details {
    margin-top: 10px;
    .input {
      border-radius: 4px;
      background-color: #ffffff;
      border: 1px solid #cac6c3;
      font-family: $proxima-reg;
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #867d74;
      height: 45px;
      width: 100%;
    }
  }

  .submitBtn{
    font-family: $proxima-reg;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    background-color: $color-theme;
    color: white;
    border: 1px solid $color-theme;
    min-width: 200px;
    &:hover{
      border: 1px solid $color-theme;
      background-color: white;
      color: $color-theme;
      transition: .5s;
    }
  }
}


@media only screen and (max-width: 768px) {
  .reedem{
    padding: 25px 0rem;
  }
}
