.row-eq-height{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    width: 100%;
    .row-col-eq{
        min-width: 25%;
        max-width: 25%;
        margin-bottom: 0px;
    }
    padding: 0rem 1rem 0px 1rem;
    margin-top: 1rem;
  }
  .grid-item{
      margin:1rem;
      border: 1px solid #e9e9eb;
      border-radius: 8px;
  }
  .grid-item:hover{
    box-shadow: 0 4px 10px 0 rgba(83, 83, 83, 0.16);
    border: 1px solid var(--theme);
  }
  .image-cat{
    width: 100%;
    height: 9vw;
    min-height: 9vw;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
	  transition: transform 800ms ease-out;
      &:hover{
        transform: scale(1.12);
      }

  }
  .image_div{
    margin: 0px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    margin-bottom: 0px;
  }
  .name_div{
    border-radius: 0 0 8px 8px;
    margin: 0px;
    margin-top: 0px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
    padding: 1rem 0;
    color: #1b1b1b;
    white-space: nowrap;
    overflow: hidden;
  }


  @media only screen and (max-width: 425px) {
    .row-col-eq{
        min-width: 50% !important;
        max-width: 50% !important;
    }
    .image-cat{
        height: 22vw !important;
      }
  }
  @media only screen and (min-width: 425px) and (max-width: 767px) {
    .row-col-eq{
        min-width: 50% !important;
        max-width: 50% !important;
        margin-bottom: 0px;
    }
    .breadcrumb {
      padding: 0px 0px 15px 0px;
      margin-bottom: 0px !important;
      margin-top: -10px;
  }
    .row-eq-height{
      padding: 0rem 0rem 0px 0rem;
      margin-top: 0rem;
    }
    .image-cat{
        height: 25vw !important;
      }
  }
  @media only screen and (min-width: 768px) and (max-width: 1240px) {
    .row-col-eq{
        min-width: 33.33% !important;
        max-width: 33.33% !important;
    }
    .image-cat{
        height: 15vw !important;
      }
  }