@import '~assets/css/variables';

.review{
  padding: 20px 85px;
  .details{
    font-family: $proxima-reg;
    text-transform: uppercase;
    font-weight: 400;
    color: #8A8888;
    font-size: 16px;
  }
  .heading{
    h5{
      font-weight: 500;
      font-size: 16px;
      color: $color-theme;
      font-family: $proxima-reg;
      margin-bottom: 20px;
    }
    h5.fa{
      margin-right: 8px;
    }
  }
  .detailsOther{
    text-transform: capitalize;
    .name{
      font-family: $proxima-reg;
      font-weight: 500;
      font-size: 14px;
      color: black;
    }
    .rest{
      font-family: $proxima-reg;
      font-size: 14px;
      color: #8A8888;
    }
  }

  .product{
    padding: 0px 10px 0px 0px;
    p{
      font-family: $proxima-reg;
      font-size: 16px;
      text-align: left;
      font-weight: 500;
      padding: 15px 10px;
      border: 1px solid #d2d2d2;
      .fa{
        color: red;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
  .continueBtn{
    background-color: $color-theme;
    font-family: $proxima-reg;
    font-size: 16px;
    color: #fff;
    border: 1px solid transparent;
    transition: .5s;
    &:hover{
      border: 1px solid $color-theme;
      background-color: white;
      color: $color-theme;
    }
  }

  .description{
    height: 150px;
    resize: vertical;
    font-family: $proxima-reg;
    font-size: 16px;
  }
}

@media only screen and (max-width: 990px) {
  .review{
    padding: 10px !important;
  }
}

.mt-20{
  margin-top: 20px;
}
.p-action-btn {
  zoom:0.8;
  margin-top:3px;
  flex: 1 1 0;
  display: flex;
  justify-content: flex-end;
  div.p-plus.t-btn, div.p-minus.t-btn{
    font-size: 14px !important;
    padding: 2px 10px;
    width: auto !important;
    height: auto !important;
    font-family: $proxima-reg;
  }

  div.p-minus.t-btn.t-btn-26{
    height: 28px !important;
    line-height: 23px;
    white-space: nowrap;
    font-family: $proxima-reg;
  }
  div.p-minus {
    width: 23.4px;
    height: 23.4px;
    border-radius: 3.6px;
    background-color: #ffffff;
    border: solid 0.9px #dddddd;
    text-align: center;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    line-height: 21px;
    div {
      width: 9px;
      height: 1.8px;
      background-color: #858585;
    }
  }
  div.p-plus {
    width: 23.4px;
    height: 23.4px;
    border-radius: 3.6px;
    display: flex;
    align-items: center; // display: grid;
    justify-content: center; // align-content: center;
    color: #fff;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
  }
  div.p-quantity {
    text-align: center;
    width: 30px;
    font-family: $proxima-reg;
    font-weight: normal !important;
  }
}
