.card-shimmer-container { 
padding: 15px; 
display: flex; 
justify-content: space-between; 
flex-wrap: wrap; 
} 
.fpo { 
position: relative; 
margin: 25% auto; 
display: block; 
} 
.pulsate { 
background: linear-gradient(-45deg, #eef0f6, #ececec, #eef0f6, #f7f7f7);
background-size: 400% 400%; 
-webkit-animation: Gradient 2.25s ease infinite; 
-moz-animation: Gradient 2.25s ease infinite; 
animation: Gradient 2.25s ease infinite; 
} 
.block { 
display: block; 
width: 271px; 
height: 16px; 
color: black; 
} 
.block2 { 
width: 78px; 
height: 8px; 
margin-bottom: 8px; 
} 
.block3 { 
width: 131px; 
height: 8px; 
margin-bottom: 16px; 
} 
.circle { 
width: 28px; 
height: 28px; 
border-radius: 50%; 
float: right; 
} 
#card { 
box-sizing: border-box; 
width: 335px; 
background: #fff; 
position: relative; 
margin: auto; 
margin-bottom: 10px; 
top: 25%; 
} 
.card-image { 
box-sizing: border-box; 
display: block; 
width: 335px; 
height: 243px; 
background: #fafafa; 
padding: 16px; 
} 
.card-content { 
clear: both; 
box-sizing: border-box; 
padding: 16px; 
background: #fff; 
} 
@-webkit-keyframes Gradient { 
0% { 
background-position: 0% 50%; 
} 
50% { 
background-position: 100% 50%; 
} 
100% { 
background-position: 0% 50%; 
} 
} 
@-moz-keyframes Gradient { 
0% { 
background-position: 0% 50%; 
} 
50% { 
background-position: 100% 50%; 
} 
100% { 
background-position: 0% 50%; 
} 
} 
@keyframes Gradient { 
0% { 
background-position: 0% 50%; 
} 
50% { 
background-position: 100% 50%; 
} 
100% { 
background-position: 0% 50%; 
} 
}
