/* multiselect */
:host /deep/.ui-multiselect-panel {
  background-color: white;
}
:host /deep/ .ui-multiselect-header .ui-multiselect-filter-container {
  // width: 75%!important;
}
:host /deep/ .ui-chkbox {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 0.25em;
}

:host /deep/ .ui-chkbox .ui-chkbox-box {
  width: 1.125em;
  height: 1.125em;
  line-height: 1.125em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  border: 1px solid #ddd;
}
:host /deep/ .ui-chkbox .ui-state-active {
  background-color: white;
  color: #000000;
}
:host /deep/ .ui-chkbox .ui-chkbox-icon {
  display: block;
}

:host /deep/ .ui-chkbox-label {
  vertical-align: middle;
}

:host /deep/ .ui-multiselect-item.ui-corner-all {
  margin-bottom: 4px;
}
:host /deep/ p-multiSelect:not(.show-header) .ui-multiselect-header {
  display: none;
}
:host /deep/ .ui-multiselect {
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  padding: 4px;
  padding-right: 30px;
  line-height: normal;
  &:hover{
    background-color: white;
  }
  &:focus{
    outline: none;
    border: none;
  }
}
:host /deep/ .ui-multiselect-item{
  padding: 0.25em 0.25em;
  &:hover{
    // background-color: transparent;
    color: #000000;
    outline: none;
  }
}
:host /deep/ .ui-state-highlight{
  background-color: transparent;
  color: #000000;
}
:host /deep/ .ui-multiselect.ui-state-focus{
  box-shadow: none;
}
:host /deep/ .ui-multiselect-label,
:host /deep/ .ui-multiselect-panel .ui-multiselect-item label {
  margin: 0 !important;
}
:host /deep/ .ui-multiselect.ui-state-disabled {
  background-color: #eaecef;
}
:host /deep/ .ui-multiselect-header .ui-multiselect-close {
  display: none;
}
:host /deep/ .ui-multiselect-header .ui-multiselect-filter-container {
  width: 90% !important;
}
:host /deep/ .ui-multiselect-header .ui-multiselect-filter-container .fa {
  top: 0.4em;
}
:host /deep/ .ui-multiselect .ui-multiselect-trigger {
  right: 4px;
  .ui-multiselect-trigger-icon {
    color: #9b9b9b;
    font-size: 20px;
  }
}
