/*************************************
**********restaurantCardView**********
*************************************/
@import "../../app/themes/swiggy/theme";
@import '~assets/css/variables';
.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 100%;
  background-color: #ffffff;
  display: -webkit-flex;
  border-radius: 11.7px;
  -webkit-flex-direction: column;
  border: 1px solid #e9e9eb;
  transition: 0.5s;
  &:hover {
    box-shadow: 0 4px 10px 0 rgba(83, 83, 83, 0.16);
    border: 1px solid $color-theme;
  }
  &:focus {
    box-shadow: 0 4px 10px 0 rgba(83, 83, 83, 0.16);
    border: 1px solid $color-theme;
  }
  .card_inner {
    position: relative;
    padding: 12px;
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    height: 100%;
    .card_image {
      flex: 30%;
      flex-grow: 1;
      display: flex;
      align-items: center;
      position: relative;
      img.card_image_view {
        height: 112px;
        min-width: 112px;
        max-width: 112px;
        object-fit: cover;
        border-radius: 6px;
      }
      .closedView {
        position: absolute;
        top: 10px;
        width: 70px;
        height: 20px;
        border-radius: 1px;
        background-color: transparent;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #ffffff;
        text-align: center;
        line-height: 20px;
        .closed {
          width: 70px;
          height: 20px;
          background-color: #d63230;
          margin-bottom: 5px;
        }
        .preorder {
          width: 80px;
          height: 20px;
          background-color: #ba68c8;
          margin-bottom: 5px;
        }
      }
    }
    .card_right {
      flex-grow: 1;
      flex: 70%;
      overflow: hidden;
      margin: 0 8px 0 15px;
      margin-right: 0;
      display: flex;
    flex-direction: column;
    justify-content: center;
      .card_heading {
        display: block;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        line-height: 1.38;
        letter-spacing: 0.5px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        font-weight: 500;
        font-size: 18px;
        color: #1b1b1b !important;
        text-transform: capitalize;
      }
      .card_description {
        height: auto;
        display: block;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        font-size: 14px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: $show-rating-font-color;
      }
      .card_distance {
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: normal;
        color: #8A94A3;
        text-align: left;
        word-wrap: break-word;
        -webkit-line-clamp: 2;
        color: $show-location-font-color;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 36px;
        display: block;
      }
      .card_address {
        height: auto;
        display: block;
        font-size: 14px;
        -webkit-line-clamp: 2;
        width: auto;
        text-align: left;
        color: #939395;
      }
      .card_order_prep {
        height: auto;
        display: block;
        font-size: 11px;
        text-align: left;
        width: auto;
        background-color: black;
        border-radius: 5px;
        color: white !important;
        margin-right: 10px;
        padding: 0px 15px;
      }
      .viewMenu {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #0a9e44;
        text-align: right;
        position: absolute;
        margin-bottom: 2px;
        right: 30px;
        bottom: 8px;
        &:hover {
          color: rgb(186, 40, 36);
          transition: 0.5s;
        }
      }
    }
  }
}
.no-restaurants-map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 0;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  padding-bottom: 40px;
  h3 {
    color: #fff;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .card_image {
    flex: 8% !important;
    img.card_image_view {
    }
    .closedView {
      width: 55px !important;
      height: 20px !important;
      font-size: 12px !important;
      .closed {
        width: 55px !important;
        height: 20px !important;
      }
      .preorder {
        width: 60px !important;
        height: 20px !important;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .card_image_view {
    height: 114px !important;
    min-width: 114px !important;
    max-width: 114px !important;
  }
  .card_heading {
    font-size: 18px !important;
  }
  .card_description {
    font-size: 12px !important;
  }
  .card_distance {
    font-size: 12px !important;
  }
  .card_address {
    font-size: 12px !important;
  }
  .card_order_prep {
    font-size: 12px !important;
  }
  .viewMenu {
    font-size: 11px !important;
  }
}
.bottom-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top-div {
  display: flex;
  flex-direction: column;
}
.store_rating {
  width: auto;
  display: flex;
  align-items: center;
  line-height: 20px;
}
.star-red {
  color: red;
  margin-right: 5px;
}
.star-yellow {
  color: #facd5d;
  margin-right: 5px;
}
.star-green {
  color: #65d035;
  margin-right: 5px;
}
.d-flex-center{
  display: flex!important;
  align-items: center;
}