
// switch
@import '~assets/css/variables';

.switch * {
    cursor: pointer;
}
.switch input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.switch span {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 100px;
    transition: all .5s;
}
.switch span:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    height: 16px;
    width: 16px;
    border-radius: 400px;
    background-color: #e2e4e6;
    -webkit-transition: all .2s;
}
.switch.switch-lg span {
    width: 50px;
    height: 25px;
}
.switch.switch-lg span:after {
    height: 23px;
    width: 23px;
}

.switch input:checked + span {
    transition: all .5s;
}
.switch input:checked + span:after {
    background-color: $color-blue;
    left: 50%;
    transition: all .2s;
}

.switch input[type=checkbox]:disabled+span {
    background: #cecece;
}