@import '~assets/css/variables';

.headerDiv{
  height:75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
:host /deep/ .rest-view .top-header{

  .header{
    .nav-right{
      .items{
        .merchant-link{
          display: flex !important;
          @media only screen and (max-width: 768px) {
            display: none !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1240px) {
  .headerDiv{
    height:102px !important;
  }
}
 
:host /deep/.merchant-logo {
  cursor: default !important;
}