.paynow-gateway{  

    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2000;
    background-color:rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0px;
    left: 0px;
    text-align: center;

    .paynow-message{
        color: white;
        max-width: 300px;
        width: 100%;
        font-size: 18px;
    }
    .paynow-checkout-continue{
        color: white;
        font-weight: 600;
        max-width: 300px;
        width: 100%;
        margin-top: 20px;
        font-size: 18px;
        cursor: pointer;
    }
}
