<form *ngIf="pickupForm" [formGroup]="pickupForm" (ngSubmit)="onSubmit(pickupForm.value)" class="login-form">
    <div class="checkout_card">
        <div>
            <div class="chk_inr_hdng">
                <p class="chk_inr_hdng_txt text-capitalize" *ngIf="!isLaundryFlow">{{isCustomPickup ? (languageStrings.pickup_details || 'Pickup Details')
                    : (languageStrings.customer_details || 'Customer Details')  }}
</p><p class="chk_inr_hdng_txt text-capitalize" *ngIf="isLaundryFlow" >{{formSettings.terminology['MERCHANT']}} Details</p>
            </div>
            <div class="chk_cnt_div chk_form no-gutter m0">

                <div class="chk_form_col" *ngFor="let data  of templateData;" [ngSwitch]="data.data_type" [ngClass]="{'hide':(data.app_side === '2' || data.app_side === '0' || data.data_type ==='Checklist' || data.display_name === 'subtotal'|| data.display_name === 'ready for pick-up')}">
                    <div *ngIf="data.data_type ==='Barcode' || data.data_type === 'Text'">
                        <label class="chk-lable" [for]="data.label">{{data.display_name}} <span class="error-star" *ngIf="data.display_name == 'Name' && data.required == 1">*</span></label>
                        <div class="chk_hidden_space cf-col">
                            <input autocomplete="off" [id]="data.label" [ngStyle]="{ 'direction' : direction }"
                                (keydown)="checkRead(data.app_side,$event)" [ngClass]="{'has-error': (!pickupForm.controls[data.label].valid && pickupForm.controls[data.label].touched)}"
                                class="chk-input" type="text" placeholder=" {{  (languageStrings.enter || 'Enter') + ' ' +  data.display_name.toLowerCase()  || ('Enter' + ' ' + data.display_name.toLowerCase()) }} "
                                [formControlName]="data.label" [class.half-opacity]="data.app_side==='0'" (keypress)="checkRead(data.app_side==='0')" />
                            <app-control-messages [control]="pickupForm.controls[data.label]"></app-control-messages>
                        </div>
                    </div>
                    <div *ngIf="data.data_type === 'Number'">
                        <label class="chk-lable" [for]="data.label">{{data.display_name}} <span class="error-star">*</span></label><br>
                        <div class="chk_hidden_space cf-col">
                            <input autocomplete="off" [id]="data.label" (keydown)="checkRead(data.app_side,$event)"
                                [ngStyle]="{ 'direction' : direction }" [ngClass]="{'has-error': (!pickupForm.controls[data.label].valid && pickupForm.controls[data.label].touched)}"
                                class="chk-input" type="text" placeholder=" {{  (languageStrings.enter || 'Enter') + ' ' +  data.display_name.toLowerCase()  || ('Enter' + ' ' + data.display_name.toLowerCase()) }} "
                                [formControlName]="data.label" [class.half-opacity]="data.app_side==='0'" appNumberOnly />
                            <app-control-messages [control]="pickupForm.controls[data.label]"></app-control-messages>
                        </div>
                    </div>
                    <div *ngSwitchCase="'pickupAddress'">
                        <label class="chk-lable">{{data.display_name}} <span class="error-star" >*</span></label><br>
                        <div class="chk_hidden_space cf-col" [ngStyle]="{ 'direction' : direction }">
                            <div class="address-parent"><i class="glyphicon glyphicon-map-marker map-icon" (click)="openMap()"
                              aria-hidden="true"></i>
                            <app-jw-google-autocomplete [ngClass]="{'has-error': (!pickupForm.controls[data.label].valid && pickupForm.controls[data.label].touched)}"
                                [formControlName]="data.label" (latLng)="onLatLngEvent($event,pickupForm.controls[data.label])"
                                [class.half-opacity]="data.app_side==='0'" (modelChange)="clearLatLng()"
                                 [placeholder]="formSettings && formSettings.terminology && !isCustomPickup ? formSettings.terminology['DELIVER_TO'] : (terminology.ADDRESS || 'Address')"></app-jw-google-autocomplete></div>
                            <!-- <input [ngClass]="{'has-error': (!pickupForm.controls[data.label].valid && pickupForm.controls[data.label].touched)}"
                                class="chk-input" type="text" [ngStyle]="{ 'direction' : direction }" placeholder="{{formSettings && formSettings.terminology && !isCustomPickup ? formSettings.terminology['DELIVER_TO'] : langJson['Address']}}" autocorrect="off" autocapitalize="off"
                                spellcheck="off" #pickUpSearch [formControlName]="data.label" [class.half-opacity]="data.app_side==='0'" (change)="clearLatLng()"
                            /> -->
                            <app-control-messages [control]="pickupForm.controls[data.label]"></app-control-messages>
                        </div>

                    </div>
                    <div *ngSwitchCase="'selfpickupAddress'">
                        <label class="chk-lable" [for]="data.label">{{data.display_name}} <span class="error-star" *ngIf="data.display_name == 'Name' && data.required == 1">*</span></label><br>
                        <div class="chk_hidden_space cf-col" [ngStyle]="{ 'direction' : direction }">
                            <input [id]="data.label" [ngClass]="{'has-error': (!pickupForm.controls[data.label].valid && pickupForm.controls[data.label].touched)}"
                                class="chk-input" type="text" [ngStyle]="{ 'direction' : direction }" [placeholder]="(formSettings && formSettings.terminology) ? formSettings.terminology['SELF_PICKUP_FROM'] : 'Pickup From'"
                                autocorrect="off" autocapitalize="off" spellcheck="off" [formControlName]="data.label"
                                [class.half-opacity]="data.app_side==='0'" readonly />
                            <app-control-messages [control]="pickupForm.controls[data.label]"></app-control-messages>
                        </div>

                    </div>
                    <div *ngSwitchCase="'Telephone'">
                        <label class="chk-lable" [for]="data.label">{{data.display_name}} <span class="error-star" *ngIf="data.display_name == 'Phone Number' && data.required == 1">*</span></label><br>
                        <div class="chk_hidden_space cf-col">
                            <div class="" [ngClass]="{'has-error': (!pickupForm.controls[data.label].valid && pickupForm.controls[data.label].touched)}">
                                <div class="country-drop">
                                    <app-drop-down-list [list]="countries" (updateValue)="updatCC($event,data.label)"
                                        [(childStatus)]="childStatus"></app-drop-down-list>
                                </div>
                                <input [id]="data.label" autocomplete="off" [ngStyle]="{ 'direction' : direction }"
                                    (keydown)="checkRead(data.app_side,$event)" class="chk-input" type="text" style="border-radius:0 5px 5px 0 !important;"
                                     placeholder="{{ languageStrings.enter_phone_number || 'Enter phone number'}}" [formControlName]="data.label"
                                    [class.half-opacity]="data.app_side==='0'" appNumberOnly />
                            </div>
                            <app-control-messages [control]="pickupForm.controls[data.label]"></app-control-messages>
                        </div>
                    </div>


                    <div *ngSwitchCase="'Email'">
                        <label class="chk-lable" [for]="data.label">{{data.display_name}} <span class="error-star" *ngIf="data.display_name == 'Email' && data.required == 1">*</span></label><br>
                        <div class="chk_hidden_space cf-col">
                            <input [id]="data.label" autocomplete="off" (keydown)="checkRead(data.app_side,$event)"
                                [ngClass]="{'has-error': (!pickupForm.controls[data.label].valid && pickupForm.controls[data.label].touched)}"
                                class="chk-input" type="email" [ngStyle]="{ 'direction' : direction }" placeholder=" {{  (languageStrings.enter || 'Enter') + ' ' +  data.display_name.toLowerCase()  || ('Enter' + ' ' + data.display_name.toLowerCase()) }} "
                                [formControlName]="data.label" [class.half-opacity]="data.app_side==='0'" no-space />
                            <app-control-messages [control]="pickupForm.controls[data.label]"></app-control-messages>
                        </div>
                    </div>

                    <!-- <div *ngSwitchCase="'additionalDeliveryAddress'">
                        <label class="chk-lable">{{data.display_name}}</label><br>
                        <div class="chk_hidden_space cf-col">
                            <input class="chk-input" type="text"  [ngStyle]="{ 'direction' : direction }" [placeholder]="langJson['Enter here']" [formControlName]="data.label"
                                [class.half-opacity]="data.app_side==='0'"/>
                            <app-control-messages [control]="pickupForm.controls[data.label]"></app-control-messages>
                        </div>
                    </div> -->

                    <div *ngSwitchCase="'Dropdown'">
                        <label [for]="data.label" class="chk-lable">{{data.display_name}}</label><br>
                        <div class="chk_hidden_space cf-col">
                            <select [id]="data.label" class="chk-input" [formControlName]="data.label" [ngClass]="{'has-error': (!pickupForm.controls[data.label].valid && pickupForm.controls[data.label].touched)}">
                                <option value="" style="display:none;" [ngStyle]="{ 'direction' : direction }">
                                    <ng-container >{{ languageStrings.select || 'Select' }}</ng-container> {{data.display_name}}
                                </option>
                                <option [attr.value]="option.value" *ngFor="let option of data.ddOptions;let oindex = index;"
                                    [attr.selected]="!oindex ? true :null">{{option.label}}</option>
                            </select>
                            <app-control-messages [control]="pickupForm.controls[data.label]"></app-control-messages>
                        </div>
                    </div>

                    <!-- <div *ngSwitchCase="'Checklist'">
                        <label class="chk-lable">{{data.display_name}}</label><br>
                        <div class="chk_hidden_space cf-col">
                            <ng-select [multiple]="true" [allowClear]="true" [options]="data.ddOptions" [placeholder]="data.display_name" [formControlName]="data.label"
                                [ngClass]="{'has-error': (!pickupForm.controls[data.label].valid && pickupForm.controls[data.label].touched)}">
                            </ng-select>
                            <app-control-messages [control]="pickupForm.controls[data.label]"></app-control-messages>
                        </div>
                    </div> -->

                    <div *ngSwitchCase="'URL'">
                        <label class="chk-lable" [for]="data.label">{{data.display_name}}</label><br>
                        <div class="chk_hidden_space cf-col pos-rel">
                            <input [id]="data.label" autocomplete="off" (keydown)="checkRead(data.app_side,$event)"
                                [ngClass]="{'has-error': (!pickupForm.controls[data.label].valid && pickupForm.controls[data.label].touched)}"
                                class="chk-input" type="url" placeholder=" {{ (languageStrings.enter || 'Enter') + ' ' +  data.display_name.toLowerCase()  || ('Enter' + ' ' + data.display_name.toLowerCase()) }} "
                                [formControlName]="data.label" [class.half-opacity]="data.app_side==='0'" no-space />
                            <app-control-messages [control]="pickupForm.controls[data.label]"></app-control-messages>
                        </div>
                    </div>

                    <div *ngIf="data.data_type === 'Date' || data.data_type === 'date' || data.data_type === 'Date-Future' || data.data_type === 'Date-Past' || data.data_type === 'Date-Time'
                                                            || data.data_type === 'Datetime-Future' || data.data_type === 'Datetime-Past' ">
                        <label class="chk-lable" [for]="data.label">{{data.display_name}}</label><br>
                        <div class="chk_hidden_space">
                            <input [id]="data.label" autocomplete="off" (keydown)="checkRead(data.app_side,$event)"
                                [ngClass]="{'has-error': (!pickupForm.controls[data.label].valid && pickupForm.controls[data.label].touched)}"
                                class="chk-input" type="text" daterangepicker [options]="dateOptions[data.data_type.replace('-', '_')]"
                                (selected)="selectedDate($event,data.label)" readonly placeholder="{{ languageStrings.enter_date || 'Enter date' }}" />
                        </div>
                    </div>

                    <div *ngSwitchCase="'Checkbox'">
                        <label class="chk-lable" [for]="data.label">{{data.display_name}}</label><br>
                        <div class="chk_hidden_space">
                            <input autocomplete="off" [id]="data.label" (keydown)="checkRead(data.app_side,$event)"
                                [ngClass]="{'has-error': (!pickupForm.controls[data.label].valid && pickupForm.controls[data.label].touched)}"
                                class="c_bx" type="checkbox" [formControlName]="data.label" [class.half-opacity]="data.app_side==='0'" />
                            <app-control-messages [control]="pickupForm.controls[data.label]"></app-control-messages>
                        </div>
                    </div>

                    <div *ngSwitchCase="'Image'">
                        <label class="chk-lable" [for]="data.label">{{data.display_name}}</label><br>
                        <div style="display:inline-block">
                            <input autocomplete="off" [id]="data.label" (keydown)="checkRead(data.app_side,$event)"
                                class="hidden-input" type="file" [id]="data.label" #fileUpload (change)="get_img($event,data.label)" />
                            <div class="img_inpt" *ngFor="let images of imageSrc[data.label];let i = index;">
                                <img [src]="images" [alt]="data.display_name + ' value ' + i" />
                                <div class="r-img" (click)="removeImage(data.label,i)"><i class="fa fa-times" title="remove"></i></div>

                            </div>
                            <label [for]="data.label">
                                <div class="add_img_lbl">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
<app-map-popup
*ngIf="showTemplatePopup"
[lat]="lat" [lng]="lng" [formattedAddress]="address" (save)="onMapPopupSave($event)"
(close)="hideTempltePopup($event)"></app-map-popup> 