
:host /deep/ .parentdrop {
    top: 12px !important ;
}
.error-star{
    color: red;
}

input[type='text'],textarea,
input[type='number'],input[type='email']{
    border-radius: 5px !important;
  }
  .country-drop{
    border-radius: 5px 0 0 5px;
  }
.map-icon{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 3px;
    font-size: 20px;
    height: 100%;
    cursor: pointer;
    color: var(--theme);
  }
  .address-parent{
    display: flex; 
    position: relative;
  }
  app-jw-google-autocomplete{
    width: 100% !important;
  }
  app-jw-google-autocomplete /deep/ #jw-autocomplete{
    padding-left: 25px;
  }