
 
 @import '~assets/css/variables';

.yl-create-project{
  background-color: #ffffff;
  .yl-main{
    background-color: $color-theme;
    position: relative;
    height: 250px;
    font-family: $proxima-reg;
    .yl-heading{
      h3{
        padding-top: 36px;
        font-family: $proxima-reg;
        font-size: 28px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
      }
    }

    .yl-formParent{
      
      background-color: #ffffff;
      box-shadow: 0 5px 15px 0 rgba(71, 71, 71, 0.2);
      max-width: 1140px;
      margin: 35px auto;
      .yl-noData{
        padding: 10% 0px;
        font-family: $proxima-reg;
        font-size: 18px;
        text-align: center;
        color: #535665;
      }
      .yl-data{
        padding: 47px 50px;
        font-family: $proxima-reg;
      }
    }
  }
}
