@import '~assets/css/variables';
.map-icon{
  position: absolute;
  z-index: 1;
  top: 7px;
  left: 2px;
  font-size: 20px;
  height: 100%;
  cursor: pointer;
  color: var(--theme);
}
.address-parent{
  display: flex; 
  position: relative;
}
app-jw-google-autocomplete{
  width: 100% !important;
}
app-jw-google-autocomplete /deep/ #jw-autocomplete{
  padding-left: 25px;
}
.address{
  padding: 20px 85px;
  .details{
    font-family: $proxima-reg;
    text-transform: uppercase;
    font-weight: 400;
    color: #8A8888;
    font-size: 16px;
  }

  .sameAsPickup{
    cursor: pointer;
    font-family: $proxima-reg;
    font-size: 14px;
  }

  .form{
    .inputStyle, app-jw-google-autocomplete /deep/ input{
      height: 40px;
      border: 1px solid #ccc;
      padding: 5px 10px;
      color: #444;
      font-size: 15px;
      font-family: $proxima-reg;
    }

    /deep/.signup-input{
      height: 40px !important;
      font-size: 16px !important;
    }

    /deep/.ui-calendar {
      width: 100% !important;
    }

    /deep/.ui-inputtext{
      height: 40px;
      border: 1px solid #ccc;
      padding: 5px 10px;
      color: #444;
      font-size: 15px;
      width: 100% !important;
      font-family: $proxima-reg;
    }

    .continueBtn{
      background-color: $color-theme;
      font-family: $proxima-reg;
      font-size: 16px;
      color: #fff;
      border: 1px solid transparent;
      transition: .5s;
      &:hover{
        border: 1px solid $color-theme;
        background-color: white;
        color: $color-theme;
      }
    }
  }
}

.mt-10{
  margin-top: 10px;
}

.mt-20{
  margin-top: 20px;
}
@media only screen and (max-width: 990px) {
  .address{
    padding: 10px !important;
  }
}
