<div class="container-fluid model-container">
    <div class="col-xs-12 action-container">
      <a class="address-action" (click)="deleteAddress($event)" *ngIf="!readOnly">
        <img src="assets/img/delete_address.svg" alt="">
      </a>

    </div>
    <div class="content-wrapper" *ngIf="locationTypes">

      <div class="icon" *ngIf="langJson">
        <img class="loc-type-img"  *ngIf="langJson" [src]="locationTypes[address.locType].icon" alt="">
      </div>
      <div class="content">
        <div class="content-inner">
          <div class="col-xs-12 flex" style="padding-right: 0;     min-height: 3rem;">
            <span class="title flex-1"  *ngIf="langJson">

              {{locationTypes[address.locType].label}}
            </span>
            <span class="yf yf-ic-create" (click)="editAddress($event)"></span>
          </div>
          <div class="col-xs-12"  (click)="editAddress($event)">
            <p class="complete-address">{{address.address}}</p>
          </div>
        </div>
        <div class="col-xs-12 text-center" *ngIf="readOnly">
          <button type="button" class="btn btn-sm btn-deliver-here ">
            <ng-container>{{terminology.DELIVER_HERE || 'Deliver here'}}</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
