@import '~assets/css/variables';
.view-bids{
  max-width: 1380px;
  margin: auto;
  padding: 30px 0px;

  .head{
    div.name{
      font-family: $proxima-reg;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #474747;
      margin: 0px;
    }
    .estimated{
      font-family: $proxima-reg;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #474747;
      text-align: right;
    }
  }
  .no-bid{
    text-align: center;
    font-size: 20px;
    font-family: $proxima-reg;
    color: #535665;
    margin-top: 10%;
  }
  .list {
    margin-top: 40px;
    .list-container {
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0 5px 20px 0 rgba(36, 150, 255, 0.27);
      padding: 23px;
      .first{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 78%;

        .text{
          font-family: $proxima-reg;
          font-size: 20px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #474747;
          padding-left: 10px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      .bton{
        text-align: right;
        .awardJob{
          width: 140px;
          height: 40px;
          border-radius: 8px;
          border: 1px solid $color-theme;
          background-color: $color-theme;
          font-family: $proxima-reg;
          font-size: 14px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #ffffff;
          transition: .5s all;
          &:hover{
            background-color: #fff;
            border: 1px solid $color-theme;
            color: $color-theme;
          }
        }
      }

      .rating{
        margin-left: 25px;
      }
      .amountDiv{
        .amount{
          font-family: $proxima-reg;
          font-size: 18px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #474747;
          text-align: right;
          padding-right: 55px;
        }
      }
      .proposal{
       text-align: justify;
        .projectProp{
          font-family: $proxima-reg;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #838383;
          word-break: break-word;
        }
      }

      .no-required{
        font-family: $proxima-reg;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #838383;
        padding-left: 17px;
      }
      .address{
        font-family: $proxima-reg;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #838383;
        text-align: center;
      }
      .posted{
        font-family: $proxima-reg;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #838383;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        align-items: center;
        text-align: left;
        span{
          color: #00a042;
          padding-left: 10px;
          padding-right: 5px;
        }
      }
    }
  }

  .mt5{
    margin-top: 5px;
  }
  .mt45{
    margin-top: 45px;
  }
  .p-0{
    padding: 0px;
  }
  /***********************************
   **************page loader***********
   ***********************************/
  .pg-ldr-prt {
    position: relative;
    //background: rgba(0,0,0,.5) no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    text-align: center;
  }
  .pg-ldr-cld {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pg-ldr-ctr {
    background-color: #f5f5f5;
    margin: 0 auto;
    border-radius: 10px;
  }

  .pg-ldr-ctr {
    /* width: 80px; */
    /* height: 80px; */
    padding: 8px;
  }
  .pg-loader,
  .pg-loader:after {
    border-radius: 50%;
  }
  @-webkit-keyframes pg-loader {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  .pg-loader {
    -webkit-animation: gl-loader 0.5s linear infinite;
  }
  .pg-loader {
    display: block !important;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    width: 35px;
    height: 35px;
    position: relative;
    border-top: 5px solid rgba(0, 0, 0, .03);
    border-right: 5px solid rgba(0, 0, 0, .03);
    border-bottom: 5px solid #c4253a;
    border-left: 5px solid #c4253a;
    transform: translateZ(0);
  }
}


@media only screen and (max-width: 768px) {
  .head {
    padding: 0 3% !important;
  }
  .awardJob{
    height: 28px !important;
  }
  .list {
    padding: 0 3% !important;
  }
  .estimated{
    margin-top:5px !important;
    text-align: left !important;
  }
  .no-required{
    padding-left: 17px;
  }
  .address{
    padding-left: 17px !important;
    text-align: left !important;
  }
  .posted{
    padding-left: 17px !important;
    text-align: left !important;
  }
  .first {
    flex-direction: column !important;
    max-width: none !important; 
  }
}

@media only screen and (max-width: 1199px) and (min-width: 1000px) {
  .no-required{
    padding-left: 17px;
  }
  .address{
    text-align: right !important;
  }
  .posted{
    padding-left: 17px !important;
    text-align: left !important;
  }
}
.nameHyperlink {
  cursor: pointer;
  color: var(--theme);
}
.firstinner {
  display: flex;
}
@media only screen and (max-width: 999px) and (min-width: 769px) {
  .no-required{
    padding-left: 17px;
  }
  .address{
    text-align: right !important;
  }
  .posted{
    padding-left: 17px !important;
    text-align: left !important;
  }
}
.clickHyperlink {
  font-size: 15px;
}

