@import '~assets/css/variables';

.nav-tab {
  display: flex;
  flex-direction: row;
  ul{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    li{
        cursor: pointer;
        border: 1px solid $color-theme; 
        padding: 6px 17px;
        list-style-type: none;
        outline: none;
        a{
            font-family: $proxima-reg;
            color: #474747;
            font-size: 14px;
        }
        &.active{
          border:0;
          font-family: $proxima-semi-bold;
        }
        &:hover a{
            text-decoration: none;
        }
        &:first-child{
            border-radius: 4px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:last-child{
            border-radius: 4px;
            // border-left: 0;
            // border-top-left-radius: 0;
            // border-bottom-left-radius: 0;
        }
      }
    }
}
.active{
  background-color: $color-theme;
  color: white;
  a{
      color: #fff!important;
      text-decoration: none;
  }
}
.heading{
  font-family: $proxima-reg;
  color: #474747;
  font-size: 18px;
  font-weight: 600;
}
@media(max-width: 767px){
    .nav-tab{
      ul{
        flex-direction: column;
        width: 100%;
        transition: all .3s ease;
        li{
            padding: 6px 35px;
            white-space: nowrap;
          transition: all .3s ease;
        }
        &.collapsed{
        position: relative;
          li:not(.active){
            display: none;
          }
          li{
            border-radius: 4px!important;
          }
          &:after{
            content: '';
            border: 8px solid white;
            position: absolute;
            right: 10px;
            /* border-top: 0; */
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom: 0; 
            top: 35%;
          }
        }
        &.expanded{
          background-color: #eee;
          li{
            border-radius: 0px;
            border: none;
            &:not(:first-child){
              border-top: 1px solid #ddddddbd;
            }
          }
        }
      }
    }
  }
  .main-heading{
    font-size: 24px;
    font-weight: 300;
    color: #333333;
    opacity: 0.8;
    text-align: center;
    @media screen and (max-width: 576px) {
      font-size: 18px;
    }
  }
  button.cart-btn {
      width: auto!important;
      height: 40px;
      border-radius: 6px;
      //padding-top: 8px;
      margin-top: 20px;
    font-family: $proxima-reg;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
      span {
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.3px;
          text-align: left;
      }
  }
  .buttonDiv{
    justify-content: center;
    display: flex;
    padding: 20px;
    text-align: center;
    .dialog-cancel {

      border: solid 1px #b2b2b2;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      color: #b2b2b2;
      margin-right: 20px;
      &:hover {
        background-color: #fff;
      }
      div:hover {
        transform: scale(1);
      }
    }
  }