@import '~assets/css/variables';
$addProductButtonColor: #1a9943;
#cart-fix{
  .deskView{
    width: 100%;
  }
}
.app-cart-div {
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
    padding: 15px 15px 0;
    border-bottom-color: transparent;
}
.product-img
{
    width: 7rem;
    height: 7rem;

    object-fit: cover;
}
.pl-6
{
padding-left: 3px;
}
.app-item-head {
  font-size: 15px;
  word-break: break-word;
  font-weight: normal;
  font-style: normal;
  text-transform: capitalize;
  font-stretch: normal;
  text-align: left;
  color: #1b1b1b;
  margin-bottom: 10px;
  span{
    color: var(--theme);
  }
}

.app-sub-item {
    font-size: 12px;
    letter-spacing: 0.2px;
    color: #858585;
    margin-bottom: 0;
}

.app-cart-item {
    div.item-info {
        display: flex;
        padding-top: 20px;
        user-select: none;
    }
    div.item-price {
        padding-top: 7px;
        flex: 1 1 0;
    }
    div.item-totalprice {
        padding-top: 7px;
        text-align: right;
        user-select: none;
    }
    span {
        span {
            padding-right: 20px;
        }
    }
}

.app-cart_item_seperation {
    width: 100%;
    margin: 15px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.app-subtotal_seperation {
    width: 100%;
    border-top: 1px solid transparent;
    margin: 20px 0 0 0;
}

.app-subtotal {
    .separtor {
        border-radius: 4px;
    }
}

.app-item-subtotal {
    display: flex;
    background-color: #1b1b1b;
    padding: 10px 15px 10px 15px;
    width: auto;
    div.total-txt {
        flex-basis: 75px;
        span.head {
            width: 53px;
            height: 21px;
            font-size: 14px;
            font-weight: 600;
            text-align: left;
            color: #fff;
        }
    }
    div.total {
        text-align: right;
        flex: 1 1 0%;
        span {
            height: 22px;
            font-size: 14px;
            font-weight: 600;
            text-align: right;
            color: #fff;
            user-select: none;
        }
    }
}

.app-cls-plusminus-cart {
    display: grid;
    grid-template-columns: 35px 45px 35px;
    padding-right: 20px;
    div.quantity {
        padding-top: 10px;
        text-align: center;
    }
}
.delete-icon{
    cursor : pointer;
    color: #c0c0c0;
}
.app-cart-text {
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1b1b1b;
  border-bottom: 1px solid #e9e9eb;
  border-radius: 5px 5px 0 0;
  padding: 10px 15px;
  background-color: #fff;
}

.clearBtn{
    width: 100%;
    height: 35px;
    border-radius: 6px !important;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
    span {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.3px;
        text-align: left;
    }
    &:hover {
        transform: scale(1);
        color: #fff;
    }

}

button.cart-btn {
    width: 100%;
    height: 40px;
    margin-top: 0px;
    border-radius: 0px !important;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  border-radius: 4px;
    span {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.3px;
        text-align: left;
    }
    &:hover {
        transition: all .3s;
        color: #fff;
    }
}

.cartAndClear{
    display: flex; 
    justify-content: space-between;
    align-items: baseline;
}

.clearCart{
    color: var(--theme);
    cursor: pointer;
}

.clearCart:hover{
    color: #333333;  
}

.app-cart-list {
    max-height: 300px;
    overflow: auto;
    width: calc(100% + 35px);
    margin-left: -20px;
    padding: 0 15px;
    overflow-x: hidden;
    transform-style: all .3s;
    &::-webkit-scrollbar {
        width: 3px;
    }
}
.card-img
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

div.cart-p-detail-sec {

    display: flex;
    div.app-item-totalprice {
        padding-top: 7px;
        text-align: right;
        user-select: none;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.2px;
      color: #5c5c5c;
    }
}

div.p-action-btn {
    flex: 1 1 0%;
    display: flex;
    justify-content: flex-start;
    div.p-minus {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 0.9px #dddddd;
        text-align: center;
        line-height: 20px;
        div {
            width: 9px;
            height: 1.8px;
            background-color: #858585;
        }
    }
    div.p-plus {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        justify-content: center;
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 20px;
        user-select: none;
    }
    div.p-quantity {
        text-align: center;
        padding-top: 0px;
        width: 40px;
      font-size: 12.6px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.2px;
      color: #333333;
    }
}

.emptyCart {
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #7e808c;
    font-size: 18px;
    font-weight: 300;
   .img-cart {
       height: 90px;
   }
  .text-cart {
    padding-top: 20px;
  }
}

.checkout.btn.btn-default {
    border: 0;
}

.checkout.btn.btn-default:active,
.checkout.btn.btn-default:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0
}
.bottom-bar{
    width: 100vw;
    padding: 4px;
    color: white;
    height: 50px;
  position:fixed;
  bottom: 0px;
}
.checkout-bottom{
    height: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    align-content: center;
    justify-content: flex-end;
    div{
        display: flex;
        align-items: center;
    }
}
div.p-plus.t-btn, div.p-minus.t-btn{
  font-size: 14px !important;
  padding: 2px 10px;
  width: auto !important;
  height: auto !important;
}
.btn-cursor{
    cursor: pointer !important;
}
@media only screen and (max-width: 1469px) and (min-width: 990px) {
  #cart-fix{
    min-width: 190px;
  }
}
.min-qty{
    margin-top: 10px !important;
    color: #afafaf !important;
}
.max-qty {
    margin-top: 0px !important;
    color: #afafaf !important; 
}

.dialog-cancel{
    border: solid 1px #b2b2b2 !important;
}

.pad-60 {
    padding: 60px 0px;
}

.yesNoBtn{
    width: 65px !important;
}
.clearCartRow{
    padding: 15px;
}
:host /deep/ .modal-content{
    width: 415px !important;
}
.btnsDiv{
    padding: 0px;
}
@media only screen and (max-width: 768px) {
    .mobile-cart-view
    {
        display: flex !important;
        align-items: center;
    }
    :host /deep/ .modal-content{
        width: 315px !important;
    }
}
.edit-customization{
    cursor: pointer;
}
