@import '~assets/css/variables';


.heading{
  text-align: center;
  padding: 40px 0px 0px;
}

.addYourReview{
  float: right;
  // color: blue;
  color: $color-theme;
  text-decoration: underline;
  font-weight:200;
  margin-right: 20px;
  cursor: pointer;
  height: 25px;
  margin-top: 26px;
  padding-top: 5px;
  padding: 0px 80px;
  font-size: 17px;
}

.editRating{
  float: right;
  // color: blue;
  color: $color-theme;
  text-decoration: underline;
  font-weight:200;
  margin-right: 20px;
  cursor: pointer;
  height: 25px;
  margin-top: 26px;
  padding-top: 5px;
  padding: 0px 80px;
  font-size: 17px;
}

.reviewDetails{
  background-color:#f9fafb;
  height: auto;
  border-radius: 4.4px;
  box-shadow: inset 0 0px 1px rgba(0,0,0,.075);
}

.reviewCustomerName{
  padding: 20px;
  padding-bottom: 0px; 
  letter-spacing: 0.8 !important; 
  padding-top: 1px !important;
}

.reviewOfCustomer{
  font-size: 20px;
  padding-left: 20px; 
  letter-spacing: 0.8 !important; 
  word-break: break-word; 
  padding-right: 20px;
  display: block;
}

.title {
  font-size: 25px;
  line-height: 30px;
  // font-weight: 300;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #858585;
  // margin-bottom: 15px;
  display: inline-block;
  color: black;
}
.line{
  margin: 0 auto;
  width: 50px;
}

.cards{
  margin: 10px;
  padding: 20px;
  background-color: #ffffff;
  
  cursor: pointer;
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.1);
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000000; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #ffffff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-top: 70px; /* Place content 60px from the top */
}

/* The navigation menu links */
.sidenav p,h4{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #313131;
  font-family: ProximaNova-Regular;
  display: block;
  span{
    float: right;
  }
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.side-card{
  border: solid 1px #e4e4ed;
  display: flex;
  margin: 16px;
  flex-direction: column;
}
.cust-card{
  border: solid 1px #e4e4ed;
  margin: 24px;
}
.total-card{
  border: solid 1px #e4e4ed;
  //display: flex;
  margin: 16px;
}
#main{
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  display: none;
  background-color: black;
  opacity: 0.7;
  width: 100vw;
}
.order-id{
  color: #ffffff;
  font-size: 18px;
  padding: 8px 8px 8px 32px;
  font-family: ProximaNova-Regular;
  span{
    float: right;
  }
}
.side-card p {
  padding: 8px 8px 8px 16px;
}
.total-card p {
  font-family: ProximaNova-Regular;
  padding: 8px 8px 8px 16px;
  font-weight: bolder;
  span{
    float: right;
  }
}
.main-c{
  //height: 100%;
  padding-bottom:20px;
  height: auto;
  min-height: calc(100vh - 180px);
}
.no-orders{
  height: 80vh;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}


.pg-ldr-prt {
  position: relative;
  //background: rgba(0,0,0,.5) no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  text-align: center;
}

.pg-ldr-cld {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pg-ldr-ctr {
  background-color: #f5f5f5;
  margin: 0 auto;
  border-radius: 10px;
}

.pg-ldr-ctr {
  /* width: 80px; */
  /* height: 80px; */
  padding: 8px;
}

.pg-loader {
  width: 35px;
  height: 35px;
  position: relative;
  border-top: 5px solid rgba(0, 0, 0, 0.03);
  border-right: 5px solid rgba(0, 0, 0, 0.03);
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.pg-loader,
.pg-loader:after {
  border-radius: 50%;
}

@-webkit-keyframes pg-loader {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}

.pg-loader {
  -webkit-animation: gl-loader 0.5s linear infinite;
}

.pg-loader {
  display: block !important;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  width: 35px;
  height: 35px;
  position: relative;
  border-top: 5px solid rgba(0,0,0,.03);
  border-right: 5px solid rgba(0,0,0,.03);
  border-bottom: 5px solid #c4253a;
  border-left: 5px solid #c4253a;
  transform: translateZ(0);
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.order_loader{
  display:none;
}

.tile {
  border-radius: 6px;
  margin: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: solid 0.8px #d0d0d0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.21);
}

.reviewHeading {
  font-family: ProximaNova-Regular;
  padding-left: 20px;
  font-size: 14px;
  margin-top: 12px;
  // text-align: left;
  text-align: center;
  color: #595968;
}

.grphContainer {
  padding: 10px 48px;
  height: 120%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.reviewRating {
  font-family: ProximaNova-Regular;
  margin: 0px;
  // font-size: 50px;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: -0.9px;
  // text-align: left;
  text-align: center;
  color: #333333;
  border-radius: 4.4px;
}

.star-ratings {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 19px;
  width: 94px;
  position: relative;
  // padding: 0;
  padding: 12px;
  padding-bottom: 0px;
  
}

.star-ratings-top {
  color: gold;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0px;
  overflow: hidden;
}

.star-ratings-bottom {
  z-index: 0;
}

.ratingNo {
  font-family: ProximaNova-Regular;
  font-size: 18px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #333333;
}

.relativeGraph {
  display: inline-block;
  width: 320px;
}

.grph {
  height: 8px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.spacing {
  padding: 30px 40px;
}


.ratingImage {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  font-family: ProximaNova-Regular;
  border-radius: 50%;
  margin-bottom: 10px;
  background-size: contain;
}

.sideSpacing {
  padding-left: 30px;
  padding-bottom: 10px;
}

.review-rateTitle {
  font-family: ProximaNova-Regular;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #333333;
}

.customRatingReviewdiv {
  display: inline-block;
  border-radius: 13px;
  // width: 40px;
  width: 55px;
  margin-right: 10px;
  font-size: 13px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  height:18px;
}

.reviewDate {
  opacity: 0.5;
  font-family: ProximaNova-Regular;
  font-size: 12px;
  text-align: left;
  color: #333333;
  font-weight: 500;
  padding-left: 15px;
}

.rating-reviewCount {
  padding-left: 2px;
}

.paginationButton {
  font-family: ProximaNova-Regular;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ff7d49;
}

.reviewDesciption {
  opacity: 0.8;
  font-family: ProximaNova;
  font-size: 14px;
  text-align: left;
  color: #333333;
  // padding-top: 10px;
}


.starContainer{
  height: 90px;
  div{
  outline: none !important;
}
}

.starContainerDiv{
  background-color: #f9fafb;
  padding-bottom: 9px;
  margin-bottom: 16px;
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
  border-radius: 4px;
}

.starContainerHeading{
  font-family: ProximaNova-Regular;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
}

:host /deep/ .rating{
  justify-content: flex-start !important;
  padding-left: 6px;
}

star-rating-comp > div {
  outline: none !important;
}
.parent-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 904;
  margin: 5px;
  div.content-dialog {
    // width: auto;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 5.3px;
    padding: 20px 30px;
    padding-right: 0px;
    transform: translate(-50%, -50%);
    div.dialog-title {
      text-align: center;
      margin-bottom: 20px;
      padding-bottom: 10px;
      height: 40px;
      span {
        // font-size: 18px;
        font-size: 24px;
      }
    }
    div.dialog-msg {
      font-size: 20px;
      color: #333333;
      letter-spacing: 0.5px;
      line-height: 24px;
      input {
        outline: none;
        &:focus {
          outline: none;
        }
      }
    }
    div.dialog-action {
      display: flex;
      justify-content: flex-end;
      padding-top: 10px;
      line-height:1px;
      div {
        font-size: 15px;
        background-color: transparent;
        color: #fff;
        border: 1px solid;
        border-radius: 2px;
        padding: 7px 20px; // box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, .3);
        // &.dialog-ok{
        //    background-color: $primary;
        // }
        // &.dialog-cancel{
        // }
        border-radius: 4.4px !important;
        font-weight: bold;
        font-family: ProximaNova-Semibold;
      }
      div.dialog-cancel {
        border-radius: 2px;
        border: solid 1px #b2b2b2;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        color: #b2b2b2;
        margin-right: 20px;
      }
      div:hover {
        transform: scale(1); // background-color:transparent;
      }
    }
    hr.p-hr {
      margin: 30px 0 0 0px;
      width: 460px;
      background-color: #c1c1c1;
    }
  }
}

.fieldContainer{
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.promo-pay-div {
  max-height: 245px;
  overflow: auto;
  padding-right: 25px;
}

.card-dialog {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 904;
  width: 100%;
  height: 100%;
}

.green-bold{
  background-color:rgb(148, 201, 101);
}

.yellow-bold{
  background-color:#ffc058 !important;
}

.red-bold{
  background-color:#f03c56 !important;
}

.noOfStars{
  padding: 12px;
  overflow: hidden;
  margin: auto;
  background-color: #22a75e;
  color: white;
  width: 110px;
  padding: 5px;
  margin-bottom: 12px;
}

.totalStars{
  font-size: 18px !important;
  opacity: 0.4
}


@media only screen and (max-width: 425px){
  .parent-dialog{
    div.content-dialog{
      top: 60px !important;
      padding: 20px 15px 40px !important;
      height: auto !important;
      overflow-y: scroll !important;
    }
    div.dialog-title{
      margin-bottom: 20px !important;
    }
  }
  .starContainer{
    text-align: center !important;
    margin: auto;
  }


  div.dialog-action{
  div.dialog-cancel{
    margin-right: 5px !important;
  }
}

p.vendor-name{
  text-align: center !important;
}

.imageDiv{
  text-align: center !important;
}

}


@media only screen and (max-width : 550px) {
  hr.p-hr{
    width: 290px!important;
  }
}

@media only screen and (max-width: 768px){
 .parent-dialog{
   div.content-dialog{
     max-width: 700px;
     width: calc(100% - 30px);
     position: fixed;
     top: 80px;
     bottom: 0px;
     left: 0px;
     right: 0px;
     margin: 15px;
     transform: none;
     padding: 20px 30px 40px;
     height: max-content;
   }
 }
 img.image{
   width: 60px !important;
 }
 p.vendor-name{
   text-align: left;
   padding-top: 5px;
 }
 .fieldContainer{
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.grphContainer {
  height: auto;
  margin-top: 70px;
}
.starsSpan{
  display: block;
}
.ReviewsNew{
  display: block;
  text-align: center;
  padding-top: 10px;
}
.editRating{

    float: none !important;
    // color: blue;
    color: $color-theme;
    text-decoration: underline;
    font-weight:200;
    margin-right: 0px !important;
    cursor: pointer;
    height: 0px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding: 0px 0px !important;
    font-size: 17px;
    display: block;
    margin-top: 15px !important;
}

.addYourReview{
  float: none !important;
  // color: blue;
  color: $color-theme;
  text-decoration: underline;
  font-weight:200;
  margin-right: 0px !important;
  cursor: pointer;
  height: 0px !important;
  margin-top: 0px !important;
  padding-top: 0px !important;
  padding: 0px 0px !important;
  font-size: 17px;
  display: block;
  margin-top: 15px !important;
}

p.vendor-name{
  text-align: center !important;
}

.imageDiv{
  text-align: center !important;
}
}
.image{
  width: 100%;
}
.vendor-name{
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  word-break: break-word;
}