@import '~assets/css/variables';
@import '~assets/css/checkbox';
.p-0{
  padding:0
}
input[type='text'],textarea,
input[type='number'],input[type='email']{
    border-radius: 5px !important;
  }
.p-0  /deep/ int-phone-prefix .intl-tel-input input[type='text']{
  border-radius: 5px !important;
}
.data-control{
  margin-bottom: 20px;
  >label{
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  .checkboxes{
    margin-bottom: 10px;
  }
}
.image-container{
  display: flex;
  img{
    margin-right: 15px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
    background-image: linear-gradient(45deg, rgba(85, 77, 86, 0.2) 25%, transparent 25%, transparent 75%, rgba(85, 77, 86, 0.2) 75%, rgba(85, 77, 86, 0.2)), linear-gradient(45deg, rgba(85, 77, 86, 0.2) 25%, transparent 25%, transparent 75%, rgba(85, 77, 86, 0.2) 75%, rgba(85, 77, 86, 0.2));
    background-size: 4px 4px;
    background-position: 0 0, 2px 2px;
  }
  .label-for-btn{
    height: fit-content;
    cursor: pointer;
    margin-right: 10px;
  }
  .btn-upload{
    border: 2px solid $color-theme;
    background-color: $color-theme;
    color: white;
    pointer-events: none;
    &:hover{
      background-color: transparent;
      color: $color-theme;
    }
  }
  .uploaded-image{
    position: relative;
    i{
      position: absolute;
      right: 15px;
      top: 0;
      background: white;
      padding: 2px;
      cursor: pointer;
    }
  }
}
app-control-messages{
  position: absolute;
}
//dropdown
:host /deep/ p-calendar {
  .ui-calendar.ui-calendar-w-btn{
    width: calc(100% - 30px) !important;
  }
  .ui-datepicker-trigger{
    background-color: $color-theme!important;
    color: white;
    /* height: 30px; */
    width: auto;
    border: 0;
  }
  input{
    height: 35px!important;
    width: 100%;
    padding: 6px 12px;
  }
}

//dropdown 
:host /deep/ p-dropdown{
  .ui-dropdown{
    width: 100%!important;
  }
  .ui-dropdown-trigger{
    border:0;
    color: $color-theme;
  }
  label.ui-dropdown-label{
    padding: 6px 12px;
  }
  .ui-dropdown-item{
    padding: 0.25em 0.75em !important;
  }
  .ui-state-highlight{
    background: var(--theme) !important;
  }
}
.image-label-images-container{
  display: flex;
  flex-direction: column
}
.d-flex{
  display: flex;
  flex-wrap: wrap;
}
@media (min-width:768px){
  .image-label-images-container{
    flex-direction: row
  }
}
.full-wd{
  width: 100% !important;
}
:host /deep/.intl-tel-input{
  width: 100% !important;
}

.err-star{
  color: red;
  margin-left: 2px;
}

input.form-control.ng-dirty.ng-invalid{
  border-bottom-color: #f44336;
}