

.pages-wrapper{
    padding-top: 100px;
    margin: auto;
//   height: calc(100vh - 100px);
    padding-bottom: 80px
}

.error-page{
    padding-top: 4em;
    text-align: center;
    font-size: 30px;
    i{
        font-size: 40px;
        color: red;
    }
}
