.auth-make-payment-container {
  background-image: url('/assets/images/map-overlay-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  .logo-image {
    max-width: 180px;
    margin: 15px 0;
  }
}


#loader {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

#loader .btn-loading {
  width: 55px !important;
  height: 55px !important;
  border: 5px solid #f3f3f3;
  /* border-top: 5px solid #555!important; */
  border-top: 5px solid #2496ff;
  margin: 0 !important;
}

#loader .bg-color {
  background-color: #ddd;
  padding: 10px;
  border-radius: 8px;
}

.payment-error {
  position: fixed;
  min-height: 54px;
  background-color: #d41616;
  color: white;
  font-weight: 600;
  width: calc(100% - 40px);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  left: 20px;
  bottom: 20px;
}

@media screen and (min-width: 768px) {
  .payment-error {
    width: 400px;
  }
}

#formContainer {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#formContainer .div-form {
  width: 520px;
  padding: 15px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}


#formContainer .div-form .heading {
  font-size: 1.2em;
}

#formContainer .div-form .description {
  font-size: 1em;
  margin-bottom: 1em;
}


.payment-success-container {

  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;

}

.payment-success {
  width: 520px;
  padding: 15px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .success-text {
    font-size: 24px;
    margin-top: 20px;
  }

  .redirection-text {
    font-size: 14px;
  }

  .success-img {
    img {
      height: 100px;
    }
  }
}
