<form [formGroup]="changePasswordForm">
  <div class="nameEdit">
    <label for="oldPassword" [ngStyle]="{ 'direction' : direction }"><ng-container>{{languageStrings.current_password || 'Current Password'}}</ng-container></label>
    <input id="oldPassword" type="password" class="form-control" formControlName="oldPassword" placeholder="{{languageStrings.current_password ||'Current Password'}}" />
    <app-control-messages [control]="changePasswordForm.controls.oldPassword"></app-control-messages>
  </div>
  <div class="nameEdit">
    <label for="newPassword" [ngStyle]="{ 'direction' : direction }"><ng-container>{{languageStrings.new_password || 'New Password'}}</ng-container></label>
    <input id="newPassword"type="{{newPasswordType}}" class="form-control" formControlName="newPassword" placeholder="{{languageStrings.new_password || 'New Password'}}" (change)="changeNewPassword()"/>
    <span class="showPassword" (click)="changeInputType('1')">
      <i class="fa fa-eye" aria-hidden="true"></i>
    </span>
    <app-control-messages [control]="changePasswordForm.controls.newPassword"></app-control-messages>
  </div>
  <div class="nameEdit">
    <label  for="confirmPassword" [ngStyle]="{ 'direction' : direction }"><ng-container>{{languageStrings.confirm_password || 'Confirm Password'}}</ng-container></label>
    <input type="{{confirmPasswordType}}" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="{{languageStrings.confirm_password || 'Confirm Password'}}" (change)="changeNewPassword()" />
    <span class="showPassword" (click)="changeInputType('2')">
      <i class="fa fa-eye" aria-hidden="true"></i>
    </span>
    <app-control-messages [control]="changePasswordForm.controls.confirmPassword"></app-control-messages>
    <div *ngIf="matchPassword" style="color: red" class="errorR">{{languageStrings.password_does_not_match ||'Password does not match.'}}</div>
  </div>
  <div class="saveButton text-center">
    <button class="btn backButton text-capitalize" mat-button (click)="goBack()" [ngStyle]="{ 'direction' : direction }"><ng-container>{{languageStrings.back || 'Back'}}</ng-container></button>
    <button class="btn okButton text-capitalize" mat-button appColor bg="true"  (click)="saveChangePassword()" [disabled]="!changePasswordForm.valid" [ngStyle]="{ 'direction' : direction }" ><ng-container>{{languageStrings.save ||'Save'}}</ng-container></button>
  </div>
</form>
