@import '~assets/css/variables';

label{
  font-family: "ProximaNova-Regular";
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9c9c9c;
}
input{
  font-family: "ProximaNova-Regular";
  width: 100%;
  height: 50px;
  opacity: 1;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #d2d2d2;
  padding: 10px;
  font-size: 18px;
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    opacity: 0.5;
    font-size: 18px;
    text-align: left;
  }
  &:focus {
    outline: none;
  }
}
select{
  font-family: "ProximaNova-Regular";
  width: 100%;
  height: 50px;
  opacity: 1;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #d2d2d2;
  padding: 10px;
  font-size: 18px;
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    opacity: 0.5;
    font-size: 18px;
    text-align: left;
  }
  &:focus {
    outline: none;
  }
}
.saveButton{
  padding: 15px 0px;
  .backButton{
    font-family: "ProximaNova-Regular";
    min-width: 100px;
    color: #333 !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 4.8px !important;
  }
  .okButton{
    font-family: "ProximaNova-Regular";
    min-width: 100px;
    border: 1px solid transparent !important;
    border-radius: 4.8px;
    margin-left: 10px;
  }
}
.nameEdit{
  position: relative;
}

.showPassword{
  position: absolute;
  right: 10px;
  top: 38px;
  cursor: pointer;
  &:hover{
    color: $color-theme;
  }
}
