@import '../../../../../assets/css/variables';

bs-datepicker-container {
  margin-bottom: 10px;
}

/* The circles on the timeline */

.slots {
  display: flex;
  // display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  border: solid 1px #e4e4ed;
  flex-direction: column;
  -webkit-flex-direction: column;
  margin-bottom: 5px;
  padding: 8px;
}

.slot-parent {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  max-height: 300px;
  overflow-y: auto;
}

.slot-ui {
  border: solid 1px #e4e4ed;
  padding: 8px;
  width: calc(100% / 4.05);
  margin: 8px;
  text-align: center;
  cursor: pointer;

  &:hover {
    border: solid 1px #333333;
  }
}

.slot-ui.booked {
  border: solid 1px #e4e4ed;
  padding: 8px;
  width: calc(100% / 5.05);
  margin: 8px;
  text-align: center;
  cursor: default;
  pointer-events: none;
  background-color: #ccc;
}

.selected-slot-ui {
  padding: 8px;
  width: calc(100% / 5.05);
  margin: 8px;
  text-align: center;
  cursor: pointer;
  border: solid 1px #333333;
}

.slot-parent.agent {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  max-height: 300px;
  overflow-y: auto;
}

.slot-ui.agent {
  border: solid 1px #e4e4ed;
  padding: 8px;
  width: 43%;
  margin: 8px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    border: solid 1px #333333;
  }
}

.selected-slot-ui.agent {
  padding: 8px;
  width: 43%;
  margin: 8px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  border: solid 1px #333333;
}

.text-upper{
  text-transform: uppercase;
}

@media only screen and (max-width: 700px) {
  .slot-ui.agent {
    width: 100%;
  }

  .selected-slot-ui.agent {
    width: 100%;
  }
}

bs-datepicker-container {
  margin-bottom: 10px;
}

.slot-heading {
  padding: 8px;
  background-color: #e4e4ed;
}


[hidden] {
  display: none !important;
}

.rec-tk-start-time {
  padding: 0;
  margin: 3rem 0rem;
}


.chk-lable {
  font-family: "$proxima-reg";
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9c9c9c;
  text-transform: uppercase; // margin-top: 20px;
}


.chk-input,
app-jw-google-autocomplete /deep/ .chk-input {
  border-radius : 5px 0 0px 5px !important;
}

.chk-input,
app-jw-google-autocomplete /deep/ .input-box {
  font-family: "$proxima-reg";
  width: 100%;
  border-radius : 5px 0 0px 5px !important;
  box-shadow: none !important;
  font-size: 16px !important;
  border-radius: 0 !important;
  height: 3.5rem !important;
  opacity: 1;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #c7c7c7c7;
  padding: 10px;

  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    opacity: 0.5;
    font-size: 16px;
    text-align: left;
  }

  &:focus {
    outline: none;
  }
}




.no-border-fa {
  border-left: none;
  background-color: transparent;
}

.input-group-addon.no-bgcolor {
  background-color: transparent;
}

.rec-tk-end {

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  [type="radio"]:checked+label,
  [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
  }

  [type="radio"]:checked+label:before,
  [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 4px;
    top: -8px;
    ;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
  }

  [type="radio"]:checked+label:after,
  [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: var(--theme);
    position: absolute;
    top: -4px;
    left: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.rec-table {
  border: 0.5px solid rgba(151, 151, 151, 0.25);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);

  tr td {
    border: solid 0.5px rgba(151, 151, 151, 0.25);
    padding: 7px 12px;
    cursor: pointer;
    transition: 0.1s ease-in all;
    &.selected{
      box-shadow: -4px 2px 12px 0 rgba(0, 0, 0, 0.19);
      background-color: var(--theme);
      color: var(--white);
    }
    &.disabled{
      color: #c2c2c2;
    }
  }
}

.rec-tk-type{
  margin: 15px 0px;
}

.rec-tk-days{
  .day{
    display: inline-block;
    margin-right: 15px;
    width: 42px;
    line-height: 26px;
    border-radius: 1.5px;
    background-color: var(--white);
    color: var(--theme);
    border: 1px solid;
    border-color: var(--theme);
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
    transition: 0.1s ease-in all;
    &.selected{
      background-color: var(--theme);
      color: var(--white);
    }
    &.disabled{
      color: #c2c2c2;
      border-color: #c2c2c2;
    }
  }
}

input[type="text"]:disabled {
  background: #c9c9c9;
  transition: 0.3s ease all;
}
input[type="number"]:disabled {
  background: #c9c9c9;
  transition: 0.3s ease all;
}

.delivery_mssg{
  padding-top: 5px;
  font-family: $proxima-reg;
  font-size: 14px;
  text-align: left;
  color: #333333;
  align-items: center;
}
.p-0{
  padding: 0;
}
.marBottom10{
  margin-bottom: 10px;
}
.delivery_head{
  font-family: "ProximaNova-Semibold";
  margin-bottom: 5px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: #464646;
}
.bg-color{
  background-color: #ebebeb;
  padding: 15px;
}