@import '~assets/css/variables';

.progressbar{
  width: 100%;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  background: $color-theme;
  color: white;
  .active-progress-bar{
    background-color: $color-theme !important;
    .progress-no{
      color: $color-theme !important;
    }
  }
  .active-progress-bar::after {
    border-left-width: 25px !important;
    border-left-style: solid !important;
    border-left-color: $color-theme !important;
  }
  .step-progress{
    width: auto;
    cursor: pointer;
    padding-left: 2%;
    height: 50px;
    padding-top: 15px;
    float: left;
    text-align: center;
    position: relative;
    vertical-align: middle;
    background: #D4D4D4;
    &::before{
      content: "";
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 25px solid #F9F9F9;
      position: absolute;
      left: 0;
      top: 0;
    }
    &::after{
      content: "";
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 25px solid #D4D4D4;
      position: absolute;
      right: -23px;
      z-index: 200;
      top: 0;
    }
    .progress-no {
      padding: 3px 8px;
      background: white;
      color: #ccc;
      border-radius: 18px;
      font-family: $proxima-reg;
    }
    .progress-title {
      margin-left: 10px;
      font-family: $proxima-reg;
    }
  }
  .step-progress:nth-child(1):before {
    border: none!important;
  }
  .step-progress:nth-child(5):after {
    border: none!important;
  }
}

@media only screen and (max-width: 992px){
  .progress-title{
    display: none !important;
  }
}

.backArea{
  padding: 10px 20px 40px 20px;
  font-family: $proxima-reg;
  font-size: 16px;
  color: #8A8888;
  .back{
    color: $color-theme !important;
    font-size: 16px;
    padding-right: 10px;
    cursor: pointer;
  }
}