@import '~assets/css/variables';

.enter-promo{
  width: 100%;
  position: relative;
  /* max-width: 335px; */
  padding: 20px 10px;
  /* margin-right: 3%; */
  /* margin-top: 60px; */
  background: #F3F3F3;
  /* height: 250px; */
  &::before{
    background: linear-gradient(45deg,rgba(0,0,0,0) 33.333%,#F3F3F3 33.333%,#F3F3F3 66.667%,rgba(0,0,0,0) 66.667%),linear-gradient(-45deg,rgba(0,0,0,0) 33.333%,#F3F3F3 33.333%,#F3F3F3 66.667%,rgba(0,0,0,0) 66.667%);
    background-size: 16px 35px;
    content: "";
    display: block;
    position: absolute;
    /* width: 91%; */
    margin-top: -10px;
    height: 10px;
    z-index: 100;
    /* margin-left: -10px; */
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  .coupon{
    .text{
      font-family: Proximanova-Regular;
      font-weight: 600;
      font-size: 16px;
      color: black;
    }
    .inputField{
      position: relative;
      .inputPromo{
        height: 40px;
        border: 1px solid #ccc;
        padding: 5px 10px;
        color: #444;
        font-size: 15px;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        margin: 0em;
        background-color: white;
        width: 70%;
        font-family: Proximanova-Regular;
      }
      .promobtn{
        width: 30%;
        height: 40px;
        font-size: 15px;
        background-color: $color-theme;
        color: white;
        font-family: Proximanova-Regular;
        position: absolute;
        right: 0px;
        border: 1px solid $color-theme;
      }
    }
  }
}
