.container {

    text-align: -webkit-center;
    
}

.Container {

    padding: 70px 40px 40px 40px;
    margin: 15px 10px;   
    display : flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: #b1b1b1 0px 0px 11px;
    text-align: center;
    width: 80%;
    margin: 60px 0px;
    
}
.image-box {

    margin: 5px 0px;

}

.bold-info-box {

    font-weight: 800;
    font-size: 25px;
    margin: 38px 0px;
}

.info-box {

    font-weight: 300;
    font-size: 20px;
}

.footer {

    margin-top : 20px;
    
}

.btn {

   

    border-radius: 5px !important;
    background-color: #25a1ff;
    padding: 7px 32px;

}
.btn:hover {

    cursor : pointer;
    background-color: rgb(22, 130, 212);
}
:host /deep/ .modal {
    top: 0px !important;
    background: rgba(0,0,0,0.6);
}