@import '~assets/css/block-shimmer';

.category-shimmer-container{

    padding: 15px;
    background-color: white;
    max-width: 100%;
    width: 86%;
    border-radius: 5px;
    margin: 0 auto;
    div{
        margin-top: 12px;
        height: 10px;
        width: 100%;
    }
    div:nth-child(1){
        height: 25px;
    }
    div:nth-child(2){
        margin-top: 20px;
        width: 50%;
    }
    div:nth-child(3){
        width: 60%
    }
    div:nth-child(4){
        width: 80%
    }
    div:nth-child(5){
      width: 90%
    }
   div:nth-child(6){
    width: 100%
    }
}

.product-shimmer-container{
  padding: 15px;
  border-radius: 5px;
  margin: 0 15px;
  background-color: white;
}

.product-shimmer-container.grid{
  display: block;
  padding: 0px !important;
  margin-right: 10px;
  margin-top: 10px;
  .image-div{
    height: 150px;
    width: 100%;
    margin-right: 0px;
  }
  .detail-div{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    .detail-grp-1{
      width: 100%;
      div{
        height: 10px;
      }
      div:nth-child(1){
        width: 100%
      }
      div:nth-child(2){
        margin-top: 20px;
        width: 50%;
      }
      div:nth-child(3){
        margin-top: 20px;
        width: 45%;
      }
    }
    .detail-grp-2{
      margin-top: 10px;
      div{
        width: 100%;
        height: 10px;
      }
    }
  }
}

.product-shimmer-container.list{
    display: flex;
    .image-div{
        height: 120px;
        width: 120px;
        margin-right: 20px;
    }
    .detail-div{
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .detail-grp-1{
            width: 80%;
            div{
                height: 10px;
            }
            div:nth-child(1){
                width: 100%
            }
            div:nth-child(2){
                margin-top: 20px;
                width: 50%;
            }
            div:nth-child(3){
                margin-top: 20px;
                width: 45%;
            }
        }
        .detail-grp-2{
            div{
                width: 70%;
                height: 10px;
            }
        }
    }

}
.logo-card-shimmer-container{
  display: flex;
  .image-div{
      height: 120px;
      width: 120px;
      margin-right: 20px;
  }
  .detail-div{
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
          div{
              height: 10px;
          }
          div:nth-child(1){
              width: 75%;
              height: 20px;
          }
          div:nth-child(2){
              margin-top: 20px;
              width: 70%;
          }
          div:nth-child(3){
              margin-top: 20px;
              width: 70%;
          }
          div:nth-child(4){
            margin-top: 20px;
            width: 70%;
        }

  }
}

@media only screen and (max-width: 768px) {
  .product-shimmer-container.grid{
    margin-left: 10px;
    margin-right: 0px;
  }
}
