@import '~assets/css/variables';
@import '../../../../themes/swiggy/theme';

.listView {
  .marginLeftZero {
    margin: 20px 0px;
  }

  p{
    margin-bottom: 0px !important;  
    color: #8A94A3; 
  }

  .marginApp {
    margin: 0px 0rem;
  }

  .marginLeftZeroCategory {
    margin: -15px 0px;
  }

  .paddingMobileZero {
    padding: 0px;
  }

  .marginBZero {
    margin-bottom: 0px !important;
  }

  .marginBottomStore {
    margin-bottom: 5px;
  }

  .marginBottomDescription {
    margin-bottom: 10px;
  }

  .marginBottom {
    margin-bottom: 5px;
  }

  .paddingZero {
    padding: 0px;
  }

  .marginZero {
    margin: 0px;
  }

  .card_parent {
    margin-bottom: 20px;
  }
.mg-st{
  margin: 7px 10px 10px 0!important;
}
  .sponsored {
    position: absolute;
    width: 70px;
    height: 20px;
    bottom: 10px;
    border-radius: 1px;
    background-color: transparent;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
    line-height: 20px;

    p {
      background-color: #ffc058;
      width: 110px;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 3px;
    }
  }
}

.card {
  cursor: pointer !important;
}

.card_right {
  cursor: pointer !important;
}

.filter-area {
  width: 30%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20000;
  height: 100%;
  background: white;
}
.viewmaplist{
display: inline-flex;
float: right;
}

.filter-triggers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px 15px 15px;
  .selected-category {
    color: #1b1b1b;
    font-size: 16px;
    .cat-name {
      border-left: 3.4px solid $color-theme;
      padding-left: 10px;
      font-weight: 600;
      font-size: 20px;
    }
  }
}

.filter-column {
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
}

.overlay-area {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
}

.filter-text {
  font-size: 16px;
  margin-left: 15px;
}
.viewmp{
  align-self: center;
  margin-right: 2rem;
  .glyphicon{
    color: $color-theme;
  }
  a{
    color: #474747;
    cursor: pointer;
    font-size: 16px
  }
  a:hover{
    color: $color-theme;
  }
}
.yfn-controls-1:before {
  content: "\e90d";
  color: #ee5b36;
}
.filter-icon {
  border-radius: 3px;
  padding: 5px 8px;
  background: #fff;
  margin-right: 0px;
  color: var(--theme);
  color: #474747;
  border: 1px solid #d5d5d9;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &:hover {
    color: $color-theme;
    border: 1px solid $color-theme;
    /deep/.yfn.yfn-controls-1::before {
      color: $color-theme !important;
    }
  }
}



.no-location-map {
  display: flex;
  text-align: center;
  flex-direction: column;
  img.no-location {
    height: 180px;
  }
  h3 {
    color: #474747;
  }
}

.color-theme{
  color: $color-theme !important;
}

.m-0{
  margin: 0px;
}

.card_order_prep {
  color: $show-delivery-time-font-color !important;
  line-height: 2.04;
}
.pg-ldr-prt {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.pg-ldr-ctr {
  background-color: #f5f5f5;
  margin: 0 auto;
  border-radius: 10px;
}

.pg-ldr-ctr {
  padding: 8px;
}

.pg-loader {
  width: 35px;
  height: 35px;
  position: relative;
  border-top: 5px solid rgba(0, 0, 0, 0.03);
  border-right: 5px solid rgba(0, 0, 0, 0.03);
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.pg-loader,
.pg-loader:after {
  border-radius: 50%;
}

@-webkit-keyframes pg-loader {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}

.pg-loader {
  -webkit-animation: gl-loader 0.5s linear infinite;
}

.pg-loader {
  display: block !important;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  width: 35px;
  height: 35px;
  position: relative;
  border-top: 5px solid rgba(0,0,0,.03);
  border-right: 5px solid rgba(0,0,0,.03);
  border-bottom: 5px solid #c4253a;
  border-left: 5px solid #c4253a;
  transform: translateZ(0);
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.row-eq-height{
  display: flex;
  flex-wrap: wrap;
  .row-col-eq{
      margin-bottom: 20px;
  }
}
.dot{
  height: 6px;
  width: 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  color: #939395;
}
:host /deep/ bs-tooltip-container .tooltip-inner{
  word-break: break-all!important;
}
.d-line{
  border-radius: 11.7px;
  margin: 5px 0 5px;
}
.sticky-top{
  position: sticky;
  top: 55px;
  z-index: 4;
  background-color: var(--bg-color);
}
@media screen and (min-width: 1200px) {
  .marginApp {
    margin: 0px 8rem !important;
  }
}

@media screen and  (max-width: 1200px){
  .sticky-top{
    top: 95px;
  }
  .filter-area {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .card_parent {
    padding: 0px 5px 0px 15px;
}
.row-eq-height {
  padding: 0px;
}
.filter-area {
  width: 60%;
}

}
@media screen and (max-width: 576px) {

  .filter-area {
    width: 100%;
  }
}