@import '~assets/css/variables';
.layout_parentFreelancer {
    //display: flex;
    //flex-direction: column;
    //height:100%;
    margin-top: 70px;
    font-family: $proxima-reg;
}

app-header {
    height: 70px;
}