<app-modal [modalType]="modalType" *ngIf="show && pageData">
  <div body
    style="padding: 15px 30px">
    <div class="row" style="padding: 10px">
      <div style= "display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;">
        <img src="assets/img/bold-cancel.svg"
          style="height: 15px;cursor:pointer;"
          (click)="hidePopUp()" />
      </div>
      <div class="pages-wrapper">
        <div class="container-fluid pt-5 pb-5">
          <div class="container-fluid terms-condition-detail" [innerHTML]="pageData | Sanitize: 'HTML'">
          </div>
        </div>
      </div>
    </div>
  </div>
</app-modal>
