@import '~assets/css/variables';

.card-signup {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 20px;
  padding-bottom: 0;

  .line {
    margin: 5px auto;
    width: 60px;
    float: left;
  }
}

.otpWidth {
  text-align: center;
  text-align: -webkit-center;

  input {
    width: 100%;
  }

  .form-group {
    width: 100%;
  }

  app-control-messages {
    width: 100%;
    display: block;
    text-align: left !important;
  }
}

.formHeading {
  opacity: 0.6;
  font-family: $proxima-reg;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #525252;
  padding-bottom: 25px;
}

@media only screen and (max-width: 768px) {
  .card-signup {
    padding: 5px;
  }

  .otpWidth {
    text-align: center;
    text-align: -webkit-center;

    input {
      width: 100%;
    }

    .form-group {
      width: 100%;
    }

    app-control-messages {
      width: 100%;
      display: block;
      text-align: left !important;
    }
  }
}

.main-heading {
  font-size: 24px;
  font-weight: 300;
  color: #333333;
  opacity: 0.8;
  text-align: center;
  font-family: $proxima-reg;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  text-align: center;
  color: #000000;
  margin-top: 10px;

  @media screen and (max-width: 576px) {
    font-size: 18px;
  }
}

.input-style {
  color: #333333;
  height: 60px;
  font-size: 20px;
}

.btnSubmit {
  border-radius: 8px;
  border: solid 1px #ffffff;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 30px 0 15px 0;
  padding: 15px 0;
  width: 100%;
  background-color: var(--theme);
}

.otpOption {
  font-family: $proxima-reg;
  font-size: 18.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  text-align: left;
  color: #06aed5;
  padding: 0;
}

.btn-red {
  background-color: #e13d36;
  color: white !important;
  font-size: 18px;
}


/deep/.flagInput {
  background-color: white !important;
  width: 57px !important;
  text-align: center !important;

  button {
    outline: none
  }
}

.fontSize {
  font-size: 18px;
}

.checkbox input[type=checkbox] {
  margin-top: 7px;

}

#formTelephone .input-group {
  height: 60px !important;
}

#formTelephone .input-group .flagInput {
  height: 60px !important;
}

#formTelephone .input-group .fugu-tel-input {
  height: 60px !important;
}


#SignUpformTelephone .input-group {
  height: 60px !important;
}

#SignUpformTelephone .input-group .flagInput {
  height: 60px !important;
}

#SignUpformTelephone .input-group .fugu-tel-input {
  height: 60px !important;
}

.addFormData {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 1%;
}

.input-group {
  border: none;
  box-shadow: none;
}

#showPassword #eye-icon{ 
  fill: #999; 
  } 
  #showPassword #eye-icon.selected{ 
  fill: $color-blue!important; 
  } 
  #showPassword:hover #eye-icon{ 
  fill: $color-blue; 
  }

  .eye{
      position: absolute;
      top: 20px;
      right: 10px;
      z-index: 10;
  }
