@import '~assets/css/variables';
@import '~assets/css/stores-view';
@mixin common() {
  display: inline-block;
  float: left;
}
// new ui
.hide-lg-view{
  display: none !important;
}
.mult-banner-mobile{
  position: absolute !important;
  top: 0 !important;
  background: rgba(0, 0, 0, 0.50);
}
.mat-checked .mat-slide-toggle-bar{
  background-color: #43a834 !important;
}
.mat-ripple-element{
  background-color: transparent !important;
}
.mat-slide-toggle-thumb{
  background-color: white !important;
}
.phone-locaion-div{
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}
.links{
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  // padding: 8px 8px 8px 22px;
  width: 40px;
  height: 40px;
}
.phone-icon{
  position: absolute;
  right: 15px;
}
.new-banner-footer .fa-search, .hide-lg-view .fa-search{
  color : var(--theme);
  margin-right: 1.5rem;
  font-size: 18px;
}
:host bs-tooltip-container /deep/ .tooltip{
  z-index: 1004 !important;
}
.new-main-banner {
  display: flex;
  height: 17vw;
  position: sticky;
  margin: 0 auto;
  margin-bottom: 20px;
  justify-content: center;    
  padding: 0rem 0rem 0rem 0;
  align-items: center;
  background-color: #1b1b1b;
  .new-logo-banner {
    width: 32%;      
    z-index: 2;
    position: relative;
    min-height: 100%;
    .new-logo-content{
      transition: all .4s ease-out;
      display: flex;
      overflow: hidden;
      background: #fff;
      align-items: center;
      position: absolute;
      height: 156px;
      width: 100%;
      padding: 8px 4px 8px 4px;
      box-shadow: 0px 0px 10px #777;
      right: -3rem;
      top: 24%;
      border-radius: 12px;
      .new-logo-div{
        padding: 0px 15px;
      }
      .new-content-text{
        width: 70%;
        margin-right: 1rem;
        .new-time-rate{
          display: flex;
          align-items: center;
          padding-top: 1rem;
          div{
            display: flex;
          }
        }
        h4{
          font-size: 22px;
          font-weight: 600;
          text-transform: capitalize;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          margin: 0px;
          color: #1b1b1b;
          word-break: break-word;
        }
      } 
      div .store-logo-img {
        height: 120px;
        width: 120px;
        -o-object-fit: cover;
        object-fit: cover;
        box-shadow: 0px 0px 41px #fff;
        border-radius: 6px;
      }
    }
    div .new-logo-div img{
      transition: all 0.8s ease;
      &:hover {
        -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
      }
    }
  }
  .new-background-image{    
    z-index: 1;
    height: 100%;
    position: relative !important;
    width: 80%;
    border-radius: 10px;
    background-position: top;
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: flex-start;
    .carouselDiv {
      position: absolute;
      width: 100%;
      height: 100%;
      &:hover  .carousel-control{
        opacity: 1 !important;
      }
      .carousel {
        height: 100%;
        .carousel-inner {
          height: 100%;
          .item {
            height: 100%;
            text-align: center;
            text-align: -webkit-center;
            text-align: -moz-center;

            img {
              min-height: 100%;
              cursor: pointer;
            }
          }
        }
      }
      .carousel-indicators li {
        background-color: #d2d2d2 !important;
        border-color: #d2d2d2 !important;
        width: 8px !important;
        height: 8px !important;
        margin-left: 10px;
      }

      .carousel-indicators .active {
        background-color: #fff !important;
        border-color: #fff !important;
        width: 10px !important;
        height: 10px !important;
      }

      .carousel-control {
        opacity: 0 !important;

        .fa.fa-angle-left {
          width: 46px;
          height: 45px;
          margin-top: -10px;
          font-size: 30px;
          background-color: #fff;
          border-radius: 50%;
          padding-top: 5px;
          padding-right: 5px;
          color: $color-theme;
          left: 20%;
          position: absolute;
          top: 46%;
          z-index: 5;
          display: inline-block;
        }

        .fa.fa-angle-right {
          width: 46px;
          height: 45px;
          font-size: 30px;
          background-color: #fff;
          border-radius: 50%;
          padding-top: 5px;
          padding-left: 5px;
          color: $color-theme;
          right: 5%;
          position: absolute;
          top: 43%;
          z-index: 5;
          display: inline-block;
        }
      }

      .carousel-control.left {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), to(transparent)) !important;
      }

      .carousel-control.right {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), to(transparent)) !important;
      }
    }
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 0px;
      position: absolute;
    }
    .new-banner-footer{
      position: absolute;
      width: 70%;
      bottom: -20px;
      display: flex;
      left: 0rem;
      .btn-bars{
        .store-detail__search__bar{
          flex-grow: 1;
        }
      }
      .fa .fa-search{
        color: grey;
        font-size: 15px;
        line-height: 0;
        padding: 0 1rem;
      }
    }
  }
}
.closedMobileRestro{
  z-index: 12;
  width: 100%;
  background: #c7c7c7;
  color: #fff;
  padding:4px 0px;
  justify-content: center;
  align-items: center;
  display: flex; 
  span {
    right: 1%;
    position: absolute;
  }
}
.closedRestro {
  position: absolute;
  top: 0px;
  margin-bottom:2rem;
  z-index: 12;
  width: 100%;
  background: #c7c7c7;
  color: #fff;
  height: 4rem;
  justify-content: center;
  align-items: center;
  display: flex;
  img{
    margin-right:1rem;
  }

  span {
    right: 1%;
    position: absolute;
  }
}
.hide-icon /deep/ app-autocomplete .glyphicon-map-marker{
  display: none !important;
}
app-category {
  flex: 1 1 25%;
  max-width: 25%;
}

#general_background {
  margin-top: 0;
}

.select_category {
  padding-bottom: 20px;
  height: auto;

}
.old_ui_select_category{
  min-height: 100vh!important;
}
.select_category .padding_35 {
  padding: 0px 35px;
  margin-top: 20px;
}

.select_category .fix_search_div {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.select_category .fix_search_div hr {
  display: none;
}

.search_div {
  z-index: 1;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: table;
  background-color: rgba(0, 0, 0, .3);

  div.inner-search-div {
    width: auto;
    height: 240px;
    background-color: rgba(0, 0, 0, 0.35);
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    padding-top: 30px;
    position: absolute;
    width: auto;
    top: 0;
    pointer-events: none;
    display:none

    div {
      span {
        font-size: 50px;
        font-weight: 300;
        letter-spacing: 0.5px;
        color: #fff;
      }

      hr {
        width: 50px;
        margin-bottom: 0;
        border-top: solid 2px;
      }
    }
  }
}

div.heading_cvr {
  margin: 25px auto;

  .name {
    font-size: 36px;
    letter-spacing: 0.3px;
    margin-top: 0.4rem;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .old-ui-names {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 2rem;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .description {
    font-size: 30px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
  }

  .card_description {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
  }

  .addressDetails {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
  }
}

span.ratingCount {
  opacity: 0.9;
  background-color: #fff;
  font-size: 20px !important;
  font-weight: bold !important;
  letter-spacing: 1px !important;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  padding: 5px;
}

div.customRatingDivCat1 {
  position: absolute;
  border-radius: 5px;
  display: inline-block;
  margin-right: 8px;
  padding: 4px 6px;
  height: 35px;
  font-size: 21px !important;
  text-align: center;
  color: #fff !important;
  font-weight: 500 !important;
  margin-left: 0px;
  pointer-events: all;
  line-height: 20px;
  margin-top: 45px;
  background: #ffc058;
  cursor: pointer;
}
@supports (-ms-ime-align: auto) {
  div.customRatingDivCat1 {
    margin-top: 100px;
  }
  }

div.customRatingDivCat1.rateNow {
  background: #5ba829 !important;
  color: white;
  cursor: pointer;
}

.averageRating {
  background-color: #f27d3a !important;
}

.goodRating {
  background-color: #31b744 !important;
}

.select_category_cover {
  margin: 0 auto;
}

.select_category .search_div img {
  margin-top: -10px;
  margin-right: 10px;
}

.magic_search {
  border-radius: 10px;
  width: 30px;
  border: 0;
  outline: 0;
  box-shadow: 0;
  height: 30px;
  position: relative;
  float: right;
  padding: 5px 35px 5px 5px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

.magic_search_expanded {
  width: 300px;
  border: 2px solid #858585;
}

.magic_search_shrinked {
  width: 30px;
  border: 0;
}

.cls-cntn-catalog {
  clear: both;
  margin-top: 150px;
  padding: 51px 90px 20px;
}

.list-image {
  width: 90px;
  height: 90px; 
}

.text-left {
  text-align: left;
}

.list-catalog {
  height: 131px;
  margin-bottom: 30px;
}

.cls-list-view {
  float: left;
  width: 100%;
  position: relative;
  padding: 20px;

  margin: 5px 0;
  cursor: default;
  background-color: #fff;
  border: 1px solid #efefef;

  &:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    transition: all .35s;
  }
}

.cls-arrow {
  text-align: right;
  font-size: 18px;
}

.cls-cate-info {
  flex: 1 1 0;
  padding-left: 20px;
  text-align: left;
  padding-right: 20px;
  word-break: break-word;
  width: 100%;
}

.cls-cmn {
  @include common()
}

.cls-cntn-banner {
  clear: both;
  margin-top: 240px;
  padding: 36px 15px 20px;
}

.banner_cover {
  max-width: calc(100% - 60px);
  margin: 0 auto;
  padding: 0;
}

.select_category .content-card {
  display: inline-block;
  border-radius: 10px;
  vertical-align: top;
  width: 240px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
  border: 2px solid #efefef;
  background-color: #fff;
}

.select_category .content-card:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  transition: all .35s;
}

.select_category .img_div {
  width: 100%;
  height: 220px;
  overflow: hidden;
  object-fit: contain;
  display: grid;
  text-align: center;
  background: #fff;
  justify-content: center;
  align-content: center;
}

.select_category .img_div img {
  width: auto;
  height: auto;
  max-width: 100%; 
  max-height: 220px;
}

.select_category .img_div::before {
  content: '';
}

.select_category .tag_div {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 0 7px;
}

.select_category .tag_div p {
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #333333;
  margin: 0px;
  word-wrap: break-word;
}

.select_category .tag_div i {
  float: right;
  color: #e13d36;
  margin-bottom: 20px;
}

.cls-pro-parent {
  max-width: 1230px;
  margin: 0 auto;
  text-align: center;

  div.text-center {
    width: 604px;
    padding: 0 15px;
    display: inline-block;
  }
}

.center-arrow {
  position: relative;
  right: 0;
  top: 35px;
}

.catloop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.cat-list-view {
  float: right;
  max-width: 589px;
}

.cat-list-view-even {
  max-width: 589px;
}

.cls-home-cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px auto 0;
}

.cls-home-cat-laundry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px auto 0;
  justify-content: center;
}

.cat-menu {
  background-color: #ffffff;
  margin: 0;
  position: relative;

  div.cls-menu-text {
    font-size: 24px !important;
    text-align: left;
    padding: 10px 15px;
    border-bottom: 1px solid #e9e9eb;
  }
}

.cls-cat-list {
  div {
    position: relative;
    padding-top: 2px;

    &.cls-hover-cat {
      padding: 15px 15px;
      word-wrap: break-word;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      line-height: normal;
      font-weight: 400;
      letter-spacing: normal;
      color: #1b1b1b;
      &.active {
        border-left: 3px solid $color-theme;
        padding-left: 13px;
        font-size: 14px;
        font-weight: 600;
      }

      &:hover {
        border-left: 3px solid $color-theme;
        padding-left: 13px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  div.cls-cat-sub-list {
    p {
      margin-bottom: 10px;
    }

    span.sub-active {
      width: 10px;
      height: 10px;
      position: absolute;
      margin-right: 10px;
      top: -6px;
      font-size: 30px;
      color: #e13d36;
      padding: 0;

      span {
        padding: 0;
      }
    }

    span {
      padding-left: 12px;
    }
  }
}


.green-bold {
  background-color: rgb(148, 201, 101);
}

.yellow-bold {
}

.red-bold {
  background-color: #f03c56 !important;
}



.product-app {
  flex: 0 0 75%;
  max-width: 75%;
  width: auto;
}
.product-app-old-ui {
  flex: 0 0 70%;
  max-width: 70%;
  width: auto;
}

.product-app_without_product {
  padding: 0 30px;
  flex: 0 0 75%;
  max-width: 100%;
}
.product-app_without_product--old-ui {
  padding: 0 30px;
  flex: 0 0 70%;
max-width: 100%;
}
.cart-app {
  flex: 0 0 25%;
  max-width: 25%;
}
.cart-app-old-ui{
  flex: 0 0 30%;
  max-width: 30%;

}
.fixed-bottom {
  bottom: -20px;
  position: fixed;
  z-index: 10;
}


.loader {
  display: block !important;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  width: 50px;
  height: 50px;
  position: relative;
  border-top: 5px solid rgba(0, 0, 0, .03);
  border-right: 5px solid rgba(0, 0, 0, .03);
  border-bottom: 5px solid #fff;
  border-left: 5px solid #fff;
  transform: translateZ(0);
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@-moz-document url-prefix() {

  div.customRatingDivCat1.rateNow {
    margin-top: 90px;
  }
    }

.search-bar {
  margin-top: 8px;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;

  .location-search {
    width: 20%;

    .form-control {
      background-color: #efefef;
      border-left: none;
    }

    .btn {
      border-right: none;
      background-color: #efefef;
    }

    .form-control {
      height: 33px;
    }
  }

  .text-search {
    width: 70%;

    .form-control {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      height: 33px;
    }
  }
}

.prodSearch {
  margin: 20px auto;
  display: flex;
  max-width: 745px;

  form {
    width: 100%;

    .input-group {
      width: 100%;

      input {
        height: 40px;
        font-size: 16px;
        border-right: 0px;

        &:focus {
          border-color: #ccc;
        }
      }

      .input-group-addon {
        background-color: #ffffff;
      }
    }
  }
}
.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
    &__veg-check{
    }
    &__form{

      &__input{
        border-right: none;
      }
      &__addon{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0.8rem;
        border: 1px solid #ccc;
        border-left: none;
        background: #eee;
      }
    }
    &__order{
      justify-content: center;
      .pre-order-btn{
        margin-left: 1rem;
      }
    }
    /deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb
    {
      background: white;
    }
    /deep/ .mat-slide-toggle-thumb
    {
    width: 22px;
    height: 25px;
    object-fit: contain;
    border-radius: 11px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    }
    /deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-bar
    {
      background-color: #43a834;
    }
    /deep/ .mat-slide-toggle-bar {
    width: 37px;
    height: 22px;
    object-fit: contain;
    border-radius: 10.8px;
    }

    /deep/ .mat-slide-toggle-thumb-container
    {
      top: -2px!important;
      left: -1px!important;
      z-index: 0;
    }

}

.reverse-order{
  
  .search-container__veg-check{
    order: 1;
  }
  .search-container__form{
    order: 0;
    div{
      border-radius: 5px;
    }
  }
  .search-container__order{
    order: 2;
  }
}
.marginZero {
  margin: 0px;
}

.paddingZero {
  padding: 0px;
}

.bannerDivMain {
  .bannerDiv {
    z-index: 1;
    position: relative;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    overflow: hidden;
  }
  .bannerDiv-old-ui {
    z-index: 1;
    position: relative;
    width: 100%;
    top: 0;
    left: 0; 
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    min-height: 250px;
  }
  @media screen and (min-width: 768px) {
    .icon-img {
      margin-right: 0px;
  }
    .bannerDiv {
     height: 350px;
    }
    div.heading_cvr .description{
      max-width: 95%;  
      }
      .store-detail__search__button{
        color: rgb(255, 255, 255) !important;
        background-color: rgb(32, 62, 108) !important;
        margin-right: 0px;
        padding: 5px;
      }
      .icons-margin{
        width: 18%;
      }
      .clock-icon{
        font-size: 21px !important;
      }
      .bannerDiv {
        height: 260px;
      }
      .new-main-banner
      {
        display: none!important;
      }
      .bannerDiv-old-ui 
      {
        min-height: 30vw;
        display: flex;
      justify-content: center;
      align-items: center;
  
      }
      div.heading_cvr .description
      {
        max-width: 90%!important;
      }
  }
  .storeLogo {
    z-index: 2;
    position: absolute;
    left: 105px;
    bottom: -60px;

    .storeLogoBend {
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
      height: 150px;
      width: 150px;
      object-fit: cover;
      background-repeat: no-repeat;
      border: 2px solid #fff;
    }
  }

  .ratingView {
    padding: 15px 15px 0px 270px;

    .storeBasicInfo {
      display: inline-flex;
      width: 100%;
      padding-bottom: 5px;

      .storeName {
        font-size: 24px;
        width: 100%;

        .starRating {
          display: inline-flex;
          width: 100%;

          .stars {
            padding-left: 10px;
            padding-top: 5px;
          }
        }

        .reviewButton {
          text-align: right;
          width: 30%;
        }
      }
    }
  }

  @media only screen and (max-width: 991px) {
    @-moz-document url-prefix() {
      .storeLogo {
        position: unset;
      }
        }

        @-moz-document url-prefix() {

          div.customRatingDivCat1.rateNow {
            margin-top: 60px;
          }
            }
    .ratingView {
      padding: 15px 15px 0px 15px;
    }

    .storeLogo {
      bottom: 10px;
      left: 0px;
      text-align: center;
      width: 100%;

      .storeLogoBend {
        height: 110px;
        width: 110px;
      }
    }

    .banner-storeLogo {
      bottom: 22px;
      pointer-events: none;
    }
  }
}

.w-50{
  width: 50%;
}
.rating-div{
  display: flex;
  align-items: center;
  margin-top: -10px;
}
.rating-bigtext{
  font-size: 4rem;
}
.rating-address-bar{
  background: var(--rating-bar-color);
  display: flex;
  color: #fff;
}
.rating-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addr-border{
  border-left: solid 1px #fff;
}
.rating-outoftext{
  line-height: 1;
  margin-left: 0.3rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}
.inner-search-div{

  height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
.store-logo-img{
  height: 120px;
  width: 120px;
  object-fit: cover;
  box-shadow: 0px 0px 41px #fff;
  border-radius: 6px;
}
.heading_cvr{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rate-now-btn{
  text-decoration: underline;
  margin-top: 0.4rem;
  font-size: 1.4rem;
  cursor: pointer;
}
.star-container-bar{
  position: relative;
  .filled-stars{
    z-index: 2;
    display: flex;
    color: #f8ce0b;
    overflow: hidden;
    font-size: 3rem;
  }
  .unfilled-stars{
    z-index: 1;
    display: flex;
    position: absolute;
    color: #f8cd0b33;
    left: 0;
    top: 0;
    font-size: 3rem;
  }
}

.withoutAppCategory {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  max-width: 25%;
}

.veg_only_check {
  height: 40px;
  display: flex;
  align-items: center;
}

#banner-parent{
  position: sticky;
  position: -webkit-sticky; /* Required for Safari */
  top: 0px;
  z-index: 100;
}
#banner-footer{
  transition: all .4s ease-out;
}
.banner-heading{
  z-index: 1;
  color: #fff;
  font-size: 24px;
  margin-left: 10rem;
  display: none;
  font-weight: 500;
  text-align: center;
  align-items: baseline;
  align-self: center;
  text-shadow: 0px 1px 5px #1b1b1b;
}

.banner-transition{
  padding: 0 !important;
  width: 100%;
  height: 15vw !important;
  .new-logo-banner .new-logo-content{
    width: 100% !important;
    top: 0;
  }
  .new-background-image{
    align-items: flex-start;
  }
}
@keyframes fadeIn{
  0% {
    opacity:1;
    background-color: rgb(214, 210, 210);
  }
  25%{
    opacity: 0.75;
    background-color: rgb(90, 89, 89);
  }
  50%{
    opacity: 0.5;
    background-color: rgb(93, 89, 89);
  }
  100% {
    opacity:0;
    background-color: #000;
  }
}
@keyframes fadeOut{
  0% {
    opacity:0;
    color: rgb(93, 89, 89);
  }
  25%{
    opacity: 0.25;
    color: rgb(90, 89, 89);
  }
  50%{
    opacity: 0.5;
    color: rgb(214, 210, 210);
  }
  100% {
    opacity:1;
    color: transparent;
  }
}

.m0 {
  margin: 0px;
}

.p0 {
  padding: 0px;
}

.preorder-btn-cvr {
  position: relative;
  text-align: center;
display: flex;
  .preorder-popover {
    position: absolute;
      top: 40px;
      left: -50px;
    color: #000;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.13);
    z-index: 21;
    width: 200px;
    padding: 10px 15px;

    p.preorder-time {
      margin-bottom: 5px;
    }

    p.instant {
      margin-bottom: 0;

      a {
        color: $color-theme;
        cursor: pointer;
      }
    }

    .caret-icon {
      position: absolute;
      font-size: 30px;
      color: #fff;
      transform: rotate(-90deg);
        top: -18px;
        left: 85px;
        transform: rotate(0deg);
    }
  }
}

.category-shimmer {
  flex: 1 1 25%;
  margin-top: 20px;
}

.product-app-shimmer {
  margin: 20px 0px 0px 0px;
}

.cart-shimmer {
  margin-top: 20px;
}

.rate-now-star {
  font-size: 19px;
}

.rate-now {
  padding-left: 0;
}

.mt-50 {
  margin-top: 50px;
}

.mt-10 {
  margin-top: 10px;
}

.locationColor {
  color: $color-theme;
  font-size: 24px;
}

.displayFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-search {
  display: flex;
  justify-content: center;

  .input-group {
    width: 100%;

    input {
      height: 40px;
      font-size: 16px;
      border-right: 0px;

      &:focus {
        border-color: #ccc;
      }
    }

    .input-group-addon {
      background-color: #ffffff;
    }
  }
}


.pad-left-0 {
  padding-left: 0;
}

.new-search div.new-box {
  display: flex;
  width: 56%;
}

.pad-search-0 {
  padding-left: 0px !important;
}

$banner_bg: #ececec;

.bannerComponent1 {

  .marginZero {
    margin: 0px;
  }

  .paddingZero {
    padding: 0px;
  }

  .multiBanners {
    padding: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    background-color: $banner_bg;
    height: 100%;
    position: relative;

    .carouselDiv {
      width: 100%;
      height: 100%;
      .carousel {
        height: 100%;
        &:hover  .carousel-control{
          opacity: 1 !important;
        }
        .carousel-inner {
          height: 100%;
          .item {
            height: 100%;
            opacity: 0.75;
            text-align: center;
            text-align: -webkit-center;
            text-align: -moz-center;

            img {
              min-height: 100%;
              cursor: pointer;
            }
          }
        }
      }

      .carousel-indicators {
        bottom: 0px !important;
      }

      .carousel-indicators li {
        background-color: #d2d2d2 !important;
        border-color: #d2d2d2 !important;
        width: 8px !important;
        height: 8px !important;
        margin-left: 10px;
      }

      .carousel-indicators .active {
        background-color: #fff !important;
        border-color: #fff !important;
        width: 10px !important;
        height: 10px !important;
      }

      .carousel-control {
        opacity: 0 !important;
        
        .fa.fa-angle-left {
          width: 46px;
          height: 45px;
          margin-top: -10px;
          font-size: 30px;
          background-color: #fff;
          border-radius: 50%;
          padding-top: 5px;
          padding-right: 5px;
          color: $color-theme;
          left: 10%;
          position: absolute;
          top: 50%;
          z-index: 5;
          display: inline-block;
        }

        .fa.fa-angle-right {
          width: 46px;
          height: 45px;
          margin-top: -10px;
          font-size: 30px;
          background-color: #fff;
          border-radius: 50%;
          padding-top: 5px;
          padding-left: 5px;
          color: $color-theme;
          right: 5%;
          position: absolute;
          top: 50%;
          z-index: 5;
          display: inline-block;
        }
      }

      .carousel-control.left {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), to(transparent)) !important;
      }

      .carousel-control.right {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), to(transparent)) !important;
      }
    }
  }
}


.pb-0 {
  padding-bottom: 0 !important;
}

.tapri-class {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.no-prod-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .font-20 {
    font-size: 20px;
    padding: 17px;
  }

  .font-18 {
    font-size: 18px;
  }

  .custom-order-but {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid var(--theme);
    background-color: var(--theme);
    color: #fff !important;
    border-radius: 5px;

    a {
      font-size: 16px;
      color: #fff;

    }

    &:hover {
      background-color: #fff;
      border: 1px solid var(--theme);

      a {
        color: var(--theme);
      }

    }
  }

}
.searchProduct
{
display: flex;
}
.positionOffer
{
 position: relative;
}

.d-flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-around{
  justify-content: space-around;
}
.mb-1{
  margin-bottom: 1rem;
}

  #cat-fix,
#cart-fix {
  position: sticky;
  top: 18vw !important;
  z-index: 10;
  border-radius: 8px;
  box-shadow: 0 4px 10px 0 rgba(83, 83, 83, 0.16);
}
.ol_ui_veg_only
{
  margin-left: 2rem;
}

.cls-home-cat-laundry{
  display: flex;
  margin: 15px auto 0;
}
.restaurnat-close-popup{
  font-size: 17px;
  text-align: center;
  .home-btn-close{
    color: $color-white;
    background-color: $color-theme;
    transition: .5s;
    border: 1px solid $color-theme;
    border-radius: 4px !important;
    line-height: 15px;
    display: inline-block;
    margin-top: 10px;
    &:hover{
      color: $color-theme;
      background-color: $color-white;
      border: 1px solid $color-theme;
    }
    text-align: center;
    padding: 10px;
    text-decoration: none !important;
    cursor: pointer;
  }


}
.new-ui-banner
{
     display: flex;
    width: 100%;
    height: 350px;
    max-height: 350px;
}
.store-detail-card
{
  display: flex;
    width: 100%;
    height: 350px;
    border-radius: 15px;
    border-radius: 10px;
    padding-top: 3rem;
    padding-right: 2rem;
    justify-content: flex-end;
    position: relative;

}
.store-banner-div
{
  background: white;
    padding: 1rem;
    flex-direction: column;
    width: 100%;
    width: 29%;
    position: absolute;
    left: 0;
    top: 6.5rem;
    border-radius: 15px;
    display: flex;
    left: 3rem;
    max-width:29%;
    display: flex;
    padding-left: 3rem;
    padding-top: 4rem;
    height: 246px;
    max-height: 246px;
}
.store-new-logo-ui
{

    background: white;
    width: 31%;
    top: 6.5rem;
    padding-bottom: 0px!important;
    border-radius: 15px;
    padding: 4rem;
    display: flex;
}
.new-ui-name
{
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 27px;
    padding-top: 2rem;
}
.store-detail__card__row__phone
{
  opacity: 1;
  font-size: 15px;
  margin-bottom: 0;
}
.store-detail__card__row__address 
{
  opacity: 1;
  width: 80%;
  font-size: 14px;
  margin-bottom: 0;
  color: #7e808c;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-transform: capitalize;
  text-overflow: ellipsis;
}
.store-detail__card__row__address:hover {
  color: var(--theme);
}
a:hover{
  color: var(--theme);
}
a:focus{
  text-decoration: none !important;
  color: inherit !important;
}
.main-ui
{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  max-width: 60%;
 
}
.mg-0
{
margin: 0px;
}
.store-detail__card__row__rating-container
{
  display: flex;
  align-items: center;
  padding-left: 0px;
font-size: 17px;
span{
  text-decoration: none;
  font-size: 15px;
}
span:hover{
  color: var(--theme);
}
p{
  padding-top: 1px;
  padding-left: 5px;
}

}
.store-detail__card__row__rating-container__rating{
  font-size: 15px;
  margin: 0px;
  padding-left: 1rem;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.store-detail__card__row__rating-container__divider
{
  display: none;
}
.store-detail__card__row__rating-container__rate-now
{

  font-size: 15px;
}
.icon-img
{
    max-width: 25px;
    max-height: 25px;
    object-fit: contain;
}
.phone-location
{
  display: flex;
  margin-top: 10px;
  align-items:  center;
  color: inherit;
  font-size: 14px;
  color: #7e808c;
    font-weight: 300;
}
.hv-ud:hover{
  text-decoration: underline;
}
.delivery-time
{
  display: flex;
    width: 200px;

    width: 230px;
    height: 51px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.23);
    background-color: #ffffff;
    height: 51px;
    border-radius: 4px;
    bottom: 0;
    margin: auto;
    margin-top: 3rem;
    background-color: #ffffff;
}
.clock-icon
{
    font-size: 21px;
    margin-left: 0px !important;
    margin-right: 10px !important;
}
.Line-Copy-4 {
  width: 1px;
  height: 32px;
  opacity: 0.10;
  border: solid 0.5px #000000;
  background: black;
  margin: 1rem;
}
.custom-order-ui
{
  position: absolute;
  right: 0;
  bottom: -10px;
  display: flex;
  display: flex;
  width: 57%;
}
.btn-bars
{
  display: flex;
}
.store-detail__search__bar 
{
  min-height: 40px;
  margin-right: 1.5rem;
  border-radius: 4px;
  width: 400px;
  box-shadow: 0 4px 10px 0 rgba(83, 83, 83, 0.16);
  background-color: #fff;
  display: flex;
  align-items: center;
  color: #1b1b1b;
}
.search-input-bar
{
  border: 0;
  width: 100%;
  outline: none;
  padding-left: 1rem;
}
.store-detail__search__button{
  color: var(--theme) !important;
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  padding: 1rem 1.5rem;
  border: none;
  font-weight: 500;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 4px 10px 0 rgba(83, 83, 83, 0.16);
  background-color: #fff !important;
}
.checkbox-label
{
  display: inline-block;
    position: relative;
    margin-bottom: 2px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 22px;
    line-height: 15px;
    height: 15px;
    width: 15px;
    clear: both;
}
.veg-product
{
  color: var(--theme);
  margin-left: 5px;
  margin-bottom: 0;
  font-weight: 500;
}
.checkbox-custom-rectangle
{
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border-radius: 3px;
  transition: all .3s ease-out;
  -webkit-transition: .3s ease-out;
}
.checkbox-label .checkbox-custom-rectangle::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 3px;
  border: solid #009BFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity:1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

  .checkbox-label .checkbox-custom-rectangle::after {
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 3px;
    top: 0;
    width: 5px;
    height: 9px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
    font-size: 15px;
    opacity: .9;
    line-height: 1.2;
    font-weight: 500;
  }
  .checkbox-label .checkbox-custom-rectangle {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-radius: 3px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #ccc8c8
  }
  .checkbox-label input:checked~.checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 3px;
    top: 0;
    width: 5px;
    height: 9px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
    font-size: 15px;
    opacity: .9;
    line-height: 1.2;
    font-weight: 500;
}
  
  .checkbox-label input:checked ~ .checkbox-custom-rectangle {
    background-color: #41913f;
    border-radius: 3px;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid #41913f;
  }

.mobile-store-ui
{
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}
.store-detail__card__row__address
{
  text-align: left;
}
.store-detail__card__row__phone{
  font-size: 15px !important;
}
.div-store-name
{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 100%;
}
.Line-Copy-4 {
  width: 2px;
  height: 22px;
  opacity: 0.2;
  border: 0.5px solid;
  border: 0.5px solid white;
  background: white;
}
.rate-box
{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.phone-number-ui
{
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 15px;
    opacity: 5rem;
    padding-bottom: 0px;
}

.store-detail__card__row__rating-container__rating{
  font-size: 15px !important;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.preorder-btn{
  padding-right: 1rem;
  height: auto;
  padding: 5px;
  margin-right: 1rem;
  border-radius: 5px;
  text-align: center;
  background-color: $color-theme;
}
.store-detail__card__row__phone 
{
  margin: 0px
}
.custom-order-btn
{
  padding-left: 1rem;
    padding-right: 1rem;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: $color-theme;
    font-weight: 600;
}
.bannerDiv
{
  padding-bottom: 1rem;
}
.clock-icon
{

}
.mobile-view-div
{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cat-menu
{
  margin: 0 !important;
}
.search-container
{
  justify-content: space-around!important;
}
.search-container__form__addon
{
  border: none;
  border-radius: 0 5px 5px 0 !important;
  background: white;
  i{
    font-size:17px;
    color: grey
  }
}
.fa .fa-search
{
  color: var(--theme)
}
.inner-search-div{
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding-top: 5px;
  display: flex;
  align-items: center;
  color: white;
  text-transform: capitalize;
  padding-left: 5rem;
   padding-right: 5rem;
}
.cls-cat-list {
  div {
    &.cls-hover-cat {
      padding: 10px 15px;
      word-wrap: break-word;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #1b1b1b;
      &.active {
        border-left: 3px solid var(--theme) !important;
        font-size: 14px;
        font-weight: 400;
        border-radius: 0px;
        background-color: #fff
      }

 
    }
  }

 
}
.search-container__form__input
{
border: none;
border-radius: 5px 0 0 5px !important;
}
.search-container__form
{
width: 67%;
margin-right: 9px;
}

.delivery-rate
{
  padding-top: 1px;
  text-transform: lowercase;
  padding-left: 3px;
  margin: 0px;
    font-size: 17px;
}
.header-size
{
  height: 70px;
  padding: 0px;
}

@media screen and (max-width: 1240px) {
 
  .banner-heading{
    margin-left: 8rem !important;
  }
  .new-main-banner {
    display: flex;    
    width: 100%;
    justify-content: center;
    align-items: center;
    .new-logo-banner {
      .new-logo-content{
        width: 100%;
        right: -3rem; 
        top: 10%;
        border-radius: 12px;
        .new-content-text{ 
          width: 65%;
          h4{
            font-size: 24px;
          }
          .store-detail__card__row__address{
            font-size: 14px;
            width: 60%;
          }
          .phone-location{
            font-size: 14px;
          }
          .store-detail__card__row__phone{
            font-size: 14px;
          }
        } 
        div .store-logo-img {
          height: 100px;
          width: 100px;
          -o-object-fit: cover;
          object-fit: cover;
          box-shadow: 0px 0px 41px #fff;
          border-radius: 6px;
        }
      }
    }
    .new-background-image{
      width: 75%;
      border-radius: 10px;
      background-position: top;
      display: flex;
      background-repeat: no-repeat;
      background-size: contain;
      .new-banner-footer{
        left: 8rem;
      }
    }
  }
  .banner-heading{
    margin-top: 2rem !important;
  }
.banner-transition{
  .new-logo-banner {
    .new-logo-content{
      top: 0% !important;
    }
  }
}

  // new ui
  .new-main-banner {
    .new-logo-banner {
      .new-logo-content{
        top: 7%;
      }
    }
  }
  .store-detail__card__row__address{
    font-size: 14px;
  }
}

@media screen and (max-width: 1240px){
  .header-size {
    height: 109px;
  }
  .select_category .select_category_cover {
    width: 100%;
  }
  .phone-location{
    .icon-img{

    height: 18px;
    width: 18px;

    }
  }

  // new ui
  .new-main-banner {
    .new-logo-banner {
      .new-logo-content{
        .new-content-text{
          margin-right: 2rem;
          width: 55%;
          .store-detail__card__row__address{
            font-size: 12px;
            width: 80%;
          }
        }
      }
    }
  }
  .btn-bars{
    max-width: 395px !important;
  }
.icon-img{
  height: 20px;
  width: 20px;
}
.clock-icon{
  width: 25px;
  height: 25px;
}
  .new-banner-footer{
    width: 85% !important;
  }
  #banner-footer {
    font-size: 12px;
}
  .mg-t35{
    margin-top: 35px;
  }
  .btn-bars{
    max-width: 395px !important;
  }




.new-main-banner .new-logo-banner .new-logo-content .new-content-text h4{
  font-size: 15px;
}
.icon-img{
  height: 20px;
  width: 20px;
}
.clock-icon{
  height: 20px !important;
  width: 20px !important;
  font-size: 18px !important;
}
  .new-banner-footer{
    width: 85% !important;
  }
}

@media only screen and (max-width: 992px) {
  #banner-parent{
    position: relative;
  }
  .select_category .search_div {
    right: 0%;
  }
  .cls-cat-list div.cls-hover-cat.active{
    border-radius: 0px;
    color: #fff;
    padding-right: 2rem !important;
    padding-left: 2rem !important;
    border-bottom: 0px !important;
    padding: 0.8rem;
    background-color: #212121;
    font-weight: 500;
    font-size: 15px;
  }

  app-category {
    flex: 0;
    max-width: 100%;
  }
  .name {
    font-size: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    color: #1b1b1b;
  }
  .old-ui-names{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin-bottom: 4rem;
    text-align: center;
    color: #ffffff;
  }

  .description {
    font-size: 18px;
    margin-bottom: 2px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
  }

  .addressDetails {
    font-size: 10px;
  }

  .locationColor {
    font-size: 16px;
  }

  #cat-fix,
#cart-fix {
  position: sticky;
  top: 14vw !important;
  display: inline-block;
  z-index: 10;
}
  .new-main-banner .new-logo-banner .new-logo-content .new-content-text h4{
    font-size: 18px !important;
  }
  .banner-heading{
    margin-top: 1rem !important;
  }
  .icon-img{
    height: 18px;
    width: 18px;
  }
  .product-app {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-top: 5px;
    position: relative;
    left: 0px;
    width: 100% !important;
  }

  .product-app_without_product {
    padding: 0 30px;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-top: 15px;
    position: relative;
    left: 0px;
    width: 100% !important;
  }

  .c-res-cat {
    display: inline-block;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    padding-bottom: 0px;
  }

  .cls-home-cat {
    display: block;
    max-width: 1240px;
    margin: 0px auto 0;
  }

  .cls-home-cat-laundry {
    display: block !important;
    max-width: 100%;
    margin: 20px auto 0;
    justify-content: center;
  }

  .select_category .select_category_cover {
    padding: 0 0 35px;
  }

  .cat-menu {
    border: none;
  }

  .cls-cat-list {
    display: inline-block;

    div {
      position: relative;
      padding-top: 2px;

      &.cls-hover-cat {
        padding: 10px 15px;
        word-wrap: break-word;

        &.active {
          border-bottom: 2px solid;
          border-left: none;
        }

        &:hover {
          border-bottom: 2px solid;
          border-left: none;
          cursor: pointer;
        }
      }
    }

    div.cls-cat-sub-list {
      p {
        margin-bottom: 10px;
      }

      span.sub-active {
        width: 10px;
        height: 10px;
        position: absolute;
        margin-right: 10px;
        top: -6px;
        font-size: 30px;
        color: #e13d36;
        padding: 0;

        span {
          padding: 0;
        }
      }

      span {
        padding-left: 12px;
      }
    }
  }
  .product-app {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-top: 5px;
    position: relative;
    left: 0px;
    width: 100% !important;
  }

  .product-app_without_product {
    padding: 0 30px;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-top: 15px;
    position: relative;
    left: 0px;
    width: 100% !important;
  }
  .select_category .select_category_cover {
    width: 100%;
  }



  div.heading_cvr {
    margin: 15px auto;

    .name {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .mt-50 {
    margin-top: 35px !important;
  }

  div.customRatingDivCat1 {
    position: absolute;
    border-radius: 5px;
    display: inline-block;
    margin-right: 8px;
    padding: 4px 6px;
    height: 28px;
    font-size: 15px !important;
    text-align: center;
    color: #fff !important;
    font-weight: 500 !important;
    margin-left: 0px;
    line-height: 11px;
    margin-top: 25px;
    background: #ffc058;
    cursor: pointer;
  }

  span.ratingCount {
    opacity: 0.9;
    background-color: #fff;
    font-size: 14px !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
    margin-left: 3px;
    padding: 5px;
  }
  .clock-icon {
    margin-right: 0px !important;
}
  .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
  .old-ui-name-margin{
    margin-bottom: 10rem!important;
  }
  .name {
    font-size: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    color: white;
  }
.old-ui-names{
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin-bottom: 4rem;
    text-align: center;
    color: #ffffff;
}
  .description {
    font-size: 12px;
    margin-bottom: 2px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
  }

  .addressDetails {
    font-size: 10px;
  }

  .locationColor {
    font-size: 16px;
  }
  .new-search {
    padding: 0;
    margin-left: 50px;
  }

  .new-search.pad-mobile {
    .pad-left-0 {
      padding-left: 15px;
    }
  }

  .new-search div.new-box {
    display: flex;
    width: 90% !important;
  }
  .cls-home-cat {
    padding: 0 0rem;
  }
  .header-size
{
  height: 85px;
  padding: 0px;
}

:host /deep/ app-header .top-header{
  position: relative !important;
}

  .reverse-order{
    margin: 1rem 1rem 0rem 1rem !important;
    .search-container__order{
      justify-content: flex-start !important;
    }
  }
  .rating-address-bar{
    padding: 1.7rem;
  }
  .location-addr{
    font-size: 1.8rem;
  }
  .search-container{
    margin: 1rem 1rem;
    &__veg-check{
      width: max-content;
    }
    &__form{
      flex: 75%;
      margin-right: 1rem;
      box-shadow: 0 4px 10px 0 rgba(83, 83, 83, 0.16);
    }
    &__order{
      flex: 35%;
    }
  }
  .new-main-banner{
    display: none !important;
  }
  .mg-t20{
    margin-top: 20px;
  }
  .hide-closed-mobile{
    display: none !important;
  }
  .closedRestro{
    top: 65px !important;
    position: fixed !important;
  }

  .hide-lg-view {
    display: flex !important;
}
  .inner-search-div{
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding-top: 48px;
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: capitalize;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .search-container{
    &__order{
      width: 100%;
      margin-top: 1rem;
    }
  }
  .rating-address-bar{
    padding: 1rem;
  }
  .location-addr{
    font-size: 1.2rem;
  }
  .tapri-class {
    padding-bottom: 85px !important
  }
  .product-app {
    margin: 0px;
  }
  .brand_text {
  }

  .carouselDiv {
    width: 100%;

    &:hover  .carousel-control{
      opacity: 1 !important;
    }
    .carousel {

      .carousel-inner {
        .item {
          opacity: 0.75;
          text-align: center;
          text-align: -webkit-center;

          img {
            cursor: pointer;
          }
        }
      }
    }

    .carousel-indicators {
      margin-bottom: 0px !important;
    }
  }

  .no-prod-text {
    padding: 0px 12px;

    .font-20 {
      font-size: 16px;
    }

    .font-18 {
      font-size: 15px;
    }

    .custom-order-but {
      padding: 9px;
      display: flex;
      a {
        font-size: 14px;

      }
    }

  }
}
@media only screen and (max-width: 576px) {
  .mg-t20{
    margin-top: 20px !important;
  }
  .bannerDiv-old-ui 
  {
    min-height: 50vw !important;
    padding:0 0 10px 0;
    overflow: hidden;
    height: 50vw !important;
  }

.store-detail__card__row__address
{
  font-size: 12px !important;
}
.store-detail__card__row__phone{
  font-size: 12px !important;
}
.mobile-store-ui{
  font-size: 24px;
}
.clock-icon{
  margin-top: 0px;
  font-size: 18px !important;
}
.custom-order-btn{
  font-size: 12px;
}
.store-detail__search__button{

  font-size: 12px !important;
}
.store-detail__card__row__rating-container__rating{
  font-size: 16px !important;
}
.search-mobileView{
  margin: 0px !important;
  width: 90%;
}
.search-container__order{
  margin-top: 0px !important;
}
.mt-5{
  margin-top: 5px;
}
.icons-margin{
  width: 40% !important;
}
}

.BannerDivmargin{
  margin-top:40px;
}

.h-270{
  height:270px;
}
.preoder-cls{
  justify-content: center; 
  margin-top: 5px;
}
