@import '~assets/css/variables';

.parent {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  font-family: ProximaNova-Regular;
}
:host /deep/ mat-checkbox .mat-checkbox-layout{
  white-space: pre-wrap !important;
}
input{
  border-radius: 0 5px 5px 0 !important;
}
.addForm{
  min-height: 90vh;
  padding-top: 10px;
  input{
    border-radius: 5px !important;
  }
}
:host /deep/ app-fugu-tel-input {
  .flagInput{
    border-radius: 5px 0 0 5px !important;
  }
  input{
    border-radius: 0 5px 5px 0 !important;
  }
  .add-on-set{
    padding: 0px 4px;
  }
}
.withoutParent {
  height: 100%;
  width: 100%;
  font-family: ProximaNova-Regular;
}

.card-signup {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 0px 10px;
  padding-bottom: 0;

  .line {
    margin: 5px auto;
    width: 60px;
    float: left;
  }
}

.otpWidth {
  text-align: center;
  text-align: -webkit-center;

  input {
    width: 100%;
  }

  .form-group {
    width: 100%;
  }

  app-control-messages {
    width: 100%;
    display: block;
    text-align: left !important;
  }
}

.formHeading {
  opacity: 0.6;
  font-family: ProximaNova-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #525252;
  padding-bottom: 25px;
}

@media only screen and (max-width: 768px) {
  .card-signup {
    padding: 5px;
  }

  .otpWidth {
    text-align: center;
    text-align: -webkit-center;

    input {
      width: 100%;
    }

    .form-group {
      width: 100%;
    }

    app-control-messages {
      width: 100%;
      display: block;
      text-align: left !important;
    }
  }
}

#fbSignin {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  font-size: 14px;
}



.btnSubmit {
  border-radius: 8px;
  border: solid 1px #ffffff;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 30px 0 15px 0;
  padding: 15px 0;
  width: 100%;
}

.otpOption {
  font-family: ProximaNova-Regular;
  font-size: 18.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  text-align: left;
  color: #06aed5;
  padding: 0;
  a{
    color:none;
    cursor: pointer;
  }
}

.btn-red {
  background-color: #e13d36;
  color: white !important;
  font-size: 18px;
}

/deep/.flagInput {
  background-color: white !important;
  width: 57px !important;
  text-align: center !important;

  button {
    outline: none
  }
}

.cdk-overlay-container {
  position: fixed;
  z-index: 9999 !important;
}

.full-width {
  width: 100%;
}

.fontSize {
  font-size: 18px;
}

.checkbox input[type=checkbox] {
  margin-top: 7px;

}

#formTelephone .input-group {
  height: 60px !important;
}

#formTelephone .input-group .flagInput {
  height: 60px !important;
}

//#formTelephone .input-group #fugu-phone{
#formTelephone .input-group .fugu-tel-input {
  height: 60px !important;
}


#SignUpformTelephone .input-group {
  height: 60px !important;
}

#SignUpformTelephone .input-group .flagInput {
  height: 60px !important;
}

//#SignUpformTelephone .input-group #fugu-phone{
#SignUpformTelephone .input-group .fugu-tel-input {
  height: 60px !important;
}

.addFormData {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 1%;
}

.input-group {
  border: none;
  box-shadow: none;
}

.otpFormStyle {
  padding-top: 15px;

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  a {
    cursor: pointer;
  }
}

/deep/.checkbox label,
.radio label {
  padding-left: 0px !important;
}

/deep/ .mat-checkbox-inner-container input[type=checkbox], input[type=radio] { 
  margin: 2px 2px 0; 
  
}

/deep/.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--theme);
  border-color: rgba(181, 177, 177, 0.54);
}

.uploadFileButton {
  font-family: ProximaNova-Regular;
  font-size: 18px;
  min-width: 150px;
}

// progress bar


.progressbar-animated {
  width: 100%;
  max-width: 590px;
  height: 40px;
  margin: 10px auto 30px;
  text-align: center;
  line-height: 36px;
}


.onboarding-animation .checkmark {
  width: 26px;
  height: 26px !important;
}

.onboarding-animation .span-loader {
  width: 26px;
  height: 26px;
}

// /* Component Styles - Steps */
.steps {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0 0 2rem 0;
  list-style: none;
}

// .progressbar li.active + li:after {
//   background-color: blue;
// }

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  position: relative;
  pointer-events: none;
}

.step--active,
.step--complete {
  cursor: pointer;
  pointer-events: all;
}

.step:not(:last-child):before,
.step:not(:last-child):after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0.25rem;
  content: '';
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  will-change: width;
}

.step:before {
  width: 100%;
  background-color: #cdcdcd;
}

.step:after {
  width: 0;
  background-color: $color-blue;
}

.step--complete:after {
  width: 100% !important;
  opacity: 1;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.step__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 28px;
  height: 28px;
  background-color: #cdcdcd;
  border: 0.25rem solid set-alpha(#e6e7e8, 0.25);
  border-radius: 50%;
  color: transparent;
  font-size: 2rem;
}

.step__icon:before {
  content: '\002E';
  font-size: 53px;
  margin-top: -60%;
}

.step--complete.step--active .step__icon {
  color: #fff;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.step--incomplete.step--active .step__icon {
  border-color: $color-blue;
  transition-delay: 0.5s;
}

.step--complete .step__icon {
  background-color: $color-blue;
  border-color: $color-blue;
  color: #fff;

  &::before {
    content: '\f00c';
    font-family: 'fontawesome';
    font-size: 18px;
    margin-top: 0;
    z-index: 1;
  }
}

.step__label {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  margin-top: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.step--incomplete.step--inactive .step__label {
  color: set-alpha(#e6e7e8, 0.25);
}

.step--incomplete.step--active .step__label {
  color: #fff;
}

:host /deep/p-multiSelect .ui-multiselect {
  width: 100% !important;
}

:host /deep/p-dropdown .ui-dropdown {
  width: 100% !important;
}
:host /deep/ p-dropdown .ui-dropdown label.ui-dropdown-label {
  height: 95% !important;
  margin: auto;
}

.signup{
  /deep/.ui-calendar{
    font-family: $proxima-reg;
    width: 100%;
    height: 50px;
    opacity: 1;
    border-radius: 5px;
    background-color: #ffffff;
    // border: solid 1px #d2d2d2;
    /* padding: 10px; */
    font-size: 18px;
    .ui-inputtext{
      width: 100%;
      padding: 6px 12px !important;
      height: 100%;
    }
  }
}
.imgs-container{
  width:100%;
  max-height: 100px;
  overflow: scroll;
  div{
    width:80px;
    height:80px;
    margin: 5px;
    margin-left: 0;
    float:left
  }
  img{
    height: 100%;
    width: 100%;
  }
  span{
    position: relative;
    left: 65px;bottom: 80px;
    background: #ddd;
    padding: 1px 2px;
  }
}
.text-area{
  resize:vertical;
  min-height:100px;
}

.text-right{
  text-align: right;
}