@import '~assets/css/variables';
.dataHeading{
  p{
    font-family: $proxima-semi-bold;
    // font-size: 16px;
    font-size: 16px;
    color: #000000;
    width: 100%;
    overflow-wrap: break-word;

  }
}
.dataValue{
  p{
    font-family: $proxima-reg;
    font-size: 16px;
    color: #545454;
    width: 100%;
    overflow-wrap: break-word
  }
}
.profileViewOnly{
  margin-bottom:15px;
}
.urlValue {
  cursor: pointer;
  a{
    font-size: 16px;
    width: 100%;
    overflow-wrap: break-word;
  }
}
