<div class="gateway" *ngIf="showBackground" (click)="focusOnWindow()">
  <div class="message">
      <ng-container>Don’t see the secure Viva browser? We’ll help you re-launch the window to complete your
          purchase.</ng-container>
  </div>
  <div class="viva-continue" *ngIf="sessionVar && !sessionVar.closed && !post_enabled">
      <u>{{languageStrings.click_to_continue || 'Click to Continue'}}</u>
  </div>
  <div class="viva-continue" *ngIf="sessionVar && sessionVar.closed && allowPopUp && !post_enabled" (click)="openUrl()">
      <u>{{languageStrings.click_to_continue || 'Click to Continue'}}</u>
  </div>
</div>


