<div class="home-fluid-thumbnail-grid-narrow productLayoutTwo">
  <!-- *ngIf="layout_type == 2" -->
  <div class="home-fluid-thumbnail-grid productLayoutTwo_2">
    <p class="cls-p-cat-head_2 laundry text-capitalize ">
      <!-- *ngIf="(!currentCategoryName || searchProducts) && !noProduct" -->
      {{terminology.PRODUCT}}
      <!-- <span class="pull-right"
        *ngIf="showProceedButton">
        <button class="btn proceedBtn"
          *ngIf="!notDeliverable"
          mat-button
          (click)="goToCheckout()">Proceed <ng-container *ngIf="cartValue">{{currency }} {{cartValue | decimalConfig}}</ng-container></button>
      </span> -->
    </p>
    <p class="clear"></p>
    <div class="row-eq-height">
    <div class="home-fluid-thumbnail-grid-item row-col-eq"
      [style.display]="block"
      *ngFor="let product of productData;let i = index;">
      <div class="home_shadow">
        <a class=" fluid-thumbnail-grid-image-item-link" (click)="showMultiImages(product)">
          <!-- (click)="showLightBox(product, $event)" -->
          <div class="fluid-thumbnail-grid-image-image-container"
            style="border-radius: 5px;"
            [ngClass]="{'seletedProduct': productBool[product.product_id], 'unSelectProduct': !productBool[product.product_id]}">
            <!--  && product.products_has_image == 1 -->
            <img [ngStyle]="{'cursor':product.multi_image_url?(product.multi_image_url.length > 0 ? 'pointer':'default'):'default'}"
              class="fluid-thumbnail-grid-image-image"
              [src]="product.thumb_list ?product.thumb_list['400x400'] : product.image_url ? product.image_url : 'assets/img/image-placeholder.svg'"
              [alt]="product.name + ' image'">
            <div [ngStyle]="{'cursor':product.multi_image_url?(product.multi_image_url.length > 0 ? 'pointer':'default'):'default'}"
              class="fluid-thumbnail-grid-image-overlay"></div>
            <div class="displayQuickLook quickLook" *ngIf="formSetting.is_product_share_enabled" align="center" (click)="productShareBox(product);$event.stopPropagation()">
              <button class="btn quickLookStyle">
                <ng-container>{{languageStrings.share || 'Share'}}</ng-container>
              </button>
              <!-- <app-quick-look (showMultiImages)="showMultiImagesEvent($event)" [productData]="product"></app-quick-look> -->
            </div>
          </div>
        </a>
        <div class="home-fluid-thumbnail-grid-author laundry">
          <div class="p-detail-sec">
            <div class="productWithPrice">
              <span [tooltip]="product.layout_data && product.layout_data.lines[0]?product.layout_data.lines[0].data:''"
                style="word-wrap: break-word;width: 100%;word-break: break-all;">{{product.layout_data && product.layout_data.lines[0] ?
                product.layout_data.lines[0].data : ''}}</span>
            </div>
          </div>
          <div class="mb-5 p-detail-sec pad-t-0"
            style="font-weight: bold">
            <div>
              <div class="discount-price"
                *ngIf="(formSetting.show_product_price == 1 || product.price > 0) && product.original_price">
                {{currency + '' +product.original_price}}
              </div>
              <div class="product-cl-data"
                *ngIf="formSetting.show_product_price == 1 || product.price > 0">
                {{currency+''+product.layout_data && product.layout_data.lines[2] ? product.layout_data.lines[2].data : ''}}
              </div>
              <div *ngIf="product && product.discount" style="margin-top: 2px;"
                class="discount-percent">{{product.discount}}% <ng-container>{{languageStrings.discount ||'Discount'}}</ng-container>
                <ng-container *ngIf="product.max_discount_amount">
                  <ng-container>{{languageStrings.upto ||'Upto'}}</ng-container>
                  {{currency + product.max_discount_amount}}
                </ng-container>
              </div>
            </div>
            <div *ngIf="!(product.inventory_enabled && (product.available_quantity <= 0))"
              class="p-action-btn">
              <div [ngStyle]="{'display':(product.layout_data && product.layout_data.buttons && product.layout_data.buttons[0].type != 1) ? 'flex':'none'}">
                <div appBs
                  class="p-minus"
                  (click)="decreamentQuantityLaundry(product.product_id,i,$event,product)"  *ngIf= "productQuantity[product.product_id]>0">
                  <svg width="10"
                    height="7"
                    viewBox="0 0 10 2">
                    <path fill="#858585"
                      fill-rule="nonzero"
                      d="M0 1.75h10V.25H0z" />
                  </svg>
                </div>
                <div
                  class="p-quantity"
                  (click)="$event.stopPropagation()"  *ngIf= "productQuantity[product.product_id]>0">
                  <input appNumberOnly
                    maxlength="4"

                    class="p-quantity inputBulkOrderClass"
                    [(ngModel)]="productQuantity[product.product_id]"
                    (blur)="onBlurInputFunLaundry(product,product.product_id,i,productQuantity[product.product_id],$event)">
                </div>
                <div
                  class="p-plus"
                  [style.background-color]="formSetting.btn_color?formSetting.btn_color:'#1a9943'"
                  appBs
                  (click)="increaseQuantityLaundry(product,product.product_id,i,$event)">
                  <svg width="9"
                    height="9"
                    viewBox="0 0 10 10">
                    <path fill="#FFF"
                      fill-rule="nonzero"
                      d="M5.765 10V5.765H10v-1.53H5.765V0h-1.53v4.235H0v1.53H4.235V10z" />
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-5 p-detail-sec pad-t-0" *ngIf="formSetting.show_service_time">
            <div>
              <ng-container *ngIf="product.service_time">{{languageStrings.service_time ||'Service Time'}}: {{product.service_time | minutesDaysPipe}}</ng-container>
              &nbsp;
            </div>
          </div>
          <div class="mb-5 p-detail-sec pad-t-0"
            style="font-weight: bold">
            <div *ngIf="product.layout_data && product.layout_data.lines[1]" class="decriptionB">
              <!-- style="display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;"-->
              <!-- (click)="showLightBox(product)" -->
              <!--<span matTooltip="Tooltip!">{{product.layout_data.lines[1] ? product.layout_data.lines[1].data : ''}}</span>-->
              <span class="pointer">
                {{product.layout_data.lines[1].data | truncate : 60 : '.'}}
                <span *ngIf="product.layout_data.lines[1].data && product.layout_data.lines[1].data.length > 60"
                      [tooltip]="product.layout_data.lines[1] ? product.layout_data.lines[1].data : ''" class="readMore">{{languageStrings.read_more ||'Read More'}}</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div *ngIf="paginating"
      class="pg-ldr-prt">
      <div class="pg-ldr-cld">
        <div class="pg-ldr-ctr">
          <div class="pg-loader"
            [ngStyle]="{'border-bottom-color': formSetting.color,'border-left-color': formSetting.color}"></div>
        </div>
      </div>
    </div>
    <div *ngIf="noProduct && productData && productData.length == 0  && !viewLoad"
      style="display:table;text-align:center;width:100%;margin: 13% 0px;"
      class="ptb0-lr30"
      [ngClass]="{'npf': !layoutBool || !loopData, 'npf_with_menu': layoutBool && loopData}">
      <div class="text-capitalize noProductLoad">{{languageStrings.no_product_available  ||  'No Product Available.'}}</div>
    </div>
  </div>


  <app-modal [modalType]="modalType" *ngIf="openMultiImage" (esc)="hideMultiImageDialog()" (onClose)="hideMultiImageDialog()">
    <div body style="padding: 15px 30px">
      <div class="row">
        <div class="col-12 cancel-popup">
          <!--<label class="heading-popup" >Images</label>-->
          <!--<div><i class="fa fa-close icons" (click)="hideMultiImageDialog()"></i></div>-->
          <div><img src="assets/images/cancel.svg" style="height: 15px;cursor:pointer;" (click)="hideMultiImageDialog()" /></div>
        </div>
        <div class="col-12 carousel slide" id="lightbox">
          <ol class="carousel-indicators" *ngIf="caraouselImages.length > 1">
            <li *ngFor="let image of caraouselImages;let i = index;" data-target="#lightbox" [attr.data-slide-to]="i" [ngClass]="{'active' : i==0}"></li>
          </ol>
          <div class="carousel-inner">
            <div *ngFor="let image of caraouselImages;let i = index;" style="height:366px;" class="item" [ngClass]="{'active' : i==0}">
              <img style="height: 100%; width: 100%; object-fit: contain; margin: 0 auto;" [src]="image"
                   [alt]="'caraousel slide ' + i">
            </div>
          </div>
          <!-- /.carousel-inner -->
          <a *ngIf="caraouselImages.length > 1" class="left carousel-control" href="#lightbox" role="button" data-slide="prev">
            <span style="font-family:'Glyphicons Halflings'!important;" class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a *ngIf="caraouselImages.length > 1" class="right carousel-control" href="#lightbox" role="button" data-slide="next">
            <span style="font-family:'Glyphicons Halflings'!important;" class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
        <div class="col-12">
          <div class="cls-cust-main-div" style="word-break: break-all;" *ngIf="productLongDescription">
            <h4 class="text-center">{{languageStrings.description || 'Description'}}</h4>
            <div [innerHtml]="productLongDescription" class="long_description cls-pcust-head" style="max-height: 200px;overflow-y: auto">
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-modal>
  <app-customer-verification-popup *ngIf="showCustomerVerificationPopUp" (popUpClose)="onPopUpClose()" ></app-customer-verification-popup>


<!-- Product Share Box -->
<app-modal [modalType]="modalType" (esc)="removeParams()" (onClose)="removeParams()" *ngIf="showProductShareBox">

  <div body style="padding : 20px">
    <div>
      <h4 class="modal-title padding-right120">
        {{(productShareData.layout_data && productShareData.layout_data.lines[0]) ? productShareData.layout_data.lines[0].data : ''}}
      </h4>
      <div class="share-close-btn">
        <div class="show-drop-box">
          <!-- share -->
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="24" viewBox="0 0 21 24">
            <g [attr.fill]="formSetting.btn_color?formSetting.btn_color:'#1a9943'">
              <path
                d="M20.13 3.789c0 1.7-1.379 3.079-3.08 3.079-1.7 0-3.078-1.379-3.078-3.079 0-1.7 1.379-3.079 3.079-3.079 1.7 0 3.078 1.379 3.078 3.079z"
                transform="translate(0 .478)" />
              <path
                d="M17.05 7.578c-2.089 0-3.788-1.7-3.788-3.789 0-2.09 1.7-3.789 3.789-3.789 2.09 0 3.789 1.7 3.789 3.789 0 2.09-1.7 3.79-3.79 3.79zm0-6.157c-1.305 0-2.367 1.063-2.367 2.368s1.062 2.368 2.368 2.368c1.306 0 2.368-1.063 2.368-2.368s-1.062-2.368-2.368-2.368zM20.13 18.945c0 1.7-1.379 3.08-3.08 3.08-1.7 0-3.078-1.38-3.078-3.08 0-1.7 1.379-3.078 3.079-3.078 1.7 0 3.078 1.378 3.078 3.078z"
                transform="translate(0 .478)" />
              <path
                d="M17.05 22.735c-2.089 0-3.788-1.7-3.788-3.79s1.7-3.789 3.789-3.789c2.09 0 3.789 1.7 3.789 3.79 0 2.089-1.7 3.789-3.79 3.789zm0-6.158c-1.305 0-2.367 1.063-2.367 2.368 0 1.306 1.062 2.369 2.368 2.369 1.306 0 2.368-1.063 2.368-2.369 0-1.305-1.062-2.368-2.368-2.368zM6.868 11.367c0 1.7-1.379 3.079-3.079 3.079-1.7 0-3.079-1.378-3.079-3.079 0-1.7 1.379-3.078 3.079-3.078 1.7 0 3.079 1.378 3.079 3.078z"
                transform="translate(0 .478)" />
              <path
                d="M3.789 15.156C1.699 15.156 0 13.457 0 11.367s1.7-3.789 3.789-3.789c2.09 0 3.79 1.7 3.79 3.79 0 2.089-1.7 3.788-3.79 3.788zm0-6.157c-1.306 0-2.368 1.063-2.368 2.368 0 1.306 1.062 2.368 2.368 2.368 1.306 0 2.368-1.062 2.368-2.368C6.157 10.062 5.095 9 3.79 9z"
                transform="translate(0 .478)" />
              <path
                d="M6.026 10.913c-.33 0-.65-.172-.825-.479-.258-.453-.099-1.032.355-1.292l8.79-5.01c.453-.261 1.032-.102 1.292.353.258.454.099 1.033-.355 1.292l-8.79 5.011c-.147.085-.308.125-.467.125zM14.814 18.728c-.159 0-.32-.04-.468-.125l-8.79-5.01c-.453-.26-.612-.838-.354-1.293.258-.454.838-.614 1.293-.354l8.79 5.011c.453.259.612.837.353 1.292-.175.307-.495.479-.824.479z"
                transform="translate(0 .478)" />
            </g>
          </svg>
          <div class="dropdown">
            <ul class="dropdown-menu share-drop-btn">
              <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{domainName}}"
                  class="addthis_button_facebook at300b" target="_blank" title="Facebook"><span class="at-icon-wrapper"
                    style="background-color: rgb(59, 89, 152); line-height: 16px; height: 16px; width: 16px;">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-facebook-1" title="Facebook"
                      alt="Facebook" class="at-icon at-icon-facebook" style="width: 16px; height: 16px;">
                      <title id="at-svg-facebook-1">Facebook</title>
                      <g>
                        <path
                          d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z"
                          fill-rule="evenodd"></path>
                      </g>
                    </svg>
                  </span>Facebook</a>
                <a href="https://twitter.com/intent/tweet?text={{productShareData.name}}&url={{domainName}}"
                  target="_blank" class="addthis_button_twitter at300b" title="Twitter"><span class="at-icon-wrapper"
                    style="background-color: rgb(29, 161, 242); line-height: 16px; height: 16px; width: 16px;"><svg
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
                      version="1.1" role="img" aria-labelledby="at-svg-twitter-2" title="Twitter" alt="Twitter"
                      class="at-icon at-icon-twitter" style="width: 16px; height: 16px;">
                      <title id="at-svg-twitter-2">Twitter</title>
                      <g>
                        <path
                          d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336"
                          fill-rule="evenodd"></path>
                      </g>
                    </svg></span>Twitter</a>
                <a href="{{mailingLink}}" class="addthis_button_email at300b" target="_blank" title="Email">
                  <span class="at-icon-wrapper"
                    style="background-color: rgb(132, 132, 132); line-height: 16px; height: 16px; width: 16px;"><svg
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
                      version="1.1" role="img" aria-labelledby="at-svg-email-3" title="{{languageStrings.email ||'Email'}}" alt="Email"
                      class="at-icon at-icon-email" style="width: 16px; height: 16px;">
                      <title id="at-svg-email-3">{{languageStrings.email ||'Email'}}</title>
                      <g>
                        <g fill-rule="evenodd"></g>
                        <path
                          d="M27 22.757c0 1.24-.988 2.243-2.19 2.243H7.19C5.98 25 5 23.994 5 22.757V13.67c0-.556.39-.773.855-.496l8.78 5.238c.782.467 1.95.467 2.73 0l8.78-5.238c.472-.28.855-.063.855.495v9.087z">
                        </path>
                        <path
                          d="M27 9.243C27 8.006 26.02 7 24.81 7H7.19C5.988 7 5 8.004 5 9.243v.465c0 .554.385 1.232.857 1.514l9.61 5.733c.267.16.8.16 1.067 0l9.61-5.733c.473-.283.856-.96.856-1.514v-.465z">
                        </path>
                      </g>
                    </svg></span>{{languageStrings.email ||'Email'}}</a>
                <a href="https://api.whatsapp.com/send?text={{domainName}}" class="addthis_button_whatsapp at300b"
                  target="_blank" title="WhatsApp"><span class="at-icon-wrapper"
                    style="background-color: rgb(77, 194, 71); line-height: 16px; height: 16px; width: 16px;"><svg
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
                      version="1.1" role="img" aria-labelledby="at-svg-whatsapp-4" title="WhatsApp" alt="WhatsApp"
                      class="at-icon at-icon-whatsapp" style="width: 16px; height: 16px;">
                      <title id="at-svg-whatsapp-4">WhatsApp</title>
                      <g>
                        <path
                          d="M19.11 17.205c-.372 0-1.088 1.39-1.518 1.39a.63.63 0 0 1-.315-.1c-.802-.402-1.504-.817-2.163-1.447-.545-.516-1.146-1.29-1.46-1.963a.426.426 0 0 1-.073-.215c0-.33.99-.945.99-1.49 0-.143-.73-2.09-.832-2.335-.143-.372-.214-.487-.6-.487-.187 0-.36-.043-.53-.043-.302 0-.53.115-.746.315-.688.645-1.032 1.318-1.06 2.264v.114c-.015.99.472 1.977 1.017 2.78 1.23 1.82 2.506 3.41 4.554 4.34.616.287 2.035.888 2.722.888.817 0 2.15-.515 2.478-1.318.13-.33.244-.73.244-1.088 0-.058 0-.144-.03-.215-.1-.172-2.434-1.39-2.678-1.39zm-2.908 7.593c-1.747 0-3.48-.53-4.942-1.49L7.793 24.41l1.132-3.337a8.955 8.955 0 0 1-1.72-5.272c0-4.955 4.04-8.995 8.997-8.995S25.2 10.845 25.2 15.8c0 4.958-4.04 8.998-8.998 8.998zm0-19.798c-5.96 0-10.8 4.842-10.8 10.8 0 1.964.53 3.898 1.546 5.574L5 27.176l5.974-1.92a10.807 10.807 0 0 0 16.03-9.455c0-5.958-4.842-10.8-10.802-10.8z"
                          fill-rule="evenodd"></path>
                      </g>
                    </svg></span>WhatsApp</a>
              </li>
            </ul>
          </div>
        </div>
        <i (click)="copyText()">
          <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27">
            <g [attr.fill]="formSetting.btn_color?formSetting.btn_color:'#1a9943'">
              <path
                d="M18.628 4.657H2.794C1.251 4.657 0 5.908 0 7.451v15.834c0 1.544 1.251 2.795 2.794 2.795h15.834c1.544 0 2.795-1.251 2.795-2.795V7.451c0-1.543-1.251-2.794-2.795-2.794zm.932 18.628c0 .515-.417.932-.932.932H2.794c-.514 0-.931-.417-.931-.932V7.451c0-.514.417-.931.931-.931h15.834c.515 0 .932.417.932.931v15.834z"
                transform="translate(.174 .74)" />
              <path
                d="M23.285 0H6.52C4.977 0 3.726 1.251 3.726 2.794c0 .515.417.932.931.932.515 0 .932-.417.932-.932 0-.514.417-.931.93-.931h16.766c.515 0 .932.417.932.931V19.56c0 .514-.417.931-.932.931-.514 0-.931.417-.931.932 0 .514.417.931.931.931 1.544 0 2.795-1.251 2.795-2.794V2.794C26.08 1.251 24.829 0 23.285 0z"
                transform="translate(.174 .74)" />
            </g>
          </svg>
        </i>
        <i (click)="removeParams()">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="29" viewBox="0 0 30 29">
            <g fill="none" fill-rule="evenodd" transform="translate(.435)">
              <circle cx="14.499" cy="14.499" r="14.499"
                [attr.fill]="formSetting.btn_color?formSetting.btn_color:'#1a9943'" fill-rule="nonzero" />
              <path stroke="#FFF" stroke-linecap="round" stroke-width="1.16"
                d="M9.28 19.719L14.499 14.499 19.719 9.28M9.28 9.28L14.499 14.499 19.719 19.719" />
            </g>
          </svg>
        </i>
      </div>
      <!-- <div class="scroll" *ngIf="shareUrlSection" style="transform: translate3d(0px, 0px, 0px) scale(1);">
        <div id="addthis_icons" class="addthis_custom_sharing">
        </div>
      </div> -->
      <!--bindings={}-->
    </div>
    <div class="padding-top18">
      <div class="long-description-box" *ngIf="productShareData.long_description">
          <span  [innerHTML]="productShareData.long_description"></span>
      </div>
      <a>
        <div class="text-center">
          <img class="share-prod-image" [src]="productShareData.image_url ? productShareData.image_url : 'assets/img/image-placeholder.svg'"
            [alt]="productShareData.name + ' image'">
        </div>
      </a>
      <div class="home-fluid-thumbnail-grid-author laundry">
        <div class="p-detail-sec">
          <div class="productWithPrice">
            <span [tooltip]="productShareData.layout_data && productShareData.layout_data.lines[0]?productShareData.layout_data.lines[0].data:''"
              style="word-wrap: break-word;width: 100%;word-break: break-all;">{{productShareData.layout_data && productShareData.layout_data.lines[0] ?
                productShareData.layout_data.lines[0].data : ''}}</span>
          </div>
        </div>
        <div class="mb-5 p-detail-sec pad-t-0"
          style="font-weight: bold">
          <div>
            <div class="discount-price"
              *ngIf="(formSetting.show_product_price == 1 || productShareData.price > 0) && productShareData.original_price">
              {{currency + '' +productShareData.original_price}}
            </div>
            <div class="product-cl-data"
              *ngIf="formSetting.show_product_price == 1 || productShareData.price > 0">
              {{currency+''+productShareData.layout_data && productShareData.layout_data.lines[2] ? productShareData.layout_data.lines[2].data : ''}}
            </div>
            <div *ngIf="productShareData && productShareData.discount" style="margin-top: 2px;"
              class="discount-percent">{{productShareData.discount}}% <ng-container>{{languageStrings.discount || 'Discount'}}</ng-container>
              <ng-container *ngIf="productShareData.max_discount_amount">
                <ng-container>{{languageStrings.upto || 'Upto'}}</ng-container>
                {{currency + productShareData.max_discount_amount}}
              </ng-container>
            </div>
          </div>
          <div *ngIf="!(productShareData.inventory_enabled && (productShareData.available_quantity <= 0))"
            class="p-action-btn">
            <div [ngStyle]="{'display':(productShareData.layout_data && productShareData.layout_data.buttons && productShareData.layout_data.buttons[0].type != 1) ? 'flex':'none'}">
              <div appBs
                class="p-minus"
                (click)="decreamentQuantityLaundry(productShareData.product_id,productPosition,$event,productShareData)"  *ngIf= "productQuantity[productShareData.product_id]>0">
                <svg width="10"
                  height="7"
                  viewBox="0 0 10 2">
                  <path fill="#858585"
                    fill-rule="nonzero"
                    d="M0 1.75h10V.25H0z" />
                </svg>
              </div>
              <div
                class="p-quantity"
                (click)="$event.stopPropagation()"  *ngIf= "productQuantity[productShareData.product_id]>0">
                <input appNumberOnly
                  maxlength="4"

                  class="p-quantity inputBulkOrderClass"
                  [(ngModel)]="productQuantity[productShareData.product_id]"
                  (blur)="onBlurInputFunLaundry(productShareData,productShareData.product_id,productPosition,productQuantity[productShareData.product_id],$event)">
              </div>
              <div
                class="p-plus"
                [style.background-color]="formSetting.btn_color?formSetting.btn_color:'#1a9943'"
                appBs
                (click)="increaseQuantityLaundry(productShareData,productShareData.product_id,productPosition,$event)">
                <svg width="9"
                  height="9"
                  viewBox="0 0 10 10">
                  <path fill="#FFF"
                    fill-rule="nonzero"
                    d="M5.765 10V5.765H10v-1.53H5.765V0h-1.53v4.235H0v1.53H4.235V10z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-5 p-detail-sec pad-t-0" *ngIf="formSetting.show_service_time">
          <div>
            <ng-container  *ngIf="productShareData.service_time">{{languageStrings.service_time || 'Service Time'}}: {{productShareData.service_time | minutesDaysPipe}}</ng-container>
            &nbsp;
          </div>
        </div>
        <div class="mb-5 p-detail-sec pad-t-0"
          style="font-weight: bold">
          <div *ngIf="productShareData.layout_data && productShareData.layout_data.lines[1]" class="decriptionB">
            <span class="pointer">
              {{productShareData.layout_data.lines[1].data | truncate : 60 : '.'}}
              <span *ngIf="productShareData.layout_data.lines[1].data && productShareData.layout_data.lines[1].data.length > 60"
                    [tooltip]="productShareData.layout_data.lines[1] ? productShareData.layout_data.lines[1].data : ''" class="readMore">{{languageStrings.read_more ||'Read More'}}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </app-modal>
  <app-modal [modalType]="modalType" *ngIf="showNotAvailable">
    <div body style="padding : 40px">
      <i class="close-no-prod" (click)="removeParams()">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="29" viewBox="0 0 30 29">
          <g fill="none" fill-rule="evenodd" transform="translate(.435)">
            <circle cx="14.499" cy="14.499" r="14.499"
              [attr.fill]="formSetting.btn_color?formSetting.btn_color:'#1a9943'" fill-rule="nonzero" />
            <path stroke="#FFF" stroke-linecap="round" stroke-width="1.16"
              d="M9.28 19.719L14.499 14.499 19.719 9.28M9.28 9.28L14.499 14.499 19.719 19.719" />
          </g>
        </svg>
      </i>
      <div [ngStyle]="{ 'direction' : direction }" class="restaurnat-close-popup">
       <div> <img src="assets/images/sleepy.svg" style="margin-right:1rem;" />
        {{languageStrings.sorry_product_not_available_at_moment || 'Sorry product is not available at the moment.'}}
        </div>
      </div>
    </div>
  </app-modal>
