@import '~assets/css/variables';
.theme-color {
  color: var(--theme);
}

.bg-white{
  background-color: #fff !important;

}

.hero-bg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh);
  height: auto;
  position: relative;
}

.hero-setup{
  position: absolute;
  display: flex!important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
}

.hero-text-btn{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 1040px;
  min-width: 60%;
}

.tagline{
  text-align: center;
  font-size: 36px;
  color: #fff;
  margin: 0px 0 35px;
}

.backarw{
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  transition: .5s;
  margin-top: 3rem;
  .yfn-left-arrow{
    font-size: 14px;
  }
}
.addstore{
  padding: 40px 0px;
  span{
    font-size: 24px;
    color: #1b1b1b;
    font-weight: 500;
  }
  p{
    font-size: 16px;
    color: #1b1b1b;
    font-weight: 300;
    margin: 1rem 0rem 2rem 0rem;
  }
}

.pop {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
}

.d-fl {
  display: flex;
  justify-content: space-around;
}

.btn-link {
  color: var(--theme);
}

.newPage{
  /deep/ app-header .top-header{
    background-color: transparent;
    border-bottom: 2px solid transparent;
    position: absolute;
    .header{
      .nav-left{
        .merchant-logo .logo{ img{
          display: none;
        }
        .fa-angle-left{
          display: none;
        }
      }
      }
      .nav-right{
        .items{
          .profile{
            i{
              color: var(--theme) !important;
            }
            .subnavbtn {
              &:hover i{
                color: var(--theme) !important;
              }
                i{
                color: var(--header_font_color) !important;
              }
            }
            .subnav-content > a{
              background: transparent!important;
              border: solid 1px transparent !important;
              color: var(--header_font_color) !important;
              &:hover{
                background: white!important;
                color: var(--theme) !important;
              }
            }
          }
          .dropdown-menu{
            top: 34px;
            min-width: 0px; 
          }
          .changeUrl, .notification, .search{
            display: none;
          }
          .language{
            a{
              padding: 5px 10px !important;
            }
          }
          .login{
            a{
              background-color: white !important;
              color: var(--theme) !important;
              &:hover{
                background-color: var(--theme) !important;
                color: white !important;
              }
            }
          }
          li:not(.drop){
            a:not(.dropAnchor){
              background-color: var(--theme);
              color: white;
              border: 1px solid var(--theme);
              border-radius: 4px;
              height: 35px;
              margin-right: 10px;
              transition: .5s;
              &:hover{
                opacity: 1 !important;
                color: var(--theme);
                background-color: white;
                border: 1px solid var(--theme);
              }
            }
          }
        }
      }
    }
  }
 
}
.location /deep/ app-autocomplete app-map-popup app-modal .modal-body form app-jw-google-autocomplete{
  height: 45px !important;
}
:host /deep/ app-autocomplete app-map-popup app-modal div.model-dialog {
  margin-top: 85px !important;
}
:host /deep/ app-autocomplete app-map-popup app-modal .modal-body{
  border-radius: 5px;
  .buttonAccept button{
    border-radius: 0 !important;
  }
}
.location{
  margin-right: 1rem;
}

:host /deep/.autoCompleteGoogle form .input-group app-jw-google-autocomplete{
  height: 50px !important;
  width: 100% !important;
  min-width: 500px;
  background: transparent !important;
}
:host /deep/.autoCompleteGoogle .auto-detect{
  position: absolute !important;
  right: 0;
  height: 50px !important;
  width: 40px !important;
  background: #fff !important;
  border: 1px solid #e5e5e5 !important;
  border-left: 0px !important;
  border-radius: 4px !important;
  .hideSpan{
    display: none !important;
  }
}
:host /deep/.autoCompleteGoogle form .input-group app-jw-google-autocomplete input{
  background: #fff !important;
  border-radius: 4px !important;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1b1b1b !important
}
.addpartalign{
  text-align: end;
}

.custom-btn {
  margin-right: 2rem;
}

.btn-secondary  {
  display: inline-block;
  padding: 8px 20px;
  height: 50px;
  color: #1b1b1b;
  border: 1px solid var(--theme);
  background-color: var(--white);
  border-radius: 4px;
  font-size: 20px;
  letter-spacing: .1rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--white);
    border: 1px solid var(--theme);
    background-color: var(--white);
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--theme);
    transition: all .5s;
    z-index: -1;
  }
  &:hover {
    color: var(--white);
    border: 1px solid var(--theme);
    background-color: var(--theme);
    &:before {
      width: 100%;
    }
  }
}
.logo {
  img {
    max-width: 500px;
    max-height: 200px;
  }
}


.check-btn{
  margin-left: 20px;
}

@media only screen and (max-width: 767px) {
  .check-btn{
    margin-left: 0px;
  }
  /deep/.autoCompleteGoogle form .input-group app-jw-google-autocomplete{
    min-width: auto !important;
    height: 45px !important;
  }
  .normalView {
    flex-direction: column;
  }
  .location {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .pop {
    form {
      width: 80%;
    }
  }
  .d-fl{
    display: block;
    justify-content: center;
    flex-direction: column;
 }
  .custom-btn {
    margin-right: 0rem;
  }
  .btn-primary{
    width: 100%;
    margin-top: 1rem;
  }
  .btn-secondary{
    margin-bottom: 1rem;
    width: 100%;
  }
  .logo {
    img {
      max-width: 250px!important;
    max-height: 100px!important;
    }
  }
}

.w-100{
  width: 100%;
}