.field_column{
    padding-top:20px
}
.field_title{
color: black;
word-break: break-word;
}
.field_boldy{
margin-top: 5px;
color: #8a7f7f;
}
.repeatProduct {
    border: 1px solid #e4e4ed;
    padding: 10px;
    margin-bottom: 8px;
}
.quantityDiv {
    width: 23.4px;
    height: 23.4px;
    object-fit: contain;
    border-radius: 3.6px;
    background-color: #ffffff;
    padding: 5px 10px;
    border: solid 0.9px #dddddd;
    font-size: 12.6px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: left;
    color: #333333;
}
.backBtn{
    cursor: pointer;
    color:#e13d36;
    font-size:16px;
    margin: 15px 0px !important
}