@import '../../../../theme.scss';
@import '~assets/css/variables';

.flow-container{
  background-color: $flow-bg-color;
  padding-bottom: 80px;
  .title{
    text-align: center;
    h2{
      font-family: $proxima-semi-bold;
      font-size: 32px;
    }
  }
  .row-line{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    .flow-item{
      display: flex;
      flex-direction: column;
      margin-top: 95px;
      position: relative;
      // position: absolute;
      .image{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    
        img{
          max-width: 90px;
          max-height: 100px;
        }
      }
      .heading{
        font-size: 20px;
        text-align: center;
        line-height: 2em;
        color: $flow-item-heading-font-color;
        font-family: $proxima-semi-bold;
        background-color: $flow-bg-color; 
      }
      .description{
        font-size: 16px;
        text-align: center;
        line-height: 1.1em;
        color: $flow-item-description-font-color;
        font-family: $proxima-semi-bold;
        background-color: $flow-bg-color; 
      }
    }
    &:not(.last){
      .flow-item{
        &:after{
          content: '';
          height: 62px;
          background-color: $flow-line-color;
          width: 2px;
          position: absolute;
          left: 50%;
          border: -4;
          bottom: -74px;
        }
      }
    }
    &.last{
      .flow-item:not(:last-child){
        &:after{
          content: '';
          height: 62px;
          background-color: $flow-line-color;
          width: 2px;
          position: absolute;
          left: 50%;
          border: -4;
          bottom: -74px;
        }
      }
      .flow-item:last-child{
        &::before{
          content: "";
          position: absolute;
          left: calc((100% - 16px)/2);
          top: -60px;
          z-index: 999;
          width: 20px;
          height: 20px;
          background-position-y: center;
          background: url('/assets/images/down.png') #fff;
          background-size: contain;
        }
      }
    }
    &.first{
      .flow-item:first-child{
        &::before{
          content: "";
          position: absolute;
          left: calc((100% - 16px)/2);
          bottom: -51px;
          z-index: 999;
          width: 20px;
          height: 20px;
          background-position-y: center;
          background: url('/assets/images/down.png') #fff;
          background-size: contain;
        }
      }
    }
  }
}

// taking mobile first approach. Media queries will only contain ipad & above logic

@media screen and (min-width: 1200px) {
  // large screen devices
  .flow-container{
    .row-line{
      flex-direction: row;
      height: 240px;
      border-bottom: 2px solid $flow-line-color;
      .flow-item{
        width: 22%;
        height: 240px;
        margin-top: 95px;
        &.single-item{
          width: 350px;
        }
        &::before,&::after{
          content: none!important;
        }
      }
      &.first{
        justify-content: space-between;
        .flow-item:last-child{
          margin-right: 50px;
        }
      }
      &.last{
        &.even{
          justify-content: space-between;
          .flow-item:first-child{
            margin-left: 50px;
          }
        }
        &.odd{
          justify-content: space-between;
          flex-direction: row-reverse;         
          .flow-item:first-child{
            margin-left: 0px;
          }
        }
        
      }
      &.odd{
        border-right: 2px solid $flow-line-color;
        &:before{
          content: "";
          position: absolute;
          right: -15px;
          top: 45%;
          z-index: 999;
          width: 30px;
          height: 39px;
          background-position-y: center;
          background: url('/assets/images/down.png') #fff;
        }
      }
      &.even:not(.first){
        border-left: 2px solid $flow-line-color;
        &:before{
          content: "";
          position: absolute;
          left: -15px;
          top: 45%;
          z-index: 999;
          width: 30px;
          height: 39px;
          background-position-y: center;
          background: url('/assets/images/down.png') #fff;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  //ipad
  .odd {
    flex-direction: row-reverse !important;
}
  .flow-container{
    .row-line{
      align-items: center;
      .flow-item{
        max-width: 300px;
        .image{
          height: 160px;
          min-height: 160px;
          max-height: 160px;
        }
      }
    }
  }
}

// large screen
@media screen and (min-width: 1200px){
  .flow-container{
    .container{
      margin-bottom: 80px;
    }
  }
 
}